.d-flex{
    display: flex;
}
.p-l-8{
    padding-left: 8px;
}
.m-b-8{
    margin-bottom: 8px;
}
.m-0-16{
    margin: 0 24px !important;
}
.p-top-60{
    padding-top: 60px;
}

.m-top-54{
    margin-top: 78px;
}

.m-top-58{
    margin-top: 82px;
}
.p-left-24{
    padding-left: 24px;
}
.cls-text-tealish{
    font-size: 14px;
    color: #26bed6;
}
.text-refresh{
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: -0.34px;
    color: #3f3b3b;
    text-align: right;
}
.text-red {
    color: #e52822 !important;
}
.flightsearchresult-header{
    .col-header{
        text-align: center;
        height: 56px;
        margin-top: 14px;

        .div-goback{
            height: 48px;
            width: 48px;
            z-index: 2;

            .header-img-back{
                width: 36px;
                margin-top: 6px;
            }
        }

        .div-header-title{
            width: 100%;
            z-index: 0;
            position: absolute;
            .div-title{
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.6;
                letter-spacing: -0.45px;
                color: #3f3b3b;
            }
            .div-subtitle{
                font-size: 14px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.82;
                letter-spacing: -0.31px;
                color: #868998;
            }
        }
       
        .arrow-down{
            padding-left: 6px;

            .img-down{
                position: absolute;
                top: 30px;
            }
        }

        .div-quick-back{
            font-size: 32px;
            position: absolute;
            right: 2px;
            color: #bdbdbd;
            letter-spacing: -3.5px;
            top: 0px;
            padding: 0 16px;
        }
    }
}

.flightsearchresult-content{
    padding: 16px;
    background: #f2f2f2;
    
    .text-loading{
        font-size: 14px;
        font-weight: 500;
        color: #26bed6;
        letter-spacing: -0.34px;
        margin-bottom: 16px;
        text-align: left;
    }
    .p-bottom-8{
        padding-bottom: 8px;
    }
    .p-top-32{
        padding-top: 32px;
    }
    .div-width-100{
        width: 100%;
    }
    .div-width-50{
        width: 55%;
    }
    .div-width-150{
        width: 150%;
    }
    .text-other-choice{
        font-size: 14px;
        color: #828282;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 300;
        letter-spacing: -0.34px;
        line-height: 16px;
    }

    .div-best-choice{

        .bp-firstitem{
            border: solid 2px #e52822 !important;

            .div-text-promo{
                top: -14px !important;
                right: -10px !important;
            }
        }

        .div-item-flight{
            border: solid 0.3px #e52822;
        }

        .div-text-promo{
            top: -13px !important;
            right: -9px !important;
        }
    }

    .div-text-center{
        text-align: center;
        align-self: center;
        margin: -16px;
        background: #fff;
        height: 100%;
        padding: 0 16px;

            .text-title-empty{
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: -0.48px;
                color: #222222;
            }
            .text-empty{
                font-size: 14px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: -0.4px;
                color: #828282;
            }

            .div-button-empty{
                margin-top: 16px;
            }

            
            .m-left-8{
                margin-left: 8px;
            }

            .btn-change-search{
                border-radius: 4px !important;
                border: solid 1px #f59233;
                font-size: 18px !important;
                font-weight: 600 !important;
                line-height: 1.5;
                color: #f59233;
                width: 100%;
                background: #fff;
            }
            .btn-change-date{
                border-radius: 4px !important;
                border: solid 1px #f59233;
                font-size: 18px !important;
                font-weight: 600 !important;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #fff;
                background: #f59233;
                width: 100%;
            }
    }

    .div-load-price{
        text-align: center;
        align-self: center;
        color: #828282;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div-title-content{
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        top: 60px;
    }

    .div-text-promo{
        position: absolute;
        top: -12px;
        right: -8px;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: -0.34px;
        color: #ffffff;
        border-radius: 0 0px 0 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 138px;
        background: #9fc43a;
        padding: 2px 16px;
        text-align: center;
    }

    .promo-other{
        top: -12px !important;
        right: -12px !important;
    }

    .div-item-flight,.div-item-flight-other{
        width: 100%;
        height: 110px;
        border-radius: 4px;
        box-shadow: 0 0 8px 0 rgba(38, 190, 214, 0.2);
        background-color: #fff;
        padding: 12px 8px 12px 8px;

        .div-logo{
            height: 21px;

            .img-logo{
                height: 21px;
            }

            .logo-vna{
                height: 16px !important;
            }
        }

        .ic-down{
            width: 24px;
            height: 24px;
        }

        .div-flight-time{
            font-size: 10px !important;
            letter-spacing: -0.69px !important;
            color: #828282;
            width: 70px;
            text-align: center;
            padding-left: 0 !important;
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin: 0 16px;
        }
        .div-split{
            height: 3px;
            margin-bottom: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 30%;
                margin: 0 34%;
            }
        }
        .flight-type{
            font-size: 12px;
            font-weight: 300;
            line-height: 1.67;
            letter-spacing: -0.34px;
            color: #494b55;
            margin-top: 3px;

            max-width: 104px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            
        }
        .text-operatedBy{
            font-size: 10px;
            font-weight: 300;
            line-height: 1.67;
            letter-spacing: -0.34px;
            color: #828282;
            position: relative;
            bottom: 14px;
        }
        .m-top-6{
            margin-top: 6px !important; 
        }
        .top-0{
            top: 0px !important;
        }
        .icon-detail{
            //padding-left: 8px;

            display: flex;
            flex-direction: column;
            //justify-content: end;

            .img-detail{
                margin-left: 4px;
                margin-top: 2px;
                width: 16px;
            }
            .m-top-3{
                margin-top: 3px !important;
            }
        }

        .div-first{
            position: relative;

           .div-departcode{
                width: 33px;
                height: 14px;
                border-radius: 12px;
                background-color: #f3f3f3;

                font-size: 10px;
                letter-spacing: 0.12px;
                color: #828282;
                text-align: center;
           }
         

            .flight-price{
                position: absolute;
                right: 0;
                text-align: right;
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: -0.48px;
                color: #26bed6;
            }
        }

        .div-time{
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.48px;
            color: #494b55;
        }

        .div-flight-time{
           
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.48px;
            color: #494b55;
            padding-left: 8px;
        }
        .div-flight-price{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .flight-before-discount{
                font-size: 11px;
                color: #828282;
                right: 0;
                position: absolute;
                top: 18px;

                .text-discount{
                    font-size: 12px;
                    color: #e52822;
                    text-decoration: line-through;
                }

               
            }

            .fp-discount{
                color: var(--ion-color-primary);
                font-size: 15px;
                bottom: -10px;
            }

            .div-apply-discount {
                color: #9fc43a;
                padding: 2px 4px;
                position: absolute;
                right: 0;
                top: 15px;
                font-size: 12px;
                text-align: center;
                background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239FC43AFF' stroke-width='1.5' stroke-dasharray='5%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 160px;
            }
        }
        .div-second{
            margin-top: 12px;
            position: relative;

           

            .div-button{
                position: absolute;
                right: 0;
                text-align: right;
                top: -6px;

                .btn-select{
                    width: 80px !important;
                    height: 29px !important;

                    color: #ffffff;
                    background: #f79221;
                    border-radius: 4px !important;
                    font-size: 18px !important;

                    font-size: 14px !important;
                    font-weight: 500 !important;
                    line-height: 1.5;
                    letter-spacing: -0.28px;
                }
            }
        }
        
    }

    .div-item-flight-other{
        border: none !important;
    }
    .p-l-4{
        padding-left: 4px;
        padding: 0 6px 6px;
    }
}

.div-footer-filtersort{
    background: #fff;
    .img-filter{
      position: absolute;
      top: 0px;
      padding-left: 40px;
    }
    .label-filter{
      top: 17px !important;
      position: absolute;
      left: 50%;
      z-index: 9;
    }
    .text-sort-and-filter{
        top: 22px;
        position: absolute;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: -0.4px;
    }

    .div-split{
        position: absolute;
        height: 20px;
        border-right: solid 1px #ccc;
        top: 20px;
        padding-left: 99%;
    }

    .flightdeparture-button-filter{
        position: relative;

        
    }
    .cls-badge-filter{
        top: 8px !important;
        left: 40% !important;
    }

    .cls-badge-filter {
        width: 12px;
        height: 12px;
        color: #26bed6;
        padding-top: 2px;
        font-size: 10px;
    }
    .chk-order{
        position: absolute;
        left: 136px;
        top: 22px;
      }
  }
  

  .div-depart-flight-choice{
    height: 54px;
    margin: 0px -16px 16px -16px;
    padding: 0 16px;
    position: fixed;
    width: 100%;
    z-index: 10;

    .div-border-choice {
        border: solid 1px #26bed6;
        padding: 0px 16px 6px 10px;
        border-radius: 4px;
        background: #fff;
    }
    .div-icon-flight{
        width: 18px;
        margin-right: 12px;
        width: 12%;
    }
    .div-flight-info{
        width: 200%;
        margin-top: 10px;
    }
    .div-time-and-price{
        font-size: 15px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.36px;
        color: #333333;
    }

    .div-code{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.67;
        letter-spacing: -0.54px;
        color: #6d6e71;
    }
    .div-text-change{
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: -0.14px;
        color: #2f80ed;
        text-align: right;
        width: 50%;
        text-decoration: underline;
    }
  }
  .v-align-center{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .float-enabled{
    position: fixed;
    top: calc(env(safe-area-inset-top) + 70px) !important;
    
    background: #fff;
    width: 100%;
    margin-left: -16px;
    padding-left: 16px;
    z-index: 99;
    transition: top 0.5s ease-out;
    padding-top: 8px !important;
  }

  .float-depart-choice{
    top: calc(env(safe-area-inset-top) + 70px) !important;
  }
  .top-114{
      top: calc(env(safe-area-inset-top) + 114px) !important;
  }
  .top-124{
      top: calc(env(safe-area-inset-top) + 124px) !important;
  }
  
  ::ng-deep{
    .action-sheets-flightsearchresult-sort .action-sheet-container.sc-ion-action-sheet-ios, .action-sheets-flightsearchresult-fitler .action-sheet-container.sc-ion-action-sheet-ios{
        padding: 0;
    }

    .action-sheets-flightsearchresult-sort .action-sheet-group.sc-ion-action-sheet-ios, .action-sheets-flightsearchresult-fitler .action-sheet-group.sc-ion-action-sheet-ios{
        margin: 0;
        border-radius: 0;
    }

    .action-sheets-flightsearchresult-sort .action-sheet-button.sc-ion-action-sheet-ios, .action-sheets-flightsearchresult-fitler .action-sheet-button.sc-ion-action-sheet-ios{
        padding: 0;
        border-bottom: solid 0.5px #f2f2f2;
        margin-left: 16px;
        margin-right: 16px !important;
        width: 92%;
    }
    .action-sheets-flightsearchresult-sort .sc-ion-action-sheet-ios.selected, .action-sheets-flightsearchresult-fitler .sc-ion-action-sheet-ios.selected {
        background-image: url('../../../assets/imgs/ic_check.svg');
        background-repeat: no-repeat;
        background-position: right;
        width: 92%;
    }
    .action-sheets-flightsearchresult-sort .sc-ion-action-sheet-md.selected, .action-sheets-flightsearchresult-fitler .sc-ion-action-sheet-md.selected {
      background-image: url('../../../assets/imgs/ic_check.svg');
      background-repeat: no-repeat;
      background-position: right;
      width: 100%;
  }
  
    .action-sheets-flightsearchresult-sort .action-sheet-title.sc-ion-action-sheet-ios, .action-sheets-flightsearchresult-fitler .action-sheet-title.sc-ion-action-sheet-ios{
      font-size: 18px;
      color: #000000;
      line-height: 27px;
      letter-spacing: -0.51px;
      font-weight: 600;
      text-align: left;
    padding-left: 16px;
  }
   
    .cls-border-bottom .action-sheet-button-inner.sc-ion-action-sheet-ios{
        border-bottom: solid 0.5px #f2f2f2;
    }

    .action-sheets-flightsearchresult-sort .action-sheet-button-inner.sc-ion-action-sheet-ios, .action-sheets-flightsearchresult-fitler .action-sheet-button-inner.sc-ion-action-sheet-ios {
        width: 100%;
        height: 100%;
        color: black;
        font-size: 14px;
        justify-content: left;
    }
    .action-sheets-flightsearchresult-sort .action-sheet-button.sc-ion-action-sheet-ios, .action-sheets-flightsearchresult-fitler .action-sheet-button.sc-ion-action-sheet-ios {
        padding: 0;
        border-bottom: solid 0.5px #f2f2f2;
        margin-left: 16px;
        margin-right: 16px !important;
        width: 92%;
        height: 56px;
    }
    .action-sheets-flightsearchresult-sort .action-sheet-selected.sc-ion-action-sheet-ios, .action-sheets-flightsearchresult-fitler .action-sheet-selected.sc-ion-action-sheet-ios{
        background-image: url('../../../assets/imgs/ic_check.svg');
        background-repeat: no-repeat;
        background-position: right;
        width: 92%;
    }
    
    .cls-alert-refreshPrice.alert-button-group.sc-ion-alert-ios button:first-child{
        display: block !important;
    }

    .alert-button-group.sc-ion-alert-ios.cls-alert-refreshPrice button:first-child{
        display: block !important;
    }

    @media (min-height:812px) and (max-width: 870px) {
        .action-sheets-flightsearchresult-sort .action-sheet-wrapper.sc-ion-action-sheet-ios {
            margin-bottom: 0;
        }
        .action-sheets-flightsearchresult-sort .action-sheet-group.sc-ion-action-sheet-ios:last-child {
            padding-bottom: 40px;
        }
    }

    .btn-filter .sc-ion-action-sheet-ios{
        border: solid 1px #ec971f;
        border-radius: 4px;
        text-align: center;
        color: #ec971f;
        height: 42px !important;
      }

      .btn-filter .action-sheet-button-inner.sc-ion-action-sheet-ios{
        justify-content: center;
        color: #ec971f;
        font-size: 16px;
        font-weight: bold;
      }

      .cls-hidden-filter {
        opacity: 0;
      }
    ion-modal{ 
        transform:none !important; 
        -webkit-transform:none !important; 
    }

    @media (min-height:812px) and (max-height: 1024px) {
        .action-sheets-flightsearchresult-sort .alert-button-group.sc-ion-alert-ios, .action-sheets-flightsearchresult-fitler .alert-button-group.sc-ion-alert-ios{
          margin-bottom: 30px;
        }
      }
      .ion-page{
        overflow-y:hidden;
    }

    ///style

    .sc-ion-alert-ios-h.cls-alert-searchresult {
        --background: var(--ion-overlay-background-color,var(--ion-color-step-150,#f9f9f9)) !important;
        --max-width: 290px !important;
       
        font-size: 14px !important;
        --min-width: 250px !important;
        --width: auto !important;
        --min-height: auto !important;
        --height: auto !important;
        --max-height: 90% !important;
        -webkit-font-smoothing: antialiased !important;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        display: flex !important;
        position: fixed !important;
        align-items: center !important;
        justify-content: center !important;
        font-family: var(--ion-font-family,inherit) !important;
        touch-action: none !important;
        user-select: none !important;
    }
  
    
   
    .cls-alert-searchresult .alert-button-group.sc-ion-alert-ios button:first-child {
          display: block !important;
      }
      .sc-ion-alert-ios-h.cls-alert-searchresult  {
          --background: var(--ion-overlay-background-color,#fff);
          font-size: 14px;
          align-items: center !important;
      }

      .cls-alert-searchresult .alert-wrapper.sc-ion-alert-ios {
            width: 80% !important;
            min-width: 80% !important;
            border-radius: 13px !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            overflow: hidden !important;

            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: var(--width);
            min-width: var(--min-width);
            max-width: var(--max-width);
            height: var(--height);
            min-height: var(--min-height);
            max-height: var(--max-height);
            background: var(--background);
            contain: content;
            opacity: 0;
            z-index: 10;
        }

        .cls-alert-searchresult .alert-button-group.sc-ion-alert-ios {
            display: flex !important;
            flex-direction: row !important;
            width: 100% !important;
            flex-wrap: nowrap !important;
            font-size: 14px !important;
            margin-bottom: 0px !important;
            font-size: 14px !important;
        }

        .cls-alert-searchresult .alert-button.sc-ion-alert-ios {
            margin-left: 0  !important;
            margin-right: 0  !important;
            margin-top: 0  !important;
            margin-bottom: 0  !important;
            border-radius: 0  !important;
            -ms-flex: 1 1 auto  !important;
            flex: 1 1 auto  !important;
            min-width: 50%  !important;
            height: 44px  !important;
            border-top: .55px solid rgba(var(--ion-text-color-rgb,0,0,0),.2)  !important;
            border-right: .55px solid rgba(var(--ion-text-color-rgb,0,0,0),.2)  !important;
            background-color: transparent  !important;
            color: var(--ion-color-primary,#3880ff)  !important;
            font-size: 17px  !important;
            overflow: hidden  !important;
        }

        .action-sheets-flight-promo .action-sheet-title.sc-ion-action-sheet-md{
            font-size: 16px;
            font-weight: bold;
            color: #333333;
            height: 48px;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .action-sheets-flight-promo .action-sheet-button-inner.sc-ion-action-sheet-md{
            line-height: 1.4;
            letter-spacing: normal;
            color: #333333;
            font-size: 14px;
        }

        .action-sheets-flight-promo .action-sheet-button.ion-activatable.sc-ion-action-sheet-md{
            padding-bottom: 16px;
            min-height: 114px;
        }

        @media (min-width:412px) and (max-width: 420px) {
            .action-sheets-flight-promo .action-sheet-button.ion-activatable.sc-ion-action-sheet-md{
                padding-bottom: 16px !important;
            }

            .action-sheets-flight-promo .div-close-promo{
                bottom: 134px !important;
            }

            .action-sheets-flight-promo.height-194 .action-sheet-button.ion-activatable.sc-ion-action-sheet-md{
                padding-bottom: 16px !important;
                min-height: 194px !important;
            }
            .action-sheets-flight-promo.height-194 .div-close-promo{
                bottom: 214px !important;
            }
        }
        .action-sheets-flight-promo ion-backdrop{
            opacity: 0.5 !important;
            background-color: #222222;
        }

        .action-sheets-flight-promo .div-close-promo{
            position: absolute;
            z-index: 9;
            right: 16px;
            bottom: 170px;
        }

        @media (min-width:350px) and (max-width: 375px) {
            .div-title-content{
                font-size: 16px !important;
            }
            .m-top-4 {
                margin-top: 1px !important;
            }
            .m-top-58 {
                margin-top: 79px !important;
            }
        }
}
.action-sheets-flight-promo .div-close-promo{
            position: absolute;
            z-index: 9;
            right: 16px;
            bottom: 170px;
        }

        .div-time-priority{

            .img-time-priority{
                position: absolute;
                left: 0px;
            }
    
            .text-time-priority{
                position: absolute;
                top: 20px;
                left: 40px;
            }
        }

        .top-15{
            top: 15px !important;
        }

        .stick-css {
            transition: top 0.5s ease-out;
            margin-top: -16px !important;
        }
        .top-0 {
            top: 0px !important;
        }
        .btn-deactive {
            opacity: 0.6;
            filter: grayscale(1);
            -webkit-filter: grayscale(1);
        }