::ng-deep {
    .totalPrice
{
    color: #26BED6;
    font-weight: bold;
}
}
.button2
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 90%;
}

.div-btn
{
    background-color: #ffffff; text-align: center;margin-top: 20px
}
.mt15
{
    margin-top: 15px;
}
.totalPrice {
    font-weight: bold;
    color: #26BED6;
}
.textpayment{
    color:#003C71; 
    font-weight:bold
}
.text{
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 2;
}
