    .text{
        font-size: 18px;
        font-weight: bold
    }
    .button2
    {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 90%;
    } 
    .button4
    {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 30%;
        font-size: 12px;
    }
 
    .list-departure{
        margin: 0;
        display: inline-flex;
    }

    .rd-departure .radio-icon{
        width: 12px;
        height: 12px;
    }
   
    .radio-md .radio-inner{
        left: 1px;
        top: 1px;
        width: 6px;
        height: 6px;
    }
    .radio-md .radio-checked {
        border-color: #26bed6;
    }
    .toolbar-title-md {
        text-align: center;
        margin-right: 70px;
      }
      .cls-label
      {
          color: #828282;
          font-size: 14px;
      }  
      .label-input{
        font-size: 18px;
        font-weight: 300;
        color: #000000;
      }
      .ion-checkbox{
        width: 16px;
        height: 16px;
        margin: -2px;
      }
      

      .div-close-paxhint{
        right: -6px;
        position: absolute;
        z-index: 14;
        top: -0;
        width: 48px;
        height: 48px;
        padding: 12px;
        text-align: center;
      }

      .div-pax-hint{
        padding: 16px 16px 0 16px;
        width: 100%;
        height: 128px;
        overflow: scroll;

        border-bottom: solid 2px #f2f2f2;

        .d-flex{
          display: flex;
        }
        .m-bottom-16{
          margin-bottom: 16px;
        }
       // margin: 16px -16px;
        .icon-pax{
            margin-right: 12px;
        }

        .text-pax-hint{
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.4px;
            color: #222222;
        }
    }
    ::ng-deep {
      .label-stacked.sc-ion-label-md-h {
        transform: translateY(50%) scale(1) !important;
      }
      .native-input.sc-ion-input-md {
        font-size: 18px;
        font-weight: 300;
        padding-bottom: 0;
      }
    }
    .m-left-8{
      margin-left: 8px;
  } 