.insurrance-header{
    .div-goback{
        position: absolute;
        height: 48px;
        width: 48px;
        top: 6px;
        z-index: 888;
    }
    .img-goback{
        height: 48px; 
        padding: 8px;
        margin-top: -7px;
        margin-left:-14px
    }
    .toolbar-title{
        font-weight: bold;
        padding-top:0;
    }
    ion-title {
        font-size: 18px !important;
        padding-top: 0;
    }
} 

.insurrance-note{
    .note-title1{
        padding: 24px 16px 0 16px;
        text-align: center;
        font-size: 16px !important;
        font-weight: bold;
    }
    .note-title2{
        padding: 24px 16px;
        text-align: center;
        font-size: 16px !important;
        font-weight: bold;
    }
    .no-padding{
        padding: 0;
    }

    .text-right{
        text-align: right;
    }
    .logo-insurance{
        width: 100px;
    }
    .text-logo{
        font-weight: bold;
    }

    .table-insurrance{
        //padding: 16px;
        font-size: 11px;
        .text-left{
            text-align: left;
        }
        ion-col{
            padding: 5;
            text-align: center;
            align-self: center;
        }
        .col-height{
            height: 38px;
        }
        
        .row-header{
            background-color: #9BBB59;
        }
        .row-border{
            border: solid 0.5px #000;
        }
        .row-border-no-top{
            border: solid 0.5px #000;
            border-top: none;
        }
        .col-border-lr{
            border-left: solid 0.5px #000;
            border-right: solid 0.5px #000;
        }
        .col-border-l{
            border-left: solid 0.5px #000;
        }
        .col-border-r{
            border-right: solid 0.5px #000;
        }
        .text-bold{
            font-weight: bold;
        }

        .note-title{
            padding: 16px;
            padding-top: 24px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        .note-sub-title{
            padding: 0 16px;
            font-size: 14px;
            font-style: italic;
            text-align: center;
        }
    }
    .note-content{
        padding: 16px;
        font-size: 14px;

        .note-header-text{
            font-weight: bold;
        }
        .p-left-14{
            padding-left: 14px;
        }
        .p-left-16{
            padding-left: 16px;
        }
        .p-top-16{
            padding-top: 16px;
        }
        .p-top-30{
            padding-top: 30px;
        }
        .p-top-12{
            padding-top: 12px;
        }
        .p-top-24{
            padding-top:24px;
        }
        .p-top-8{
            padding-top:8px;
        }
        .p-left-36{
            padding-left: 36px;
        }
        .text-italic{
            font-style: italic;
        }
        .text-right{
            text-align: right;
        } 
        .text-bold{
            font-weight: bold;
        }
        .note-content-header{
            padding: 8px 0;
            font-size: 16px;
            font-weight: bold;
            color: #0070C0;
        }
        .note-content-sub-header{
            font-size: 14px;
            font-weight: bold;
        }
        .hot-line{
            padding-top: 24px;
        }
        .note-sub-text{
            font-size: 11px;
            font-style: italic;
        }
        .note-content-text{
            line-height: 24px;
        }
    }
    .text-callcenter{
        color: #26bed6;
        font-weight: bold;
        padding: 10px 0;
    }
}