<ion-header class="biztravel-header">
    <ion-row>
      <ion-col class="col-header">
        <div class="d-flex">
          <div class="div-goback" (click)="goback()">
              <img class="header-img-back" src="./assets/imgs/ios-arrow-round-back.svg" >
          </div>
          <div class="div-header-title">
            <div class="div-title">Chính sách quyền riêng tư</div>
            <div class="text-ivivu text-bold f-13">{{subtitle}}</div>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content>
    <div class="user-privacy-policy-content">
        <div>Tại iVIVU.com chúng tôi cam kết tuân thủ việc bảo vệ quyền riêng tư và bảo mật thông tin cá nhân (gọi tắt là PII) mà bạn cung cấp.Thông tin cá nhân có thể là tên, địa chỉ, điện thoại hoặc điạ chỉ email.

            Chính sách riêng tư này giải thích về cách thức chúng tôi xử lý và bảo vệ thông tin cá nhân theo qui định được chấp nhận bởi hiệp hội bảo vệ chính sách cá nhân. Những chính sách này được điều chỉnh vào ngày 18 tháng 3 năm 2011.
            Chúng tôi cam kết bảo mật thông tin cho dù có thay đổi hay sửa đổi chính sách này bất luận thời gian và lý do. Bất kỳ sự thay đổi về chính sách bảo vệ thông tin cá nhân sẽ được thông báo sớm trước khi thực thi. Mọi ý kiến thắc mắc xin gửi qua địa chỉ email <span class="text-ivivu">info@ivivu.com</span> hoặc gửi đến:
        </div>
        <div class="text-subtitle"><span class="text-bold">- Văn phòng tại Tp. Hồ Chí Minh: </span>Lầu 7, Tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp. Hồ Chí Minh, Việt Nam</div>
        <div class="text-subtitle"><span class="text-bold">- Văn phòng tại Hà Nội: </span>P.308, Tầng 3, Tòa nhà The One, số 2 Chương Dương Độ, Q.Chương Dương, Q.Hoàn Kiếm, Hà Nội, Việt Nam</div>
        <div class="text-subtitle"><span class="text-bold">- Văn phòng tại Cần Thơ: </span>166B Trần Hưng Đạo, P. An Nghiệp, Quận Ninh Kiều, Tp Cần Thơ, Việt Nam</div>
        <div class="text-title text-bold text-ivivu">Chúng tôi lưu trữ thông tin gì?</div>
        <div>Mọi nỗ lực giữ vững dịch vụ không đơn thuần là chúng tôi chỉ tạo hoặc lưu trữ thông tin khách hàng.Chúng tôi chỉ lưu lại PII và những thông khác cần để trao đổi thông tin với bạn.</div>
        <div class="text-title text-bold text-ivivu">Chúng tôi sử dụng thông tin của bạn như thế nào?</div>
        <div>Chúng tôi chỉ sử dụng PII để trả lời và yêu cầu cho dịch vụ và sản phẩm của chúng tôi.</div>
        <div class="text-title text-bold text-ivivu">Chúng tôi chia sẻ thông tin cuả bạn với ai?</div>
        <div>Chúng tôi không tiết lộ thông tin đặt phòng cho bất kỳ ai.</div>
        <div class="text-title text-bold text-ivivu">Bạn điều chỉnh và truy cập thông tin của bạn như thế nào?</div>
        <div>Chúng tôi hi vọng những khách ghé thăm website và có thay đổi thông tin lưu trữ và sử dụng PII.</div>

        <div class="text-title text-bold text-ivivu">Chúng tôi bảo vệ thông tin cá nhân bạn như thế nào?</div>
        <div>Để đảm bảo độ tin cậy PII , chúng tôi đã sử dụng những kỹ thuật bảo mật cùng thao tác kiểm tra và cập nhật thường xuyên.</div>

        <div class="text-title text-bold text-ivivu">Chúng tôi lưu trữ thông tin gì?</div>
        <div>Với nỗ lực duy trì dịch vụ của chúng tôi đơn giản tối đa, chúng tôi không tạo, sử dụng hoặc lưu trữ thông tin của khách hàng ngoài mục đích gửi các thông tin hấp dẫn (xem chi tiết dưới đây). Chúng tôi chỉ sử dụng PII trả lời và yêu cầu cho dịch vụ và sản phẩm của chúng tôi. Trên trang iVIVU.com lưu trữ PII. Chúng tôi mô tả cụ thể thông tin yêu cầu gửi tới bạn của những dịch vụ hay sản phẩm bạn yêu cầu.
            Chúng tôi lưu PII khi :</div>
            <div class="p-16 text-bold">•	Đặt phòng:</div>
            <div>Chúng tôi lưu họ tên , địa chỉ email và số điện thoại mỗi lần bạn đặt phòng tại iVIVU.com đồng thời thu thập thông tin thẻ tín dụng , loại thẻ , số bảo mật , tên chủ thẻ , hạn sử dụng thẻ để thanh toán khoản phí thuê phòng trên trang iVIVU.com
            </div>
            <div class="p-16 text-bold">•	Chọn “ Ghi nhớ những thông tin trong thời gian tới” ở trang đặt phòng</div>
            <div>Chúng tôi lưu lại họ tên , địa chỉ email ,số điện thoại , loại thẻ tín dụng , tên chủ thẻ khi bạn chọn “Ghi nhớ những thông tin trong thời gian tới ” khi đặt phòng.
            </div>
            <div class="p-16 text-bold">•	“shortlist“ khách sạn yêu thích</div>
            <div>Chúng tôi sử dụng cookie để thêm thuộc tính về khách sạn vào “Shortlist” do đó bạn có thể truy xuất dễ dàng thời gian tới .Thuộc tính được thêm vào shortlist bằng 2 cách: cách thứ nhất là bạn chọn thêm trực tiếp từ trong trang web hoặc cách thứ hai là hoàn tất đặt phòng và click “Chấp nhận”
            </div>
            <div class="p-16 text-bold">•	Đăng ký nhận tin tức của chúng tôi</div>
            <div>iVIVU.com lưu địa chỉ email, tên, nơi cư ngụ và phương thức liên lạc ưa thích từ mọi người đăng ký cho newsletter để phục vụ tốt hơn.
            </div>
            <div class="p-16 text-bold">•	Thông tin khảo sát , tin khuyến mãi và dự thi.</div>
            <div>Định kỳ, Chúng tôi có thể gửi đến những khách viếng thăm hoặc những người nhận newsletter cơ hội tham gia cuộc khảo sát đề cử, khuyến mại hoặc dự thi. PII chúng tôi lưu khi bạn tham gia cuộc khảo sát là họ tên, địa chỉ, số điện thoại.
            </div>
            <div class="p-16 text-bold">•	Liên hệ iVIVU.com</div>
            <div>Chúng tôi lưu PII như họ tên, địa chỉ email và số điện thoại khi bạn click submit gửi thông tin hoặc đề nghị , phản hồi và yêu cầu đặt phòng
            </div>
        <div class="p-16">Những thông tin khác mà chúng tôi sẽ lưu</div>
            <div class="p-16 text-bold">•	Thông tin thống kê </div>
            <div>Khi bạn ghé website chúng tôi sẽ ghi nhận lại thông tin lần ghé và mục địch yêu cầu của bạn , nó không bao gồm PII
            </div>
            <div class="p-16 text-bold">•	Cookies</div>
            <div>Chúng tôi tùy vào mỗi thời gian mà sử dụng “cookie” lưu trữ thông tin yêu thích và thông tin chủ chốt mỗi lần bạn ghé thăm và truy cập trang web của chúng tôi, lưu trữ thông tin trang web được ghé thăm để chúng tôi cải thiện trang web của chúng tôi
            Là phần thông tin mà được chuyển đến ỗ cứng máy của bạn để lưu trữ mục đích .Cookie làm duyệt web trở nên hiệu quả về việc lưu trữ thông tin yêu thích của bạn trên mỗi trang web .Sử dụng cookies là một tiêu chuẫn và có rất nhiều website sử dụng nó cũng cấp những đặc tính đến cho bạn
            Bạn có thể xóa cookies bất cứ lúc nào (xem menu “help” trình duyệt của bạn để biết thêm thông tin ), tuy nhiên quá trình này cũng sẽ xoá tất cả cookies khác ngoài cookies của iVIVU.com. Bạn cũng có thể remove cookie cụ thể có kết nối tới một khách sạn trong shortlist bằng cách nhấp vào nút bỏ chọn khi khách sạn hiện ra trong shortlist.
        </div>
          

            <div class="text-title text-bold text-ivivu">Chúng tôi sử dụng thông tin của bạn như thế nào?</div>
            <div>Chúng tôi sử dụng PII với mục đích giải đáp những thắc mắc về dịch vụ và sản phẩm khi bạn đặt phòng. Thông tin thu thập trên iVIVU.com có thể là:</div>
 
                <div class="p-16 text-bold">•	Mua sản phẩm và dịch vụ iVIVU.com</div>
                <div>Thông tin được lưu khi bạn khi bạn mua dịch vụ của chúng tôi để tính phí cho thẻ tín dụng và gửi xác nhận đặt phòng. Chúng tôi sẽ liên hệ với bạn về đặt phòng của bạn cùng với những lời chào có liên quan từ chúng tôi hoặc các đối tác của chúng tôi mà hấp dẫn bạn. Chúng tôi cũng có thể liên lạc với bạn cho mục đích khảo sát phục vụ khách hàng, hoặc mục đích đổi hoặc huỷ đơn đặt phòng của bạn.</div>
           
                <div class="p-16 text-bold">•	Hiển thị thông tin chi tiết khi bạn đặt phòng lần tới với chúng tôi</div>
                <div>Chúng tôi chỉ hiển thị chi tiết thông tin cá nhận của bạn khi bạn chọn “Ghi nhớ những thông tin cho lần tới” với mục đích giảm thiểu thông tin bạn điền vào khi đặt phòng .Những thông tin như họ tên, địa chỉ email, số điện thoại, loại thẻ tín dụng và tên có trên thẻ sẽ được lưu. Chúng tôi cũng sẽ thêm cáci khách sạn bạn đã đặt vào danh sách shortlist để truy cập dễ dàng hơn vào các lần sau</div>
                 
                <div class="p-16 text-bold">•	Gửi newsletter email</div>
                <div>Chúng tôi chỉ gửi newsletter tới những người chấp nhận việc này. Newsletter của chúng tôi cung cấp các thông tin về các giảm giá hấp dẫn, và định kỳ cung cấp các phần thưởng nhỏ cho việc hoàn thành bài khảo sát hoặc tham dự thi hoặc các khuyến mãi. Chúng tôi sử dụng các thiết đặt cá nhân mà bạn cung cấpcho chúng tôi để tìm các thông tin phù hợp yệu cầu.</div>
                 
                <div class="p-16 text-bold">•	Kết nối Facebook</div>
                <div>Bạn có thể tham gia và đăng nhập qua tài khoản Facebook. Nếu bạn tham gia qua Facebook, Facebook sẽ đề nghị bạn cho phép tiết lộ một số dữ liệu trong tài khoản Facebook của bạn cho chúng tôi. Các dữ liệu này có thể bao gồm tên, họ và địa chỉ email của bạn để phục vụ cho việc xác thực danh tính và giới tính, cũng như địa điểm chung, liên kết tới hồ sơ Facebook, múi giờ, ngày sinh, ảnh hồ sơ.</div>
                
                <div class="p-16">Dữ liệu này sẽ được Facebook thu thập và truyền cho chúng tôi. Bạn có thể kiểm soát những thông tin chúng tôi nhận từ Facebook thông qua các cài đặt bảo mật trong tài khoản Facebook.</div>
                <div class="p-16 text-bold">•	Giải đáp những thắc mắc và yêu cầu</div>
                <div>Chúng tôi sẽ sử dụng địa chỉ email và /hoặc số điện thoại để liên hệ với bạn khi bạn gửi những câu hỏi hay đề xuất.</div>
               

                <div class="text-title text-bold text-ivivu">Chúng tôi chia sẻ thông tin của bạn với ai?</div>
                <div>Chúng tôi không tiết lộ bất kỳ thông tin nào về đặt phòng của khách hàng cho bất cứ ai ngoại trừ những tình huống sau:</div>
 
                    <div class="p-16 text-bold">•	Nhà cung cấp phòng</div>
                    <div>Chúng tôi cung cấp tên , địa chỉ ,số điện thoại của bạn và (những trường hợp ngoại lệ) email của bạn cho mỗi lần đặt phòng với nhà cung cấp phòng tương ứng .Nhà cung cấp phòng sẽ yêu cầu có những thông tin này khi đặt phòng và được sử dụng để liên hệ với bạn về đơn đặt phòng của bạn. Mặc dù, chúng tôi cung cấp bởi nhà cung cấp phòng uy tín, chúng tôi cũng không hạn chế nhất định được trong việc sử dụng hay tiết lộ thông tin cá nhân của bạ mà không có sự cho phép của bạn từ họ. Chúng tôi khuyến khích bạn nên xem xét chính sách bảo vệ quyền cá nhân của bất kỳ nhà cung cấp nào trên website.</div>
                     
                    <div class="p-16 text-bold">•	Nhà cung cấp dịch vụ</div>
                    <div>Chúng tôi làm việc với nhà cung cấp cổng thanh toán trực tuyến và nhà cung cấp dịch vụ kiểm soát thẻ giả mạo để mang tới an toàn trong giao dịch bằng thẻ tín dụng trên iVIVU.com. Chúng tôi cung cấp thông tin thẻ (khi cần thiết) liên quan tới các đặt phòng để họ xử lý và theo dõi thanh toán dưới sự cấp phép của chúng tôi.</div>
                     
                    <div class="p-16 text-bold">•	Những nghĩa vụ về luật pháp:</div>
                    <div>Chúng tôi sẽ phải tuân thục luật pháp khi phải tiết lộ thông tin mà bạn cung cấp cho chúng tôi với mục đích chứng minh các sản phẩm hay dịch vụ của iVIVU.com. Chúng tôi cũng có thể tiết lộ thông tin các cá nhân gây hại cho chúng tôi (ví dụ khách hàng giả mạo) hoặc sở hữu những hành vi đe doạ người khác.</div>
                    
                    
                
                <div class="text-title text-bold text-ivivu">Bạn điều chỉnh và truy cập thông tin của bạn như thế nào?</div>
                <div>Chúng tôi tin tưởng những khách ghé trang web và những khách hàng nên hiệu chỉnh và sử dụng PII của họ .Đây là cách mà bạn có thể kiểm soát và truy xuất vào thông tin của bạn:</div>
 
                    <div class="p-16 text-bold">•	Nhận và huỷ Newsletter</div>
                    <div> Nếu tại 1 thời điểm nào đó bạn cần thay đổi địa chỉ email của bạn với chúng tôi, cập nhật lại tuỳ chọn trong thư newsletters hoặc huỷ việc nhận Newsletter của chúng tôi
                        1. Đi đến “ Newsletters ” trên trang web của chúng tôi từ trang chủ và vào theo các hướng dẫn để thay đổi địa chỉ email, cập nhật tuỳ chọn hoặc ngừng đăng ký;</div>
                     
                        <div class="p-16 text-bold">•	Thông tin đặt phòng</div>
                        <div> Nếu bất kỳ thời gian nào bạn thay đổi thông tin cá nhân (PII) đã cung cấp khi đặt phòng, xin liên hệ với chúng tôi: 1900 1870.</div>
                     
                    <div class="p-16 text-bold">•	Ghi nhớ những thông tin trong lần tới</div>
                    <div> Nếu bất kỳ thời gian nào bạn muốn ngừng việc “ghi nhớ thông tin trong lần tới”. Hãy chọn Gở bỏ “Ghi nhớ những thông tin trong thời gian tới trong lần đặt phòng" hoặc liên hệ với chúng tôi: 1900 1870.</div>
                     
                    <div class="p-16 text-bold">•	Yêu cầu xóa tài khoản</div>
                    <div class="p-16">Quý khách hàng có thể yêu cầu xóa Dữ liệu cá nhân của quý khách hàng do chúng tôi thu thập và xử lý, bằng cách gửi cho chúng tôi một lý do hợp lý. Nếu quý khách hàng muốn xóa dữ liệu của mình, quý khách hàng nên thông báo cho chúng tôi theo thông tin liên hệ của chúng tôi được trình bày bên dưới.</div>
                    <div class="p-16">Theo yêu cầu của quý khách hàng, chúng tôi sẽ xóa Dữ liệu cá nhân của quý khách hàng trong hệ thống của chúng tôi trong vòng 24 tiếng. Chúng tôi sẽ ngừng thu thập, sử dụng hoặc tiết lộ Dữ liệu cá nhân của quý khách hàng, trừ khi pháp luật yêu cầu hoặc nếu chúng tôi có các mục đích kinh doanh hoặc pháp lý hợp pháp để giữ lại dữ liệu đó. Lưu ý rằng bằng việc yêu cầu xóa Dữ liệu cá nhân của quý khách hàng, chúng tôi không thể tiếp tục cung cấp cho quý khách hàng các dịch vụ của chúng tôi và quý khách hàng đồng ý rằng chúng tôi sẽ không chịu trách nhiệm với quý khách hàng về bất kỳ tổn thất hoặc thiệt hại nào phát sinh từ hoặc liên quan đến việc chấm dứt dịch vụ như vậy.</div>
                        <div class="p-16 text-bold">Quý khách cần xóa tài khoản xin vui lòng liên lạc với bộ phận Chăm sóc Khách hàng của chúng tôi như sau:</div>
                    <div class="text-subtitle text-bold">Email: <span class="text-ivivu text-bold">tc@ivivu.com</span></div>
                    <div class="text-subtitle text-bold">Tiêu đề email:  <span class="text-ivivu text-bold">Xóa Tài Khoản</span></div>
                   
                <div class="text-title text-bold text-ivivu">Chúng tôi bảo vệ thông tin của bạn như thế nào?</div>
                <div>Để đảm bảo độ tin cậy PII , chúng tôi sử dụng những kỹ thuật bảo mật và quy trình chuẩn được xem xét và cập nhật thường xuyên.</div>

                    <div class="p-16">Chúng tôi có được chữ ký số từ GoDaddy, là một trong những công ty hàng đầu cung cấp dịch vụ bảo vệ và quản lý truyền thông tin.</div>
                    
                    <div class="p-16">Hệ thống của chúng tôi được cấu hình với tiêu chuẩn mã hoá công nghiệp và công nghệ tường lửa. Khi bạn gửi PII cho chúng tôi trên internet, dữ liệu của bạn đã được bảo vệ bởi công nghệ SSL để bảo đảm an toàn trên đường truyền.</div>
    </div>
</ion-content>