<ion-header>
  <ion-toolbar style="min-height: 0px;text-align: center">
    <ion-row>
      <ion-col style="text-align: center;height: 48px;">
        <div style="align-self: center">
          <div style="position: absolute;height: 48px;width: 48px;top: 8px;" (click)="goback()">
            <img style="height: 48px; padding: 8px;margin-top: -7px;margin-left:-14px"
              src="./assets/imgs/ios-arrow-round-back.svg">
          </div>

          <div class="div-titlecombo"><label>{{titlecombo}}</label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="flight-combo-reviews-page ion-padding-16">
  <div class="div-cinout">
    <div class="row-cin-cout">
      <ion-grid class="cls-gridcinout">
        <ion-row >
          <ion-col size="4" style="padding:0" (touchend)="changeDateInfo()">
            <ion-label class="text-cinout" stacked>{{cindisplay}}</ion-label>
          </ion-col>
          <ion-col size="4" style="padding:0" (touchend)="changeDateInfo()">
            <ion-label class="text-cinout" stacked>{{coutdisplay}}</ion-label>
          </ion-col>
          <ion-col size="2" style="padding:0">
            <ion-label class="text-cinout" stacked>{{adulsdisplay}}</ion-label>
          </ion-col>
          <ion-col size="2" style="padding:0">
            <ion-label class="text-cinout" stacked>{{childrendisplay}}</ion-label>
          </ion-col>
        </ion-row>
        
        <ion-row class="p-top-4" style="height: 10px; margin-top: -7px;">
          <ion-col size="3" style="padding:0">
          
          </ion-col>
          <ion-col size="2" style="padding:0;margin-left: -4px;">
            <img  src="./assets/ic_facility/ic_arrow.svg">
          </ion-col>
       

          <ion-col size="3" style="padding:0">
           
          </ion-col>
          <ion-col size="2" style="padding:0">
           
          </ion-col>

          <ion-col size="2" style="padding:0">
           
          </ion-col>
        </ion-row>

        <ion-row class="p-top-4">
          <ion-col size="4" style="padding:0" (touchend)="changeDateInfo()">
            <p class="text-info-guest text-p-info" stacked>{{cinthudisplay}}</p>
          </ion-col>
          <ion-col size="4" style="padding:0" (touchend)="changeDateInfo()">
            <p class="text-info-guest text-p-info" stacked>{{coutthudisplay}}</p>
          </ion-col>
          <ion-col size="2" style="padding:0">
            <p class="text-info-guest text-p-info">người lớn
            </p>
          </ion-col>

          <ion-col size="2" style="padding:0">
            <p class="text-info-guest text-p-info">trẻ em {{textage}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div>
    <div class="div-hotel-info">
      <div class="div-wrapimg">
        <img [ngClass]="bookCombo.isshuttlebus.length>0 ? 'img-hotel-avatar-123' : 'img-hotel-avatar'" src={{Avatar}}>
      </div>
      <div class="div-hotel-name">
        <div class="div-hotel-name-1">
          <ion-label class="text-hotel-name" style="margin-top: 0;padding-bottom: 8px;font-size:14px;font-weight:bold"
            text-wrap>{{Name}}<span class="img-rating">
              <img *ngIf="Rating!=0" src={{Rating}}>
            </span>
          </ion-label>

        </div>
        <div>
          <div *ngIf="bookCombo.isshuttlebus.length>0" class="div-flex" text-wrap>
            <div  text-wrap>
              <img src="./assets/ic_review/ic_bus.svg">
            </div>
            <div (click)="nextShuttlebus()" class="text-p text-width-190 margin-left-3 color-blue" text-wrap>
              <span >Lịch trình Shuttle Bus</span>
            </div>
        
          </div>
          <div class="div-flex margin-top-3" text-wrap>
            <div  text-wrap>
              <img src="./assets/ic_review/ic_bed.svg">
            </div>
            <div class="text-p text-width-190 margin-left-3" text-wrap>
              <span >{{roomnumber}} {{RoomType}} | {{nameroom}}</span>
            </div>
        
          </div>
          <div class="div-flex margin-top-3">
            <span class="text-p text-width-190" text-wrap>
              <img src="./assets/ic_review/ic_food.svg"> {{breakfast}}
            </span>
           
          </div>
          <div *ngIf="PriceAvgPlusTAStr && loadflightpricedone" class="div-flex margin-top-3" style="margin-left: -2px;" text-wrap>
            <div  text-wrap>
              <img src="./assets/iconaccount/info.svg">
            </div>
            <div  class="text-p text-width-190 margin-left-3 color-blue" text-wrap>
              <span *ngIf="statusRoom!= 'RQ'" >Xác nhận ngay</span>
              <span *ngIf="statusRoom!='AL'" >Xác nhận trong 60 phút</span>
            </div>
            <span  style="right: 0px;" class="text-change mtt-2">
              <span (click)="upgradeRoom()" class="margin-right-5">Đổi</span> <img src="./assets/imgs/vector.svg">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="cls-hr" style="margin-top: 22PX">
  <ion-row *ngIf="!loadflightpricedone" style="height: 100px">
    <!-- <ion-col style="padding:0 0 0 140px;"> -->
    <!-- <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->
    <ion-col style="text-align: center;align-self: center">
      <ion-spinner style="height: 84px" name="bubbles" class="spinner-bubbles hydrated"></ion-spinner>
    </ion-col>
    <!-- </ion-col> -->
  </ion-row>
  <ion-row *ngIf="!loadflightpricedone">
    <ion-col style="text-align: center;align-self: center;color: #828282">
      <label>Đang tìm vé máy bay tốt nhất. Xin quý khách vui lòng đợi trong giây lát!</label>
    </ion-col>
  </ion-row>
  <div *ngIf="PriceAvgPlusTAStr">

   

    <div class="m-top-16 m-bottom-16" *ngIf="loadflightpricedone">
      <div class="div-flex">
        <label class="div-flight-label">
          {{de_departdatestr}}
        </label>
        <label *ngIf="de_departpriceincrease" class="div-flight-label text-charge">
          Phụ thu vé
        </label>
        <label  *ngIf="!de_departpriceincrease" class="div-flight-label text-charge">
          Giảm giá vé
        </label>
      </div>
      <div class="div-flight-time div-flex">
        <div class="div-time div-flex">
          <div class="depart-time">{{de_departtime}}</div>
          <img class="flight-img-arrow" src="./assets/imgs/ic_arrow_right.svg">
          <div class="landing-time">{{re_departtime}}</div>
        </div>
        <div class="div-time text-charge font-size-14 mt-2" *ngIf="!de_departpriceincrease">
          <div>- {{de_flightpricetitle}}<span class="div-flight-label"> đ</span></div>
        </div>
        <div class="div-time text-charge font-size-14 mt-2" *ngIf="de_departpriceincrease">
          <div>+ {{de_flightpricetitle}} <span class="div-flight-label"> đ</span></div>
        </div>
  
      </div>
      <div class="div-flight-label letter-spacing">
        {{departlocationdisplay}}
      </div>
  
      <div [ngClass]="idx==0 ? 'div-logo div-flex mt-6' : 'div-none' "  *ngFor="let com of listDeparture; let idx = index" >
        <img class="img-logo" *ngIf="idx==0 && com.airlineCode == 'VietJetAir'" src="./assets/ic_airticket/ic_vietjet_b.png">
        <img class="img-logo" *ngIf="idx==0 && com.airlineCode == 'JetStar'" src="./assets/ic_airticket/ic_jetstar_b.png">
        <img class="img-logo logo-vna" *ngIf="idx==0 && com.airlineCode == 'VietnamAirlines' && !com.operatedBy"src="./assets/ic_airticket/logo_vna.png">
        <img class="img-logo logo-vna" *ngIf="idx==0 && com.operatedBy && com.urlLogo" [src]="com.urlLogo">
        <img class="img-logo" *ngIf="idx==0 && com.airlineCode == 'BambooAirways'" src="./assets/ic_airticket/ic_bamboo_b.png">
        <div class="div-flight-name margin-left-5" *ngIf="idx==0">{{com.airlineCode}}</div> 
        <span *ngIf="idx==0" class="div-flight-ticket margin-left-5  margin-right-5"> · </span>  <div class="div-flight-ticket"  *ngIf="idx==0">{{com.ticketClass}}</div>
        <div  *ngIf="idx==0" (click)="showListFlight(idx)" class="text-change mtt-2">Đổi<img class="margin-left-5" src="./assets/imgs/vector.svg">
        </div>
      </div>
      <div *ngIf="operatedBydep" class="text-operatedBy">{{operatedBydep}}</div>
      <hr class="m-top-15 m-bottom-16">
      <div class="div-flex">
        <label class="div-flight-label">
          {{ar_departdatestr}}
        </label>
        <label *ngIf="ar_departpriceincrease" class="div-flight-label text-charge">
          Phụ thu vé
        </label>
        <label *ngIf="!ar_departpriceincrease" class="div-flight-label text-charge">
          Giảm giá vé
        </label>
      </div>
      <div class="div-flight-time div-flex">
        <div class="div-time div-flex">
          <div class="depart-time">{{ar_departtime}}</div>
          <img class="flight-img-arrow" src="./assets/imgs/ic_arrow_right.svg">
          <div class="landing-time">{{ar_returntime}}</div>
        </div>
        <div class="div-time text-charge font-size-14 mt-2" *ngIf="!ar_departpriceincrease">
          <div>- {{ar_flightpricetitle}}<span class="div-flight-label"> đ</span></div>
        </div>
        <div class="div-time text-charge font-size-14 mt-2" *ngIf="ar_departpriceincrease">
          <div>+ {{ar_flightpricetitle}} <span class="div-flight-label"> đ</span></div>
        </div>
  
      </div>
      <div class="div-flight-label letter-spacing">
        {{returnlocationdisplay}}
      </div>
  
      <div [ngClass]="idx==1 ? 'div-logo div-flex mt-6' : 'div-none' "   *ngFor="let com of listDeparture; let idx = index" >
        <img class="img-logo" *ngIf="idx==1 && com.airlineCode == 'VietJetAir'" src="./assets/ic_airticket/ic_vietjet_b.png">
        <img class="img-logo" *ngIf="idx==1 && com.airlineCode == 'JetStar'" src="./assets/ic_airticket/ic_jetstar_b.png">
        <img class="img-logo logo-vna" *ngIf="idx==1 && com.airlineCode == 'VietnamAirlines' && !com.operatedBy"src="./assets/ic_airticket/logo_vna.png">
        <img class="img-logo logo-vna" *ngIf="idx==1 && com.operatedBy && com.urlLogo" [src]="com.urlLogo">
        <img class="img-logo" *ngIf="idx==1 && com.airlineCode == 'BambooAirways'" src="./assets/ic_airticket/ic_bamboo_b.png">
        <div class="div-flight-name margin-left-5" *ngIf="idx==1">{{com.airlineCode}}</div> <span class="div-flight-ticket margin-left-5  margin-right-5"> · </span>  <div class="div-flight-ticket"  *ngIf="idx==1">{{com.ticketClass}}</div>
        <div *ngIf="idx==1" (click)="showListFlight(idx)" class="text-change mtt-2">Đổi<img class="margin-left-5" src="./assets/imgs/vector.svg">
        </div>
      </div>
      <div *ngIf="operatedByret" class="text-operatedBy">{{operatedByret}}</div>
    </div>
  </div>

  
  <hr class="cls-hr">
  <!-- chính sách hủy combo -->
  <div *ngIf="PriceAvgPlusTAStr && loadflightpricedone" >
    <ion-item class="ion-item">
      <label class="depart-title">
        Thông tin hành lý ký gửi
       
      </label>
      <div (click)="buyLuggage()">
        <span class="text-luggage margin-left-8">Đi: {{totaldepluggage}} kg.</span>
        <span class="text-luggage margin-left-8">Về: {{totalretluggage}} kg.</span>
       </div>
      <img src="./assets/imgs/ic_arrow_grey.svg" class='cls-icon-img' (click)="buyLuggage()"/>
    </ion-item>

    <ion-item (click)="showPenalty()" class="ion-item">
      <label class="depart-title">
        Chính sách hủy combo
      </label>
      <img src="./assets/imgs/ic_arrow_grey.svg" class='cls-icon-img' />
    </ion-item>
    <hr class="cls-hr">
  </div>
  <div *ngIf="point>0 && PriceAvgPlusTAStr&& loadflightpricedone" class="div-voucher">
    <div class="div-flex" *ngIf="statusRoom == 'AL'">
        <div class="div-icon"><img class="icon-point" src="./assets/ic_voucher/ivvpoint_tealish.svg"/></div>
        <div class="div-text-center">
          <div class="width-150">Sử dụng iVIVU point</div>
          <div class="width-100 text-point text-right">-{{gf.convertNumberToString(point)}}đ</div>
        </div>
        <div class="div-button"><ion-toggle style="margin-top: -4px;" class="toggle-promo" (ionChange)="edit()" [(ngModel)]="ischeck"></ion-toggle></div>
      </div>

      <div class="div-line"></div>
      <div class="div-flex" *ngIf="statusRoom == 'AL'" (click)="showdiscount()">
        <div class="div-icon"><img class="icon-point" src="./assets/ic_voucher/ticket_tealish.svg"/></div>
        <div class="div-text-center ">
          <div class="width-100">Nhập mã giảm giá <span class="text-sub">(iVIVU Voucher, MGift..)</span></div>
        </div>
        <div class="div-button width-10"><img src="./assets/ic_ordersupport/next.svg"></div>
      </div>
      <div class="div-voucher-apply" *ngIf="strPromoCode && statusRoom == 'AL'" (click)="showdiscount()">
        <div class="width-250 div-overflow">
          <span class="text-normal">Ưu đãi (<span class="text-code" *ngIf="strPromoCode">{{strPromoCode}}</span><span class="text-normal">)</span> </span>
        </div>
        <div class="width-100 text-normal text-right p-r-5" *ngIf="strPromoCode">{{gf.convertNumberToString(totaldiscountpromo)}}đ</div>
      </div>
      <ion-row> 
        <ion-label *ngIf="ischeckerror==1" style="color: rgb(229, 40, 34);font-size: 12px">{{msg}}</ion-label>
        <ion-label *ngIf="ischeckerror==0" style="color:#828282;font-size: 12px">{{msg}}</ion-label>
      </ion-row>
      
    <hr class="cls-hr" *ngIf="!_voucherService.hasVoucher">
    <app-voucherslideflightcombo *ngIf="loadflightpricedone"></app-voucherslideflightcombo>
    <div *ngIf="(ischeck||ischeckbtnpromo||strPromoCode)  && loadflightpricedone">
      <ion-row>
        <ion-col size="6" style="padding: 0;">
          <div>
            <h2 class="text-name" position="stacked">{{ adulsdisplay}} người lớn ,
              {{childrendisplay}} trẻ em</h2>
            <p class="text-fee">Giá đã bao gồm thuế & phí</p>
          </div>
        </ion-col>
        <ion-col size="6" style="padding: 0;" (click)="showComboDetail()">
          <p class="total-price" style="text-align: right">
            {{Pricepointshow}}đ
            <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
          </p>
          <p *ngIf="Pricepointshow!=0" class="text-room-price-ota">
            {{PriceAvgPlusTAStr}}đ
          </p>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="!ischeck&&!ischeckbtnpromo&& !strPromoCode">
      <ion-row>
        <ion-col size="6" style="padding: 0;">
          <div>
            <h2 class="text-name" position="stacked">{{ adulsdisplay}} người lớn ,
              {{childrendisplay}} trẻ em</h2>
            <p class="text-fee">Giá đã bao gồm thuế & phí</p>
          </div>
        </ion-col>
        <ion-col size="6" style="padding: 0;" (click)="showComboDetail()">
          <p class="total-price" style="text-align: right">
            {{PriceAvgPlusTAStr}}đ
            <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="(point<=0 || !point)&&PriceAvgPlusTAStr && loadflightpricedone">
    <div class="div-voucher">
      <div class="div-flex align-center" (click)="showdiscount()" *ngIf="!strPromoCode && statusRoom!= 'RQ'">
        <div class="div-icon"><img class="icon-point" src="./assets/ic_voucher/ticket_tealish.svg"/></div>
        <div class="div-text-center">
          <div class="width-100">Nhập mã giảm giá <span class="text-sub">(iVIVU Voucher, MGift..)</span></div>
        </div>
        <div class="div-button width-10"><img src="./assets/ic_ordersupport/next.svg"></div>
      </div>
      <div class="div-voucher-apply" *ngIf="strPromoCode  && statusRoom!= 'RQ'" (click)="showdiscount()">
        <div class="width-250 div-overflow">
          <span class="text-normal">Ưu đãi (<span class="text-code" *ngIf="strPromoCode">{{strPromoCode}}</span><span class="text-normal">)</span></span>
        </div>
        <div class="width-100 text-normal text-right p-r-5" *ngIf="totaldiscountpromo">{{gf.convertNumberToString(totaldiscountpromo)}}đ</div>
      </div>
      <ion-row> 
        <ion-label *ngIf="ischeckerror==1" style="color: rgb(229, 40, 34);font-size: 12px">{{msg}}</ion-label>
        <ion-label *ngIf="ischeckerror==0" style="color:#828282;font-size: 12px">{{msg}}</ion-label>
      </ion-row>
    </div>
    <hr class="cls-hr" *ngIf="!_voucherService.hasVoucher && statusRoom!= 'RQ'">
    <app-voucherslideflightcombo *ngIf="loadflightpricedone  && statusRoom!= 'RQ'"></app-voucherslideflightcombo>
    <div *ngIf="!ischeckbtnpromo && !strPromoCode">
      <ion-row>
        <ion-col size="6" style="padding: 0;">
          <div>
            <h2 class="text-name" position="stacked">{{ adulsdisplay}} người lớn ,
              {{childrendisplay}} trẻ em</h2>
            <p class="text-fee">Giá đã bao gồm thuế & phí</p>
          </div>
        </ion-col>
        <ion-col size="6" style="padding: 0;" (click)="showComboDetail()">
          <p class="total-price" style="text-align: right">
            {{PriceAvgPlusTAStr}}đ
            <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
          </p>
          <p *ngIf="totaldiscountpromo" class="text-room-price-ota">
            {{ gf.convertNumberToString(gf.convertStringToNumber(PriceAvgPlusTAStr) + totaldiscountpromo) }}đ
          </p>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="ischeckbtnpromo || strPromoCode">
      <ion-row>
        <ion-col size="6" style="padding: 0;">
          <div>
            <h2 class="text-name" position="stacked">{{ adulsdisplay}} người lớn ,
              {{childrendisplay}} trẻ em</h2>
            <p class="text-fee">Giá đã bao gồm thuế & phí</p>
          </div>
        </ion-col>
        <ion-col size="6" style="padding: 0;" (click)="showComboDetail()">
          <p class="total-price" style="text-align: right" *ngIf="!totaldiscountpromo">
            {{PriceAvgPlusTAStr}}đ
            <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
          </p>
          <p class="total-price" style="text-align: right" *ngIf="totaldiscountpromo">
            {{Pricepointshow}}đ
            <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
          </p>
          <p *ngIf="Pricepointshow!=0" class="text-room-price-ota">
            {{PriceAvgPlusTAStr}}đ
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf=" PriceAvgPlusTAStr">
    <ion-row *ngIf="showInsurranceText">
      <ion-col class="no-padding">
        <label class="text-note">*Bảo hiểm du lịch và chuyến bay không áp dụng cho khách hàng dưới 6 tuần tuổi và trên
          80 tuổi</label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="PriceAvgPlusTAStr">
      <ion-col style="padding:5px 0">
        <label class="text-note">*Tổng giá không được đảm bảo cho đến khi quý khách xuất vé.</label>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!PriceAvgPlusTAStr&&loadpricedone&&loadflightpricedone">
    <div class="row-suggest">
      <div ><span class="text-suggest color-red">Giai đoạn hết giá.</span> <span  (click)="changeDateInfo()" class="text-suggest color-blue text-underline">Quý khách vui lòng chọn ngày khác</span></div> 
     </div>
  </div>
</ion-content>
<ion-footer>
  <div style="background-color: #ffffff; text-align: center">
    <ion-row *ngIf="PriceAvgPlusTAStr && loadflightpricedone">
      <ion-col style="padding: 0"><button (click)="next(1)" ion-button round outline class="button button2">Thông tin hành khách
        <span><img src="./assets/imgs/ic_next.svg"></span>
      </button></ion-col>
    </ion-row>
    <ion-row *ngIf="!PriceAvgPlusTAStr && loadflightpricedone">
      <ion-col style="padding: 0"><button (click)="sendRequestCombo()" ion-button round outline
          class="button button2">Gửi yêu cầu</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!PriceAvgPlusTAStr && !loadflightpricedone && loadpricedone">
      <ion-col style="padding: 0"><button (click)="sendRequestCombo()" ion-button round outline
          class="button button2">Gửi yêu cầu</button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>