
    .flight-combo-reviews-page
    {
      .no-padding{
        padding: 0;
      }
      .text-center{
        text-align: center;
      }
      .text-info{
        font-size:14px;color:#828282;font-style: italic
      }
    }
    .div-titlecombo {
      padding-top: 6px;font-size: 20px;font-weight: bold;
      margin-left: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .text-name
    {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: -0.6px;
      margin-bottom:0;
      margin-top:12px;
      .text-green
      {
        color: #26bed6
      }
    }
    .icon-flight {
      margin-right: 6px;
    }
    .text-status-room {
      font-size: 14px;
      font-weight: 600;
      color: #4f4f4f;
      letter-spacing: -0.4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap !important;
    }
    .text-underline {
      text-decoration: underline;
    }
      .text-fee{
        margin: 2px 0px 5px 0px;
        color: #828282;
        letter-spacing: -0.34px;
        font-size: 12px;
      }
      .text-date
      {
          margin-top: 0px;
          font-weight: bold;
          font-size: 14px
      }
      .image-card{
        display: initial !important;
        padding-right: 9px;
      }
      .total-price{
        color: #26bed6;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.69px;
        margin-bottom: 0;
        margin-top:15px;
      }
      .m-bottom-0{
        margin-bottom: 0;
      }
      .text-note{
        font-size:12px;
        color:#828282;
        font-style: italic;
        letter-spacing: -0.34px;
      }
      .text-bold {
        font-size: 14px;
        font-weight: 600;
        color: #4f4f4f;
      }
    
    .button2
    {
        border-color: #F79221;
        background-color: #F79221;
        color: #ffffff;
        width: 90%;
        height: 48px;
        margin-top: 12px;
        margin-bottom: 8px;
    }
    
    .depart-title{
      font-size: 14px;
      color: #000;
      padding: 8px 0;
      font-weight: 300;
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
      width: 104px;
      height: 104px;
    }
    .item.item-md .checkbox-md {
      position: static;
      display: block;
      margin: 9px 9px 9px 4px;
    }
    .text-room-price-ota{
      color:#828282;
      font-size: 14px;
      text-align: right;
      text-decoration: line-through;
      margin: 20px;
      margin-top: 0px;
  }

  .toolbar-title-md {
    text-align: center;
    margin-right: 70px;
  }  
 
hr
{
  background-color: #ccc;
}
.div-flight-label{
  padding-bottom: 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.34px;
  color: #4f4f4f;
}
.combo-departure-time{
  font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
}

.combo-flight-price-label-down{
  font-size: 12px;
  color: #003c71;
}

.combo-flight-price-label-up{
  font-size: 12px;
  color: #ec971f;
}
.flight-price{
  font-size: 14px;
  font-weight: bold;
}

.combo-info{
  padding-left: 8px;

  .p-top-6{
    padding-top: 6px;
  }
}

.col-padding-left{
  border-left: solid 1px #ccc;
  padding-left: 8px !important;
}

@media (min-width:287px) and (max-width: 359px) {
  .col-padding-left{
    border-left: solid 1px #ccc;
    padding-left: 4px !important;
  }
  .combo-flight-price-label-up {
    font-size: 13px;
    color: #ec971f;
  }
  .flight-price {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.6px;
  }
  .combo-info {
    padding-left: 2px;
  }
  .col-description-roomdetailreview{
    left: 6px;
  }
}

/////////// Loader css

.lds-roller {
  display: inline-block;
  position: relative;
  width: 32;
  height: 32;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #26bed6;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width:287px) and (max-width: 359px) {
 .flight-price{
    font-size: 12px;
    letter-spacing: -0.6px;
  }
}

//////////

::ng-deep {
  .cls-alert-flightcomboreview {
    align-items: center !important;
    --max-width: 280px;
    text-align: center;

  .sc-ion-alert-ios-h {
      --background: var(--ion-overlay-background-color,var(--ion-color-step-150,#f9f9f9)) !important;
      --max-width: 290px !important;
     
      font-size: 14px !important;
      --min-width: 250px !important;
      --width: auto !important;
      --min-height: auto !important;
      --height: auto !important;
      --max-height: 90% !important;
      -webkit-font-smoothing: antialiased !important;
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important;
      display: flex !important;
      position: fixed !important;
      align-items: center !important;
      justify-content: center !important;
      font-family: var(--ion-font-family,inherit) !important;
      touch-action: none !important;
      user-select: none !important;
  }

  .alert-head.sc-ion-alert-ios{
    padding-top: 12px !important;
    padding-bottom: 7px !important;
    text-align: center !important;
    display: block !important;
  }
  .alert-wrapper.sc-ion-alert-ios{
    border-radius: 13px !important;
    box-shadow: none !important;
    overflow: hidden !important;
    display: flex !important;
    flex-direction: column !important;
    width: var(--width) !important;
    min-width: var(--min-width) !important;
    max-width: var(--max-width) !important;
    height: var(--height) !important;
    min-height: var(--min-height) !important;
    max-height: var(--max-height) !important;
    background: var(--background) !important;
  }
  .alert-button-inner.sc-ion-alert-ios {
    flex-flow: row nowrap !important;
    flex-shrink: 0 !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
  }
  .alert-button.sc-ion-alert-ios{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    flex: 1 1 auto !important;
    min-width: 50% !important;
    height: 44px !important;
    border-top: .55px solid rgba(var(--ion-text-color-rgb,0,0,0),.2) !important;
    background-color: transparent !important;
    color: var(--ion-color-primary,#3880ff) !important;
    font-size: 17px !important;
    overflow: hidden !important;
  }
  .alert-button-group.sc-ion-alert-ios button:first-child{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    
  }
  .alert-button-group.sc-ion-alert-md {
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
    justify-content: space-between!important;
    padding: 8px;
    display: flex!important;
    flex-direction: row!important;
    text-align: center;
  }

}
.btnnonesuccess
{
    width: 100%;
    background-color: white;
    font-size: 14px !important;
    margin: 0;
    height: 30px !important;
    border: solid 1px #447a00;
    color: #447a00;
}
}

.click
{
  color: #447a00
}
.none
{
  color: black
}
.error
{
  color:rgb(229, 40, 34);
}
.btnnone
{
    color: #F79221;
    width: 90px;
    border: 1px solid;
    background-color: white;
    font-size: 14px !important;
    margin: 0;
    height: 30px !important;
}
.btnapply
{
    color: #F79221;
    width: 100%;
    border: 1px solid;
    background-color: white;
    font-size: 14px !important;
    margin: 0;
    height: 30px !important;
}

// .div-hotel-info{
//   position: relative;
//   height: 128px;
//   padding-top: 16px;
//   padding-bottom: 16px;

//   .div-wrapimg{
//     position: absolute;
//     width: 104px;
//     height: 104px;

//     .img-hotel-avatar{
//       height: 104px;
//       border-radius: 6px;
//     }
//   }

//   .div-hotel-name{
//     padding-left: 112px;
//     position: relative;
//   }

//   .p-top-15{
//     padding-top:15px;
//   }
//   .text-hotel-name{
//     line-height: 18px;
//     font-size:18px;
//     font-weight:500;
//     letter-spacing: -0.4px;
//   }
//   .text-address{
//     font-size: 14px;
//     color: #4f4f4f;
//     letter-spacing: -0.4px;

//     .img-location{
//       padding-right: 3px;
//     }
//   }
// }
// .text-detail{
//   color: #000000;font-size: 14px;letter-spacing: -0.4px;margin: 8px 0
// }
// .text-point
// {
//   font-size: 14px;
//   color: #000000;
// }
// .num-point
// {
//   font-size: 12px;
//   color: #828282;
// }
// .text-điscount
// {
//   font-size: 14px;
// }
// .cls-col
// {
//   align-self: center;
// }
// .ion-item
// {
//   --inner-border-width: 0 0 0px 0;
// }
// .cls-mt10
// {
//   margin-top: -10px;
// }
// .cls-hr
// {
//   margin-left: -16px;
//   margin-right: -16px;
//   height: 7px;
//   background-color: #f2f2f2 !important;
// }
// .cls-ml5
// {
//   margin-left: 5px;
// }

// .div-voucher{
//   .div-flex{
//     display: flex;

//     .div-first{
//         width: 160px;

//         .div-checkpoint{
//           display: flex;

          
//         }
//         .check-point{
//           margin-top: 10px;
//           width: 12px;
//           height: 12px;
//         }
//         .cls-ml8
//         {
//           margin-left: 8px;
//         }
//         .div-disabled{
//           opacity: 0.5;
//         }
//     }

//     .div-col-split{
//       width: 1px;
//       border-left: solid 0.5px #bdbdbd;
//       margin: 8px 0;
//     }
//     .text-promotion{
//       font-size: 14px;
//       color: #828282;
//     }
//     .text-point{
//       color: #000000;
//       font-size: 14px;
//       font-weight: 300;
//     }
//     .num-point {
//       font-size: 12px;
//       color: #828282;
//       font-weight: 300;
//     }

//     .div-promotion{
//       margin-left: 8px;
//       align-self: center;
//     }
//   }
// }


.btnupgrade{
  color: #F79221;
    width: 110px;
    border: 1px solid;
    background-color: white;
    font-size: 14px !important;
    margin: 0;
    height: 30px !important;
}
.btnapply
{
    color: #F79221;
    width: 100%;
    border: 1px solid;
    background-color: white;
    font-size: 14px !important;
    margin: 0;
    height: 30px !important;
}
  .cls-blur{
    opacity: 0.3;
  }

  .div-hotel-info{
    min-height: 154px;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;

    .div-wrapimg{
      position: absolute;

      .img-hotel-avatar-123{
        height: 123px;
        width: 123px;
        border-radius: 6px;
      }
      .img-hotel-avatar{
        border-radius: 6px;
        height: 123px;
        width: 123px;
      }
    }

    .div-hotel-name{
      padding-left: 139px;
      position: relative;
    }

    .p-top-15{
      padding-top:15px;
    }
    .text-hotel-name{
      line-height: 18px;
      font-size:18px;
      font-weight:500;
      letter-spacing: -0.4px;
    }
    .text-address{
      font-size: 14px;
      color: #4f4f4f;
      letter-spacing: -0.4px;
      margin: 0;

      .img-location{
        padding-right: 3px;
      }
    }
  }

  .room-info{
    position: relative;

    .div-text-name{
          max-width: 62%; 
          overflow: hidden; 
          text-overflow: ellipsis; 
          white-space: nowrap;
    }
    .text-pax{
      color: #000;
      font-size: 14px;
      letter-spacing: -0.4px;
      font-weight: 300;
    }

    .div-button-upgrade{
      position: absolute;
      right: 0;
      top: 0;
      color: #26bed6;
      font-size: 14px;
      letter-spacing: -0.4px;

      .img-change-room{
        padding-left: 4px;
      }
    }
  }
  .text-point{
    color: #000000;
    font-size: 14px;
    font-weight: 300;
  }
  .num-point {
    font-size: 12px;
    color: #828282;
    font-weight: 300;
  }
.text-điscount
{
  font-size: 14px;
}
.cls-col
{
  align-self: center;
}
.ion-item
{
  --inner-border-width: 0 0 0px 0;
}
.cls-mt10
{
  margin-top: -10px;
}
.cls-hr
{
  margin-top: 0;
  margin-left: -16px;
  margin-right: -16px;
  height: 7px;
  background-color: #f2f2f2 !important;
}
.cls-ml5
{
  margin-left: 5px;
}
.text-promotion
{
  font-size: 14px;
  color: #828282;
}
.m-top-16{
  margin-top: 16px;
}
.div-voucher{
  margin-top: 10px;
  .div-flex{
    display: flex;

    .div-first{
        width: 160px;

        .div-checkpoint{
          display: flex;

          
        }
        .check-point{
          margin-top: 10px;
          width: 12px;
          height: 12px;
        }
        .cls-ml8
        {
          margin-left: 8px;
        }
        .div-disabled{
          opacity: 0.5;
        }
    }

    .div-col-split{
      width: 1px;
      border-left: solid 0.5px #bdbdbd;
      margin: 8px 0;
    }
    
    .text-point{
      color: #000000;
      font-size: 14px;
      font-weight: 300;
    }
    .num-point {
      font-size: 12px;
      color: #828282;
      font-weight: 300;
    }

    .div-promotion{
      margin-left: 8px;
      align-self: center;
    }
  }

  
.m-width-280{
  min-width: 280px;
}
.text-right {
  text-align: right;
}
.width-10 {
  width: 10% !important;
}
.width-100 {
  width: 100%;
}
.width-150 {
  width: 150%;
}

.div-icon{
  display: flex;
  align-items: center;
  width: 16px;
  
}
.div-text-center{
  margin-right: 5px;
  padding-left: 5px;
  width: 85%;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: left;
  color: #3f3b3b;

  .text-sub {
    color: #868998;
  }

  .text-point {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    color: #868998;
  }
 
}

.div-button{
  text-align: right;
  width: 15%;
  height: 24px;

  ion-toggle.toggle-icon.toggle-inner {
    width: 24px;
  }
  
}
.div-line {
  margin: 14px 0 18px 0;
  border-bottom: solid 1px #f2f2f2;
}

}

.depart-title{
  font-size: 14px;
  color: #222222;
  padding: 8px 0;
  font-weight: 300;
}
.img-paymentbreakdown{
  top: -5px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.div-cinout
{
  height: 68px;
  background-color: #f2f2f2;
  padding: 20px 8px 8px 8px;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -15px;
}
.cls-gridcinout
{
    margin-top: -12px;
    padding: 8px;
}
.row-cin-cout{
  height: 52px;
  border-radius: 4px;
  background-color: #ffffff;
}
.text-cinout{
  padding: 0px;
  color: #26bed6;
  font-weight: bold;
  font-size: 15px
}
.text-info-guest
{
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.34px;
  color: #4f4f4f;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-title{
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
.img-arrow{
  position: absolute;
  margin-left: 90px;
}
.img-rating{
  margin-left: 5px;
}
.text-p
{
  font-size: 14px;
  color: #4f4f4f;
  letter-spacing: -0.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
.text-width-190{
  width: 190px;
}
.text-p-info{
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  margin-top: 3px;
}
.image-card{
  display: initial !important;
}
.div-flex{
  display: flex;
}
.line-blue{
  color: #26bed6;
  right: 0px;
  position: absolute;
}
.margin-right-5{
  margin-right: 5px;
}
.div-hotel-name-1{
  min-height: 50px;
}
.text-charge{
  right: 17px;
  position: absolute;
}
.div-flight-time{

  .div-time{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.48px;
    color: #333333;
  }
  .div-location{
      font-size: 12px;
      font-weight: 300;
      line-height: 1.67;
      letter-spacing: -0.34px;
      color: #828282;
      text-align: center;
  }
  .flight-img-arrow{
    margin-left: 20px;
    margin-right: 20px;
  }
  .font-size-14{
    font-size: 14px;
  }
  .mt-2{
    margin-top: 2px;
  }
}
.letter-spacing{
  letter-spacing:1.7px
}
.font-size-14{
  font-size: 14px;
}
.font-size-12{
  font-size: 12px;
}
.div-logo{
  height: 18px;

  .img-logo{
      height: 15px;
  }
}
.div-flight-name{
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.36px;
  color: #333333;
}
.div-flight-ticket
{
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.34px;
  color: #828282;
  font-size: 12px;
}
.margin-left-5
{
  margin-left: 5px;
}
.margin-left-3
{
  margin-left: 3px;
}
.text-change{
  color: #26bed6;
  right: 17px;
  position: absolute;
  font-size: 14px;
  line-height: 1.67;
}
.div-none
{
  display: none;
}
.m-top-15{
  margin-top: 15.5px;
}
.m-bottom-16{
  margin-bottom: 16px;
}
.ion-item
{
  --inner-border-width: 0 0 0px 0;
  margin-left: -15px;
}
.cls-icon-img
{
  position: absolute;
  right: 0px;
  top: 18px;
  width: 16px;
}
.mt-6{
  margin-top: 6px;
}
.mtt-2{
  margin-top: -2px;
}
.text-operatedBy{
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.34px;
  color: #828282;
  position: relative;
  margin-top: 4px;
}
.text-luggage{
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.14px;
  color: #26bed6;
}
.margin-left-8{
  margin-left:8px;
}
.text-suggest{
  line-height: 1.4;
  font-size: 14px;
}

.row-suggest{
  border-radius: 4px;
  background-color: #feeec7;
  padding: 12px 8px 8px 8px;
}
.mt-3{
  margin-top: 3px;
}
.color-red{
   color: #e52822;
}
.color-blue{
  color: #26bed6;
}
.text-weight-suggest{
  font-weight: bold;
}
.text-underline{
  text-decoration: underline;
}

.div-voucher-apply {
  display: flex;
  margin: 14px 0 6px 0;

  .width-100 {
    width: 100%;
  }
  .width-200 {
    width: 200%;
  }

  .text-normal {
    font-size: 14px;
    color: #3f3b3b;
  }
  .text-code {
    font-size: 14px;
    color: #f79321;
  }

  .text-normal {
    font-size: 14px;
    color: #3f3b3b;
  }

  .text-strike {
    text-decoration: line-through;
     text-align: right;
  }

  .text-right {
    text-align: right;
  }
}

.align-center {
  display: flex;
  align-items: center;
}