
<ion-select cancelText="Đóng" interface="action-sheet" placeholder="Chọn ngân hàng" class="bank-select" (ionChange)="selectBank($event)" class="action-sheet-select-bank" required
style="padding: 8px 0;
border-bottom: solid 0.5px #bdbdbd;
font-size: 14px;"
>
    <ion-select-option class="xxxyyy"  value="29|Ngân hàng TMCP Đại Chúng Việt Nam (PVcomBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-00.png">
        Ngân hàng TMCP Đại Chúng Việt Nam (PVcomBank)</ion-select-option>
        <ion-select-option  value="1|Ngân hàng TMCP Ngoại thương Việt Nam (Vietcombank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-01.jpg">
          Ngân hàng TMCP Ngoại thương Việt Nam (Vietcombank)</ion-select-option>
          <ion-select-option  value="10|Ngân hàng TMCP Hàng Hải Việt Nam (Maritime Bank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-02.jpg">
            Ngân hàng TMCP Hàng Hải Việt Nam (Maritime Bank)</ion-select-option>      
            <ion-select-option  value="12|Ngân hàng TMCP Sài Gòn – Hà Nội (SHB)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-03.jpg">
              Ngân hàng TMCP Sài Gòn – Hà Nội (SHB)</ion-select-option>
              <ion-select-option  value="3|Ngân hàng TMCP Tiên Phong (TPBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-04.png">
                Ngân hàng TMCP Tiên Phong (TPBank)</ion-select-option>
                <ion-select-option  value="11|Ngân hàng TMCP Xuất Nhập khẩu Việt Nam (Eximbank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-05.jpg">
                  Ngân hàng TMCP Xuất Nhập khẩu Việt Nam (Eximbank)</ion-select-option>
                  <ion-select-option  value="20|Ngân hàng TMCP Đông Nam Á (SeABank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-06.jpg">
                    Ngân hàng TMCP Đông Nam Á (SeABank)</ion-select-option>
                    <ion-select-option  value="7|Ngân hàng TMCP Phát triển TPHCM (HDBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-07.jpg">
                      Ngân hàng TMCP Phát triển TPHCM (HDBank)</ion-select-option>
                      <ion-select-option  value="6|Ngân hàng TMCP Đông Á (DongABank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-08.jpg">
                        Ngân hàng TMCP Đông Á (DongABank)</ion-select-option>
                        <ion-select-option  value="16|Ngân hàng TMCP Sài Gòn Thương Tín (SacomBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-09.jpg">
                          Ngân hàng TMCP Sài Gòn Thương Tín (SacomBank)</ion-select-option>
                          <ion-select-option  value="18|Ngân hàng Thương mại TNHH một thành viên Đại Dương (OceanBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-10.jpg">
                            Ngân hàng Thương mại TNHH một thành viên Đại Dương (OceanBank)</ion-select-option>
                            <ion-select-option  value="8|Ngân hàng TMCP Quân Đội (MB)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-11.jpg">
                              Ngân hàng TMCP Quân Đội (MB)</ion-select-option>
                              <ion-select-option  value="25|Ngân hàng TMCP Sài Gòn (SCB)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-12.jpg">
                                Ngân hàng TMCP Sài Gòn (SCB)</ion-select-option>
                                <ion-select-option  value="15|Ngân hàng TMCP An Bình (ABBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-13.jpg">
                                  Ngân hàng TMCP An Bình (ABBank)</ion-select-option>
                                  <ion-select-option  value="14|Ngân hàng TMCP Việt Nam Thịnh Vượng (VPBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-14.jpg">
                                    Ngân hàng TMCP Việt Nam Thịnh Vượng (VPBank)</ion-select-option>
                                    <ion-select-option  value="5|Ngân hàng TMCP Quốc Tế Việt Nam (VIB)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-15.jpg">
                                      Ngân hàng TMCP Quốc Tế Việt Nam (VIB)</ion-select-option>
                                      <ion-select-option  value="4|Ngân hàng TMCP Công Thương Việt Nam (VietInBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-16.jpg">
                                        Ngân hàng TMCP Công Thương Việt Nam (VietInBank)</ion-select-option>
                                        <ion-select-option  value="22|Ngân hàng TMCP Bắc Á (Bac A Bank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-17.jpg">
                                          Ngân hàng TMCP Bắc Á (Bac A Bank)</ion-select-option>
                                          <ion-select-option  value="19|Ngân hàng Đầu tư và Phát triển Việt Nam (BIDV)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-18.jpg">
                                            Ngân hàng Đầu tư và Phát triển Việt Nam (BIDV)</ion-select-option>
                                            <ion-select-option  value="17|Ngân hàng TMCP Nam Á (Nam A Bank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-19.jpg">
                                              Ngân hàng TMCP Nam Á (Nam A Bank)</ion-select-option>
                                              <ion-select-option  value="9|Ngân hàng TMCP Việt Á (Viet A Bank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-20.jpg">
                                                Ngân hàng TMCP Việt Á (Viet A Bank)</ion-select-option>
                                                <ion-select-option  value="23|Ngân hàng TMCP Quốc Dân (NCB)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-21.jpg">
                                                  Ngân hàng TMCP Quốc Dân (NCB)</ion-select-option>
                                                  <ion-select-option  value="2|Ngân hàng TMCP Kỹ Thương Việt Nam (TeachcomBank)" > <img class="img-bank" src="./assets/ic_bankonepay/Bank-Icons-22.jpg">
                                                    Ngân hàng TMCP Kỹ Thương Việt Nam (TeachcomBank)</ion-select-option>
                                                    <ion-select-option  value="28|Ngân hàng TMCP Việt Nam Thương Tín (DongABank)" > <img class="img-bank" src="./assets/ic_bankonepay/bank_28.png">
                                                      Ngân hàng TMCP Việt Nam Thương Tín (DongABank)</ion-select-option>
                                                      <ion-select-option  value="21|Union Pay" > <img class="img-bank" src="./assets/ic_bankonepay/bank_21.png">
                                                        Union Pay</ion-select-option>
                                                        <ion-select-option  value="30|Ngân hàng TMCP Bản Việt (VietCapitalBank)" > <img class="img-bank" src="./assets/ic_bankonepay/bank_30.png">
                                                          Ngân hàng TMCP Bản Việt (VietCapitalBank)</ion-select-option>


</ion-select>
