# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


# NativeScript
android/app/gradle-helpers
android/app/src/debug/java/com/tns
android/app/src/debug/res/layout/error_activity.xml
android/app/src/debug/res/layout/exception_tab.xml
android/app/src/debug/res/layout/logcat_tab.xml
android/app/src/main/assets/internal
android/app/src/main/assets/metadata
android/app/src/main/java/com/tns
android/build-tools
ios/App/internal
ios/App/NativeScript*
ios/App/TNSWidgets*
ios/App/.build*
ios/App
src/nativescript/node_modules
src/nativescript/package-lock.json
src/package.json
src/package-lock.json
      