<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936105820400-6hh4r5l1qgvkjkua746j4c2ceaag91t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936105820400-6hh4r5l1qgvkjkua746j4c2ceaag91t4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>936105820400-ltcgbr12a7jh71gmmp6sb0i037g4sql1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBQDL-D7hPilekUEPUe0lJ_BYh6id_cis</string>
	<key>GCM_SENDER_ID</key>
	<string>936105820400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivivu.oliviaapp2019</string>
	<key>PROJECT_ID</key>
	<string>ivivu-9aeb4</string>
	<key>STORAGE_BUCKET</key>
	<string>ivivu-9aeb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936105820400:ios:58b990623cc34b1a</string>
	<key>DATABASE_URL</key>
	<string>https://ivivu-9aeb4.firebaseio.com</string>
</dict>
</plist>