.button2
{
    border-color: #F79221;
    background-color: #F79221;
    color: #ffffff;
    width: 90%;
    height: 48px;

}
.text-title{
    font-size: 18px;
    line-height: 1.4;
    color: #333333;
    font-weight: 300;
}
.ion-item{
    --inner-border-width: 0 0 0px 0;
}
.row-search{
    border-radius: 2px;
    border: solid 0.5px #bdbdbd;
    background-color: #ffffff;
    margin: 0px 16px;
    height: 50px;
}
.text-place{
    font-size: 13px;
    line-height: 1.4;
    color: #828282;
}
.align-self{
    align-self: center
}

.margin-top-26{
    margin-top: 26px;
}
.text-block{
    color: #bdbdbd;
}
.div-title-place{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.div-flex{
    display: flex;
}
.div-width-80{
    width: 80%;
    align-self: center;
}
.div-width-20{
    width: 20%;
}
.div-title{
    margin-left: 16px;
    margin-right: 16px;
}
.text-right{
    text-align: right;
}
.margin-top-10{
    margin-top: 10px;
}