<!--
  Generated template for the RoompaymentbankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar style="min-height: 0px;text-align: center">
      <ion-row>
        <ion-col style="text-align: center;height: 48px;">
          <div style="align-self: center" >
            <div style="position: absolute;height: 48px;width: 48px;top: 8px;" (click)="goback()">
                <!-- <ion-icon color="dark-tint" (click)="goback()" style="font-size: 2em;" name="arrow-back" class="card-title"></ion-icon> -->
                <img style="height: 48px; padding: 8px;margin-top: -9px;margin-left:-14px" src="./assets/imgs/ios-arrow-round-back.svg" >
            </div>
            
            <div style="padding-top: 6px;font-size: 20px;font-weight: bold;"><label class="text-title">Thông tin thanh toán</label></div>
          </div>
        </ion-col>
      </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-16">
<img src="./assets/step/step_3.svg">
<ion-grid class="grid-row-1">
  <ion-row >
    <ion-col (click)="vcb()" size="3">
      <img *ngIf="ischeckvcbactive" src="./assets/ic_bank/iv_vcb_active.png">
      <img *ngIf="ischeckvcb" src="./assets/ic_bank/iv_vcb.png">
    </ion-col>
    <ion-col (click)="acb()" size="3">
      <img *ngIf="ischeckacbactive" src="./assets/ic_bank/ic_acb_active.png">
      <img *ngIf="ischeckacb" src="./assets/ic_bank/ic_acb.png">
    </ion-col>
    <ion-col (click)="vietin()" size="3">
      <img *ngIf="ischeckvietinactive" src="./assets/ic_bank/ic_vietin_active.png">
      <img *ngIf="ischeckvietin" src="./assets/ic_bank/ic_vietin.png">
    </ion-col>
    <ion-col (click)="techcom()" size="3">
      <img *ngIf="ischecktechcomactive" src="./assets/ic_bank/ic_techcom_active.png">
      <img *ngIf="ischecktechcom" src="./assets/ic_bank/ic_techcom.png">
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid class="grid-row-2">
  <ion-row>
    <ion-col (click)="donga()" size="3">
      <img *ngIf="ischeckdongaactive" src="./assets/ic_bank/ic_donga_active.png">
      <img *ngIf="ischeckdonga" src="./assets/ic_bank/ic_donga.png">
    </ion-col>
    <ion-col (click)="agri()" size="3">
      <img *ngIf="ischeckagriactive" src="./assets/ic_bank/ic_agri_active.png">
      <img *ngIf="ischeckagri" src="./assets/ic_bank/ic_agri.png">
    </ion-col>
    <ion-col (click)="bidv()" size="3">
      <img *ngIf="ischeckbidvactive" src="./assets/ic_bank/ic_bidv_active.png">
      <img *ngIf="ischeckbidv" src="./assets/ic_bank/ic_bidv.png">
    </ion-col>
    <ion-col (click)="sacom()" size="3">
      <img *ngIf="ischecksacomactive" src="./assets/ic_bank/ic_sacom_active.png">
      <img *ngIf="ischecksacom" src="./assets/ic_bank/ic_sacom.png">
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid class="grid-row-2">
    <ion-row>
      <ion-col (click)="hd()" size="3">
        <img *ngIf="ischeckhdactive" src="./assets/ic_bank/ic_hd_active.svg">
        <img *ngIf="ischeckhd" src="./assets/ic_bank/ic_hd.svg">
      </ion-col>
      <ion-col (click)="scb()" size="3">
        <img *ngIf="ischeckscbactive" src="./assets/ic_bank/ic_scb_active.svg">
        <img *ngIf="ischeckscb" src="./assets/ic_bank/ic_scb.svg">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="div-qrcode m-top-24">
    <img class="img-qrcode" *ngIf="qrcodeurl" src="{{qrcodeurl}}" >
    <div *ngIf="!qrcodeurl">
      <ion-skeleton-text animated style="width: 238px;border-radius: 6px;height: 292px;"></ion-skeleton-text>
    </div>
  </div>
  <div class="div-btn-download m-top-16 d-flex" (click)="downloadqrcode()">
    <div class="btn-download">
        <img class="img-download" src="./assets/imgs/download.svg">
    </div>
    <div class="text-download">Lưu mã để thanh toán</div>
  </div>
  
  <ion-grid *ngIf="rowoneactive" class="no-padding">
    <div *ngIf="isPaymentFromMytrip">
      <ion-row >
        <ion-col col-12 class="no-padding">
          <p class="text-info">Mời quý khách thanh toán số tiền <span class="text-bold">{{totalPrice}}</span> VND trong vòng <span class="text-bold">12 tiếng</span> để hoàn tất việc đặt phòng.</p>
        </ion-col>
      </ion-row>
      <ion-row class="m-bottom-23" (click)="openPaymentLink()">
          <ion-col col-12 class="no-padding">
              <a class="text-info text-link">Mở website/ứng dụng {{textbank}}</a>
          </ion-col>
      </ion-row>
    </div>
    
</ion-grid>

<ion-grid *ngIf="rowtwoactive" class="no-padding">
   
  <div *ngIf="isPaymentFromMytrip">
    <ion-row>
      <ion-col col-12 class="no-padding">
        <p class="text-info">Mời quý khách thanh toán số tiền <span class="text-bold">{{totalPrice}}</span> VND trong vòng <span class="text-bold">12 tiếng</span> để hoàn tất việc đặt phòng.</p>
      </ion-col>
    </ion-row>
    <ion-row class="m-bottom-23" (click)="openPaymentLink()">
        <ion-col col-12 class="no-padding">
            <a class="text-info text-link">Mở website/ứng dụng {{textbank}}</a>
        </ion-col>
    </ion-row>
  </div>
</ion-grid>

<ion-grid *ngIf="rowthreeactive" class="no-padding">
   
    <div *ngIf="isPaymentFromMytrip">
      <ion-row>
        <ion-col col-12 class="no-padding">
          <p class="text-info">Mời quý khách thanh toán số tiền <span class="text-bold">{{totalPrice}}</span> VND trong vòng <span class="text-bold">12 tiếng</span> để hoàn tất việc đặt phòng.</p>
        </ion-col>
      </ion-row>
      <ion-row class="m-bottom-23" (click)="openPaymentLink()">
          <ion-col col-12 class="no-padding">
            <a class="text-info text-link">Mở website/ứng dụng {{textbank}}</a>
          </ion-col>
      </ion-row>
    </div>
</ion-grid>

</ion-content>
<ion-footer>
  <!-- <div style="background-color: #ffffff; text-align: center">
    <button (click)="uppayment()" ion-button round outline class="button button3">Tải lên biên lai chuyển tiền</button>
  </div> -->
  <div style="background-color: #ffffff; text-align: center">
    <button (click)="next()" ion-button round outline class="button button2">Hoàn thành</button>
  </div>
</ion-footer>