
    .header-title{
        padding-top: 12px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        right: 6%;
    }
    .header-arrow{
        margin: 3px 11px;
    }
    .userprofile-content{
        padding: 16px 16px 16px 16px;
    }
    .div-wrapimg {
        position: relative;
        height: 120px;
        overflow: hidden;
    }
    .img-user-avatar {
        left: 0;
        bottom: 0;
        object-fit: contain;
        max-width: initial;
        background-color: #dedede;
        border-radius: 60px;
        height: 100%;
        
        //test
        width: 110px;
        margin:0 auto;
        padding: 2px;
    }
    .text-center{
        text-align: center;
    }
    .text-color{
        color: #26bed6;
        font-size: 14px;
    }
    .item-md,.item-ios {
        padding-left: 0 !important;
    }

    .lbl-changepass .item-inner {
        padding-right: 8px;
        border-bottom: none !important;
    }

    .lbl-changepass .checkbox-md {
        margin: 12px 8px 12px 0px !important;
    }

    .btn-cancel{
        border-color: #bdbdbd;
        color: #bdbdbd;
        background: #ffffff;
        width: 46%;
        height: 48px;
        text-transform: none;
        font-size: 17px;
        font-weight: normal;
    }
    
    .btn-cancel:hover{
        border-color: #f79221 !important;
        color: #f79221 !important;
        background: #ffffff !important;
        width: 46%;
        height: 48px;
        text-transform: none;
        font-size: 17px;
        font-weight: normal;
    }
    .btn-save{
        border-color: #f79221 !important;
        color: #ffffff !important;
        background: #f79221 !important;
        width: 44%;
        height: 48px;
        text-transform: none;
        font-size: 17px;
        font-weight: normal;
        
    }
    .btn-save-phone{
        border-color: #f79221 !important;
        color: #ffffff !important;
        background: #f79221 !important;
        width: 100%;
        height: 48px;
        text-transform: none;
        font-size: 17px;
        font-weight: normal;
        margin-left: 0;
    }

    .btn-sendOTP{
        border-color: #f79221 !important;
        color: #ffffff !important;
        background: #f79221 !important;
        width: 100%;
        margin-top: 16px;
        height: 48px;
        margin-left: 0;
    }
    .input-otp{
        border: solid 1px #cdcdcd;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    .label-otp{
        margin: 10px 0px 0px 0px;
    }
    .no-padding{
        padding: 0px 8px 0px 0px;
        align-self: center;
        text-align: right;
    }
    .row-otp{
        height: 32px;
        margin-top: 16px;
    }
    .label-sent-otp{
        font-size: 12px;
        color: #848484;
        white-space: normal;
    }
    .label-warning{
        font-size: 12px;
        color: red !important;
        white-space: normal;
    }
    .text-company{
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        margin-left: 8px;
        margin-top: 12px;
    }
    .margin-top-30{
        margin-top: 30px;
    }
    ::ng-deep {
        .cls-alert-showmore {
        align-items: center !important;
        
        .sc-ion-alert-ios-h {
            --background: var(--ion-overlay-background-color,var(--ion-color-step-150,#f9f9f9)) !important;
            --max-width: 270px !important;
        
            font-size: 14px !important;
            --min-width: 250px !important;
            --width: auto !important;
            --min-height: auto !important;
            --height: auto !important;
            --max-height: 90% !important;
            -webkit-font-smoothing: antialiased !important;
            left: 0 !important;
            right: 0 !important;
            top: 0 !important;
            bottom: 0 !important;
            display: flex !important;
            position: fixed !important;
            align-items: center !important;
            justify-content: center !important;
            font-family: var(--ion-font-family,inherit) !important;
            touch-action: none !important;
            user-select: none !important;
        }
    
        .alert-head.sc-ion-alert-ios{
        padding-top: 12px !important;
        padding-bottom: 7px !important;
        text-align: center !important;
        display: block !important;
        }
        .alert-wrapper.sc-ion-alert-ios{
        border-radius: 13px !important;
        box-shadow: none !important;
        overflow: hidden !important;
        display: flex !important;
        flex-direction: column !important;
        width: var(--width) !important;
        min-width: var(--min-width) !important;
        max-width: var(--max-width) !important;
        height: var(--height) !important;
        min-height: var(--min-height) !important;
        max-height: var(--max-height) !important;
        background: var(--background) !important;
        }
        .alert-button-inner.sc-ion-alert-ios {
        flex-flow: row nowrap !important;
        flex-shrink: 0 !important;
        align-items: center !important;
        justify-content: center !important;
        height: 100% !important;
        }
        .alert-button.sc-ion-alert-ios{
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border-radius: 0 !important;
        flex: 1 1 auto !important;
        min-width: 50% !important;
        height: 44px !important;
        border-top: .55px solid rgba(var(--ion-text-color-rgb,0,0,0),.2) !important;
        background-color: transparent !important;
        color: var(--ion-color-primary,#3880ff) !important;
        font-size: 15px !important;
        overflow: hidden !important;
        width: auto;
        }
        .alert-button-group.sc-ion-alert-ios button:first-child{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        }
        .alert-button.sc-ion-alert-ios {
            border-color: none;
            background: none;
            text-transform: none;
            font-size: 15px !important;
        }

        .alert-button.sc-ion-alert-md{
            text-transform: none;
            font-size: 14px;
            padding: 10px 0;
        }
    }
    .alert-button-group.sc-ion-alert-md{
        flex-wrap: nowrap;
    }
    .sc-ion-card-md-h{
        -webkit-box-shadow: none;
        box-shadow:none;
    }
  }