.rules-content{
    .p-top-16{
        padding-top: 16px;
    }
    .p-top-8{
        padding-top: 8px;
    }
    .text-head-title{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.6px;
    }
    .text-title{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.34px;
    }
    .text-normal{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.34px;
    }
    .text-link{
        text-decoration: underline;
    }
}