.d-flex{
    display: flex;
}
.div-header-title{
    padding-top: 11px !important;
}

.content-flightadddetails{
    padding: 16px;
    font-size: 16px;
    font-weight: 300;

    .p-relative{
        position: relative;
    }
    .div-img-step{
        text-align: center;
        margin-bottom: 16px;
    }

    .div-title{
        line-height: 22px;
        font-size: 18px;
        font-weight: 600;
    }

    .div-sub-title{
        font-size: 18px;
        font-weight: 600;
        line-height: 17px;
    }

    .div-left{
        width: 50%;
        margin-right: 16px;
        border-bottom: solid 1px #cdcdcd;
        position: relative;
    }
    .div-width-50 {
        width: 50%;
        //border-bottom: solid 0.5px #cdcdcd;
        position: relative;
    }
    .sub-label{
        font-size: 16px;
        font-weight: 300;
        color: #cdcdcd;
        //line-height: 12px;
    }
    .f-12{
        font-size: 12px !important;
    }
    .label-absolute{
        position: absolute;
        top: 6px;
    }
    .label-name-absolute {
        position: absolute;
        top: -18px;
        color: #cdcdcd;
    }

    .label-country{
        position: absolute;
       // top: 14px;

        z-index: 2;
        width: 100%;

    }
    
    .img-down {
        bottom: 16px;
        position: absolute;
        right: 0px;
    }
    .m-left-8{
        margin-left: 8px;
    } 
    .bottom-6{
        bottom: 6px !important;
    }
    .bottom-4{
        bottom: 4px !important;
    }
    .h-45{
        height: 45px;
    }
    .top-27{
        top: 27px !important;
    }
    .border-bottom{
        border-bottom: solid 0.5px #cdcdcd;
    }
    .border-bottom-custom {
        border-bottom: solid 0.5px #cdcdcd !important;
    }
    .label-passport {
        position: absolute;
        //top: -4px;
    }
    .label-passportcountry{
        
        position: absolute;
        top: 24px;
    }
    .label-passportdate{
        position: absolute;
        top: 18px;
    }
    .cls-passport-transition{
        top: -15px;
        transition: top 0.1s ease-out;
    }
    .cls-country{
        top: 9px;
        //z-index: -1;
    }
    .cls-country-transition{
        top: -11px;
        //transition: top 0.1s ease-out;
    }

    .cls-datetofbirth{
        padding-inline-start: 0;
        padding-inline-end: 0;
        padding-bottom: 0;
        padding-top: 3px;
        height: 29px;
    }
    .cls-expiredate{
        padding-inline-start: 0;
        padding-inline-end: 0;
        padding-bottom: 0;
        padding-top: 3px;
        height: 29px;
    }
    .top-dob-24{
        top: -24px !important;
    }
    .m-top-16{
        margin-top: 16px !important;
    }
    .cls-gender-transition{
       // top: 0px;
        transition: top 0.1s ease-out;
    }

    .cls-selection-country{
        position: absolute;
        height: 180px;
        width: 100%;
        overflow-y: scroll;
        background: #fff;
        z-index: 99;
        margin-top: 69px;

        .item-country{
            font-size: 12px;
            height: 36px;
            border-bottom: none !important;
        }
    }
    
    .cls-input-country-custom{
        padding: 0;
        border-bottom: none;
        position: absolute;
        margin-top: 8px;
        background: transparent;
        z-index: 9;
        width: 90%;
        border-bottom: solid 0.5px #828282;

        .searchbar-input.sc-ion-searchbar-ios{
            background: transparent;
            padding-inline-start: 0 !important;
            padding-inline-end: 0 !important;
        }
    }
    
    .cls-input-passportcountry-custom {
        padding: 0;
        border-bottom: none;
        position: absolute;
        margin-top: -14px;
        background: transparent;
        z-index: -1;
        width: 90%;

        .searchbar-input.sc-ion-searchbar-ios, .searchbar-input-container.sc-ion-searchbar-ios{
            background: transparent;
            padding-inline-start: 0 !important;
            padding-inline-end: 0 !important;
        }
    }
    .cls-country {
        margin-top: -25px !important;
    }
    .cls-passportcountry {
        margin-top: -27px !important;
    }
    .p-absolute{
        position: absolute;
    }
    .w-100{
        width: 100% !important;
    }

    .w-200{
        width: 200% !important;
    }
    .label-dob{
        position: absolute;
        top: -4px;
    }

    .div-right{
        width: 100%;
        position: relative;
        border-bottom: solid 0.5px #cdcdcd;
    }

    .div-split{
        height: 8px;
        background-color: #f2f2f2;
        margin: 16px -16px;
    }

    .div-login{
        padding: 10px 16px;
        background: rgba(242, 242, 242, 0.5);
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        margin: 0 -16px;
        margin-top: -16px;
        margin-bottom: 16px;


        .text-login{
            color: #26bed6;
        }
    }

    .text-gender{
        letter-spacing: -0.34px;
            margin-top: 10px;
            margin-bottom: 4px;
            font-weight: 300;
            color: #222222;
    }
    .text-bold{
        font-weight: 600 !important;
    }
    .div-icon-down{
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .text-sub{
        font-size: 12px;
        text-align: left;
        color: #828282;
    }

    .m-top-28 {
        margin-top: 28px !important;
    }
    .p-top-26 {
        padding-top: 26px !important;
    }
    .cls-top-10 {
        top: 10px;
      }

      .bottom-4 {
        bottom: 4px !important;
    }
    .item-has-focus .sub-label{
        color: #828282 !important;
        font-size: 16px !important;
    }
    .item-has-focus .label-name-absolute, .item-has-value .label-name-absolute {
        color: #828282 !important;
        font-size: 16px !important;
      }
      .cls-top-gender {
        top: 10px;
      }
      .cls-top-10 {
        top: 10px;
      }
      .cls-top-32 {
        top: 32px !important;
      }
      .top-3 {
        top: -2px !important;
      }
      .has-input-label {
        font-size: 14px;
            font-weight: 300;
            color: #828282 !important;
      }
      .div-flex-end{
        display: flex;
        align-items: flex-end;
      }
      .div-align-center {
        margin-top: 20px;
        display: flex;
        align-items: center;
      }
      .div-checkbox-mail {
        margin-left: 5px;
        margin-top: 10px;
        display: flex;
      }
      .item-has-focus .label-name, .item-has-value .label-name {
        color: #828282 !important;
        font-size: 16px;
      }
      .has-input-label.cls-gender-transition {
        margin-top: 2px;
      }
      .cls-datetime-label {
        top: -12px;
        position: absolute;
      }
      .top-34 {
        top: -34px;
      }
      .m-top-10 {
        margin-top: 10px;
      }
      .bottom-10 {
        bottom: 10px !important;
      }


      .item-has-value .label-floating.sc-ion-label-ios-h {
        font-size: 16px !important;
        color: #828282 !important;
      }

      .cls-ionitem-custom {
        --padding-start: 0px;
        --border-color: #fff;
        --padding-end: 0px;
        --inner-padding-end: 0;
      }
      .max-height-68 {
        max-height: 68px;
      }
      .m-top-6 {
        margin-top: 6px;
      }

      .icon-zalo, .icon-mail {
        width: 24px;
        height: 24px;
        margin-right: 6px;
      }
}
.cls-input-custom{
    font-size: 18px;
    margin-top: 6px;
   // border-bottom: solid 0.5px  rgb(205, 205, 205);
}
.h-48{
    height: 48px;
}
.no-border{
    border-bottom: none !important;
}
.div-border-bottom{
    border-bottom: solid 0.5px #cdcdcd;
}
.f-13{
    font-size: 13px !important;
}
.div-vat{
    margin-top: 20px;
}
.m-top-10{
    margin-top: 6px;
}
.div-width-100{
    width: 100%;
}
.div-width-300{
    width: 300%;
}
.text-right{
    text-align: right;
    color: #26bed6;
    font-weight: 300;
}
.img-vector{
    position: absolute;
    margin-left: 8px;
    margin-top: 6px;
}
.text-lotus-point{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.34px;
    color: #26bed6;
    margin-top: 8px;
    margin-bottom: -8px;
}
.text-lotus-code{
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.34px;
    color: #828282;
    margin-top: 8px;
    margin-bottom: -8px;
}
.div-footer{
    background-color: #ffffff; 
    text-align: center;
    height: 60px;

    .div-total{
        width: 210px;
        margin-left: 16px;

        .text-sub-total{
            font-size: 12px;
            font-weight: 300;
            margin-top: 8px;
            margin-bottom: 4px;
            display: flex;
        }

        .text-total{
            font-size: 24px;
            font-weight: 600;
            letter-spacing: -0.69px;
            color: #26bed6;
            text-align: left;
        }
    }

    .div-button{
        width: 50%;
        margin-right: 16px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    
    .button
    {
        background: #F79221;
        color: #ffffff;
        border-color: #F79221;
        font-size: 22px;
        height: 40px !important;
        margin: 10px 0;
        font-size: 17px !important;
        width: 100%;
        border-radius: 4px !important;
    } 
}

.d-flex-footer{
    width: 100%;
    height: auto;

    .div-pax-hint{
        padding: 16px 16px 0 16px;
        width: 100%;
        height: 128px;
        overflow: scroll;

        border-bottom: solid 2px #f2f2f2;
       // margin: 16px -16px;
        .icon-pax{
            margin-right: 12px;
        }

        .text-pax-hint{
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.4px;
            color: #222222;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    border: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px rgb(232, 240, 254) inset;
    transition: background-color 5000s ease-in-out 0s;
}

::ng-deep{
    .cls-ion-datetime .native-input.sc-ion-input-ios {
        padding: 3px !important;
        padding-inline-start: 0 !important;
    }
    .cls-input-custom .native-input.sc-ion-input-ios{
        padding: 0;
        line-height: 28px;
        font-size: 16px;
    }
    .cls-input-name .native-input.sc-ion-input-ios{
        padding: 0;
        line-height: 28px;
        font-size: 18px;
    }
    .text-bold .sc-ion-action-sheet-ios{
        font-weight: 600 !important;
    }

    .action-sheets-flightselectgender .action-sheet-title.sc-ion-action-sheet-ios{
        font-weight: bold;
        color: #000;
    }
    .sc-ion-action-sheet-ios-h.action-sheets-flightselectgender{
        margin-bottom: env(safe-area-inset-bottom);
    }

    //style android
    .cls-input-custom .native-input.sc-ion-input-ios{
        padding-bottom: 4px;
        padding: 0;
        line-height: 24px;
        font-size: 18px;
    }

    .cls-input-country-custom .searchbar-input.sc-ion-searchbar-ios {
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
        box-shadow: none;
        background: transparent;
        padding-bottom: 0;
        padding-top: 20px;
        font-size: 16px;
        font-weight: 300 !important;
    }
    .cls-input-passportcountry-custom .searchbar-input.sc-ion-searchbar-ios {
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
        box-shadow: none;
        background: transparent;
        padding-bottom: 0;
        padding-top: 30px;
        font-size: 16px;
        font-weight: 300 !important;
    }

    .alert-message.sc-ion-alert-ios{
        text-align: left;
    }
    
    .cls-error .cls-input-custom .native-input.sc-ion-input-ios{
        color:  #f79321 !important;
    }
    .label-stacked.sc-ion-label-ios-h {
        transform: translateY(50%) scale(1) !important;
    }
    
  
}
.cls-height-inherit {
    min-height: inherit !important;
}
.cls-ion-datetime{
    --padding-start: 0;
    --padding-top: 3px;
    min-height: 48px;
}
.cls-ppe {
    --padding-top: -3px !important;
}

.cls-error{
    color: #f79321;
    font-size: 14px;

    // ion-label, .sub-label, .text-gender {
    //     color: #f79321 !important;
    // }

    ion-input{
        color: #f79321 !important;
    }

    ion-datetime{
        color: #f79321 !important;
    }

    ion-searchbar{
        color: #f79321 !important;
    }
    ion-item {
        --border-color: #f79321 !important;
    }

    .cls-input-custom{
        border-bottom: 0.5px solid #f79321;
    }

    .cls-datetofbirth,.cls-expiredate , .border-bottom{
        border-bottom: 0.5px solid #f79321 !important;
    }
}
.cls-iondatetime{
    padding-left: 0;
}
.border-bottom.cls-error{
    border-bottom: 0.5px solid #f79321 !important;
}
.div-left.cls-error{
    border-bottom: 0.5px solid #f79321 !important;
}
.div-width-50.cls-error{
    border: none;
}
.cls-error .cls-input-name {
    border-bottom: none !important;
}
.div-right.cls-error{
    border-bottom: 0.5px solid #f79321 !important;
}
.cls-input-name,.cls-input-date {
    margin-top: 4px;
    font-size: 18px;
    --padding-start: 0;
    --padding-top: 0;
    --padding-bottom: 4px;
    min-height: 32px;
}
.div-showerror{
    .div-icon-error{
        position: absolute;
    }
    .div-text-error{
        padding-top: 2px;
    }
}
.m-left-8{
    margin-left: 8px;
} 
.m-left-28{
    margin-left: 28px;
} 

.m-top-10{
    margin-top: 6px;
}
.div-width-100{
    width: 100%;
}
.div-width-300{
    width: 300%;
}
.text-right{
    text-align: right;
    color: #26bed6;
    font-weight: 300;
}
.cls-error{
    color: #f79321;
    //font-weight: bold;
  }

  .div-close-paxhint{
    right: -6px;
    position: absolute;
    z-index: 14;
    top: -0;
    width: 48px;
    height: 48px;
    padding: 12px;
    text-align: center;
  }
  
  .p-top-6{
    padding-top: 6px;
}
.div-line{
    height: 1px;
    background-color: #e9eaec;
    margin: 12px 0;
}
.div-checkin-online-1 {
    align-items: center;
    .div-text-checkin-online{
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #3f3b3b;
    }
    .cls-toggle{
        position: absolute;
        right: 16px;
    }
}
.text-note{
    font-size:14px;
    color:#828282;
    font-style: italic;
    letter-spacing: -0.34px;
    margin-top: 10px;
  }
  .div-expand-airlinemember.div-expand{
    display: block;
    animation: showNav 500ms ease-in-out both;
  }
  .div-collapse {
    transition: opacity 1s ease-out;
    display: none;
    opacity: 0; 
    height: 258px;
    overflow: hidden;
    padding: 0;
    animation: hideNav 500ms ease-in-out both;
  }

  @keyframes showNav {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes hideNav {
    from {opacity: 1;}
    to {opacity: 0;}
  }
  .m-top-4{
    margin-top: 4px;
}
.text-airlinemember {
    font-size: 16px;
    color: #3f3b3b;
}
.icon-expand {
    margin-left: 4px;
}
.text-normal {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    color: #828282;
}
.div-expand-airlinemember {
    border-radius: 4px;
    background-color: #f5f6f7;
    padding: 8px 16px 12px;
}
.cls-input-membercode {
    --background: #fff;
    border-radius: 4px;
    --padding-start: 8px;
    border: solid 0.5px #828282;
    font-size: 14px;
}
.div-airline-logo {
    height: 22px;
    display: flex;
    align-items: center;
    .img-logo {
        max-width: 28px;
        margin-right: 4px;
    }
}

  .div-option-contact {
    .div-item-radio{
        display: flex;
        align-items: center;
    }
    .text-normal {
        font-size: 16px;
        line-height: 1.4;
        text-align: left;
        color: #3f3b3b;
    }
    .text-label {
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
        color: #3f3b3b;
        margin-top: 2px;
        margin-left: 4px;

        display: flex;
        align-items: center;
    }
    .m-bottom-6 {
        margin-bottom: 6px;
    }
    .m-bottom-10 {
        margin-bottom: 10px;
    }
}

.p-top-16{
    padding-top: 16px;
}
.div-checkbox {
    margin-right: 6px;
}
.v-align-center {
    align-items: center;
}
.m-left-4 {
    margin-left: 4px;
}
.text-note-airlinemember {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    color: #828282;
}