<ion-header>
  <ion-toolbar style="min-height: 0px;text-align: center">
    <ion-row>
      <ion-col style="text-align: center;height: 48px;">
        <div style="align-self: center">
          <div style="padding-top: 6px;font-size: 20px;font-weight: bold"><label class="text-title">Xóa tài khoản của tôi</label></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-all-16">
    <div class="text-center">
      <ion-icon name="checkmark-circle-outline" class="ico-done"></ion-icon>
    </div>
    <div class="text-header m-top-16">
        Tài khoản của bạn đã bị xóa
    </div>
    <div class="text-sub m-top-8">
      Số điện thoại, địa chỉ email, ủy quyền bên thứ 3 liên kết với tài khoản này cũng sẽ bị xóa. Cần trợ giúp hoặc câu hỏi vui lòng liên hệ bộ phận chăm sóc khách hàng của chúng tôi
  Hotline :<span style="font-weight: bold;">19001870</span>
  </div>
  </div>

</ion-content>
<ion-footer>
  <div class="div-button" (click)="goback()">
    <button class="button round outline btn-back">Quay về trang chủ</button>
  </div>
</ion-footer>