
  <div class="hometour-footer">
        <div class="div-menu-footer">
          <div class="div-button-menu" (click)="menuFooterClick(1)">
            <div class="icon-menu">
              <img *ngIf="menuindex == 1 else menu1LostFocus" src="../../assets/ic_food/icon_home_teslish.svg">
              <ng-template #menu1LostFocus><img src="../../assets/ic_food/icon_home_gray.svg"></ng-template>
            </div>
           
            <div [ngClass]="menuindex ==1 ? 'text-menu activated' : 'text-menu'">Trang chủ</div>
          </div>
          <div class="div-button-menu" (click)="menuFooterClick(2)">
              <div class="icon-menu">
                <ion-icon [ngClass]="menuindex ==2 ? 'icon-tour-menu activated' : 'icon-tour-menu'" name="heart"></ion-icon>
              </div>
              <div [ngClass]="menuindex ==2 ? 'text-menu activated' : 'text-menu'">Yêu thích</div>
          </div>
          <div class="div-button-menu" (click)="menuFooterClick(3)">
            <div class="icon-menu">
              <ion-icon [ngClass]="menuindex ==3 ? 'icon-tour-menu activated' : 'icon-tour-menu'"  name="paper-plane"></ion-icon>
            </div>
            <div [ngClass]="menuindex ==3 ? 'text-menu activated' : 'text-menu'">Đơn hàng</div>
        </div>
          <div class="div-button-menu" (click)="menuFooterClick(4)">
              <ion-icon [ngClass]="menuindex ==4 ? 'icon-tour-menu activated' : 'icon-tour-menu'" name="text"></ion-icon>
              <div [ngClass]="menuindex ==4 ? 'text-menu activated' : 'text-menu'">Thông báo</div>
              <!-- <ion-badge *ngIf="countcart" color="danger">{{countcart}}</ion-badge> -->
          </div>
          <div class="div-button-menu" (click)="menuFooterClick(5)">
              <ion-icon [ngClass]="menuindex ==5 ? 'icon-tour-menu activated' : 'icon-tour-menu'" name="contact"></ion-icon>
              <div [ngClass]="menuindex ==5 ? 'text-menu activated' : 'text-menu'">Tài khoản</div>
          </div>
        </div>
      </div>