.page-hotel-deal{

    .m-0{
        margin:0;
    }
    .title-padding:first-child{
        padding:8px 0px 0px 0px;
      }
    .title-padding{
        padding:25px 0px 0px 0px;
    }
    .sub-title{
        margin-top:-4px;
    }
    .text-title2
    {
      font-weight: bold;
      font-size: 22px;
    }
    .text-subtitle{
      font-size: 12px;
      color:#333333;
    }
    .innerdeals1{
        height: 100%;
        margin-right: -16px;
        overflow-x: auto;
        overflow-y: hidden;

        div {
          display:table-cell;
        }
        
    }
    .cls-deal{
        padding-left: 8px;
        position: relative;
    }
    .cls-deal:first-child{
        padding-left: 0px !important;
      }
    .cls-deal:last-child{
        padding-right: 0px !important;
      }

    .show-more{
        margin-top: 5px;
        text-align: right;
        float:right;
    }
    .cls-main-color{
        color: #26bed6
    }
    .img 
    {
      border-radius: 5px;
      object-fit: cover;
    }
    .slide2
    {
      min-width: 272px;
      height: 206px;
    }
    .slide2-scroll
    {
      height: 320px;
      margin-left: -15px;
      margin-top: -10px;
      width: 120%;
      @media (min-width:320px) and (max-width: 360px) {
        height: 320px;

      }
      @media (min-width:360px) and (max-width: 375px) {
        height: 320px;

      }
      @media (min-width: 375px) and (max-width: 384px) {
        height: 320px;

      }
      @media (min-width: 384px) and (max-width: 412px) {
        height: 320px;
      }
      @media (min-width: 412px) and (max-width: 480px) {
        height: 320px;

      }
      @media (min-width: 480px) and (max-width: 600px) {
        height: 320px;

      }
      @media (min-width: 600px) and (max-width: 720px) {
        height: 320px;

      }
      @media (min-width: 720px) and (max-width: 768px) {
        height: 320px;

      }
      @media (min-width: 768px) and (max-width: 800px) {
        height: 330px;

      }
      @media (min-width: 800px) {
        height: 570px;

      }
    }

    .float-promo{
        position: absolute;
        top: 19px;
        left: 4px;
        background-color: #e52822;
        color: #fff;
        font-size:12px;
        height: 22px;
        padding: 3px 8px 0px 12px;
        z-index: 11;
      }
  
      .cls-deal:first-child .float-promo{
        position: absolute;
        top: 19px;
        left: -4px;
        background-color: #e52822;
        color: #fff;
        font-size:12px;
        height: 22px;
        padding: 3px 8px 0px 12px;
        font-weight: bold;
      }
      .float-promo-description{
        margin: 0;
        width: 100%;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
      }
  
      .cls-deal:first-child .float-promo:after {
        content: " ";
        position: absolute;
        left: 0px;
        top: 22px;
        border-top: 4px solid #851f1c;
        border-left: 4px solid transparent;
        border-bottom: none;
      }
  
      .float-promo:after {
        content: " ";
        position: absolute;
        left: 0px;
        top: 22px;
        border-top: 4px solid #851f1c;
        border-left: 4px solid transparent;
        border-bottom: none;
      }
  
      .cls-deal:first-child .float-info{
        position: absolute;
        bottom: 10px;
        left: 8px;
      }
      .cls-deal:first-child .float-infoicon{
        position: absolute;
        left: 8px;
        z-index: 11;
        width: 48px;
        height: 48px;
      }
      .cls-deal:first-child .float-infoiconheart{
        position: absolute;
        bottom: 59px;
        left: 48px;
        z-index: 11;
        width: 48px;
        height: 48px;
        padding: 0px 8px 8px 8px;
      }
    .hotel-name
    {
        font-size: 16px;
        margin-top: -10px;
        text-align: left;
        font-weight: bold;
        white-space: nowrap;
        width: 260px;
        overflow: hidden;
        text-overflow: ellipsis;
        color:#fff;
        margin: 2px 0;
    }
    .grad1 {
        position: absolute; 
        width: 97%;
        height: 86px; // For browsers that do not support gradients /
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); // Standard syntax (must be last) /
        z-index: 10;
        bottom:3px;
        left: 8px;
        opacity: 0.25;
        border-radius: 6px;
      }
      .cls-deal:first-child .grad1 {
        position: absolute; 
        width: 100%;
        height: 86px; // For browsers that do not support gradients /
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); // Standard syntax (must be last) /
        z-index: 10;
        bottom:4px;
        left: 0px;
        opacity: 0.25;
        border-radius: 6px;
      }
      .cls-deal:first-child .grad-blog{
        position: absolute; 
        width: 100%;
        height: 86px; // For browsers that do not support gradients /
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); // Standard syntax (must be last) /
        z-index: 10;
        bottom:4px;
        left: 0px;
        opacity: 0.25;
        border-radius: 6px;
      }
      .cls-deal:first-child .grad-icon-blog{
        position: absolute; 
        width: 100%;
        height: 56px; // For browsers that do not support gradients /
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); // Standard syntax (must be last) /
        z-index: 10;
        top:0px;
        left: 0px;
        opacity: 0.25;
        border-radius: 6px;
      }
      .div-loadmore{
        width: 100%;
      }
}