    .text{
        font-size: 18px;
        font-weight: bold
    }
    .button2
    {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 96%;
        font-size: 18px !important;
    } 
    .button-installment
    {
        background: #ffffff;
        color: #ff9500;
        border: solid 1px #ff9500;
        width: 90%;
        font-size: 14px !important;
        letter-spacing: -0.4px;
        padding: 0px;
    } 
    .button4
    {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 30%;
        font-size: 12px;
    }
    .bg-white {
      background: #fff;
    }
    .cls-error{
      color: #e52822;
    }
    .list-departure{
        margin: 0;
        display: inline-flex;
    }

    .rd-departure .radio-icon{
        width: 12px;
        height: 12px;
    }
   
    .radio-md .radio-inner{
        left: 1px;
        top: 1px;
        width: 6px;
        height: 6px;
    }
    .radio-md .radio-checked {
        border-color: #26bed6;
    }
    .label-order {
      font-weight: 600;
      font-size: 16px;
      color: #38383d;
    }
    .toolbar-title-md {
        text-align: center;
        margin-right: 70px;
      }  
    .cls-label
    {
        color: #828282;
        font-size: 12px
    }

      
      .label-name{
          font-size: 16px;
          font-weight: 300;
          color: #828282;
      }
      .label-input{
        font-size: 18px;
        font-weight: 300;
        color: #000000;
      }
      .label-input-order{
        font-size: 16px;
        font-weight: 300;
        color: #828282;
      }

      .div-title-other-request{
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        padding-top: 30px;
      }
      .div-title-export-order{
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        padding-top: 12px;
      }

      .text-sub{
        margin: 0;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.36px;
      }
      .div-button-flex{
        display: flex;
        width: 100%;
      }
      .label-input{
        font-size: 18px;
        font-weight: 300;
        color: #000000;
      }
      .ion-checkbox{
        width: 16px;
        height: 16px;
        margin: -2px;
      }

      .div-close-paxhint{
        right: -6px;
        position: absolute;
        z-index: 14;
        top: -0;
        width: 48px;
        height: 48px;
        padding: 12px;
        text-align: center;
      }

      .div-pax-hint{
        padding: 16px 16px 0 16px;
        width: 100%;
        height: 128px;
        overflow: scroll;

        border-bottom: solid 2px #f2f2f2;

       
        .m-bottom-16{
          margin-bottom: 16px;
        }
       // margin: 16px -16px;
        .icon-pax{
            margin-right: 12px;
        }

        .text-pax-hint{
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: -0.4px;
            color: #222222;
        }
    }
   
    .div-img-step{
      text-align: center;
      .img-step {
        height: 16px;
      }
    }

    .div-request {
      background-color: #f2f2f2;
      color: #3f3b3b;
      font-size: 14px;
      line-height: 1.4;
    }
    

    .cls-hr
    {
      margin-left: -16px;
      margin-right: -16px;
      height: 7px;
      background-color: #f2f2f2 !important;
    }

    .width-100 {
      width: 100%;
    }
    .width-200 {
      width: 200%;
    }
    .width-150 {
      width: 150%;
    }

    
.div-voucher{
  
  .div-flex{
    display: flex;
    align-items: center;

    .div-first{
        width: 160px;

        .div-checkpoint{
          display: flex;

          
        }
        .check-point{
          margin-top: 10px;
          width: 16px;
          height: 16px;
        }
        .cls-ml8
        {
          margin-left: 8px;
        }
        .div-disabled{
          opacity: 0.5;
        }
    }

    .div-col-split{
      width: 1px;
      border-left: solid 0.5px #bdbdbd;
      margin: 8px 0;
    }
    
    .text-point{
      color: #222222;
      font-size: 14px;
      font-weight: 300;
      margin-right: 5px;
    }
    .num-point {
      font-size: 12px;
      color: #828282;
      font-weight: 300;
    }

    .div-promotion{
      margin-left: 8px;
      align-self: center;
    }
  }


.div-icon{
  display: flex;
  align-items: center;
  width: 16px;
  
}
.div-text-center{
  margin-right: 5px;
  padding-left: 5px;
  width: 85%;
  display: flex;
  font-size: 14px;
  text-align: left;
  color: #3f3b3b;

  .text-sub {
    color: #868998;
  }

  .text-point {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    color: #868998;
  }
 
}

}
.m-width-280{
  min-width: 280px;
}
.text-right {
  text-align: right;
}
  .width-10 {
    width: 10%;
  }

.div-voucher-apply {
  display: flex;
  margin: 14px 0 6px 0;

  .width-100 {
    width: 100%;
  }

  .text-normal {
    font-size: 14px;
    color: #3f3b3b;
  }
  .text-code {
    font-size: 14px;
    color: #f79321;
  }

  .text-normal {
    font-size: 14px;
    color: #3f3b3b;
  }

  .text-strike {
    text-decoration: line-through;
     text-align: right;
  }

  .text-right {
    text-align: right;
  }
}

.div-touradddetail-footer {
  margin: 8px 16px;
  display: flex;

  .text-normal-footer {
    font-size: 14px;
    text-align: left;
    color: #333;
  }
  .text-price-footer {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: var(--ion-color-waitpayment);
  }
  .text-price-sub {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: var(--ion-color-waitpayment);
  }
  .div-footer-left {
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
  }
  .btn-departure-calendar {
    margin: 0;
    font-size: 17px !important;
    background-color: #f79321;
    color: #fff;
    width: 100%;
  }
  .text-price-strike-footer {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #333333;
    text-decoration: line-through;
  }
  .text-price-strike-sub {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #333333;
  }
}

.div-check-order {
  margin: 0px -16px;
  padding: 16px;
  margin-top: 16px;
  background-color: #f2f2f2;
}
.d-flex{
  display: flex;
}
.div-align-bottom {
  display: flex;
  align-items: end;
}
.div-flex-end {
  justify-content: end;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-40 {
  width: 40%;
}
.width-100 {
  width: 100%;
}
.text-right {
  text-align: right !important;
}
.m-left-8 {
  margin-left: 8px;
}
.div-split-panel {
  height: 8px;
  margin: 16px -16px 8px -16px;
  background-color: #f2f2f2;
}
.abel-input-order {
  font-size: 16px;
  line-height: 1.4;
  color: #3f3b3b;
}
.no-padding {
  padding: 0;
}