.content-confirm
.input-otp{
    border: solid 1px #bdbdbd;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
}
.row-otp{
    height: 32px;
    margin-top: 25px;
}
.no-padding{
    padding: 0px 8px 0px 0px;
    align-self: center;
    text-align: right;
}
.label-otp{
    margin: 10px 0px 0px 0px;
}
::ng-deep{
    .content-confirm .native-input.sc-ion-input-md {
        text-align: center;
        margin-right: 10px;
    }
}
.label-warning{
    font-size: 12px;
    color: red ;
    white-space: normal;
}
.label-sent-otp{
    font-size: 12px;
    color: #848484;
    white-space: normal;
}
.btn-save-phone{
    border-color: #f79221;
    color: #ffffff;
    background: #f79221;
    width: 100%;
    height: 48px;
    text-transform: none;
    font-size: 17px;
    font-weight: normal;
    margin-left: 0;
}