
  .header-text{
    text-align: center;
    align-self: center;
  }
  .header-icon{
    width: 48px;
    height: 48px;
    padding-top: 3px;
    text-align: center;
  }
  .text-title
  {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
  }
  .text-name
  {
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .text{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .badge-md {
    border-radius: 9px;
    color: #fff;
    background-color: #26bed6;
  }
  .img-radius
  {
    position: relative;
      border-radius: 5px;
      width: 104px !important;
      height: 104px !important;
  }
  .col {
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 1px;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .text-nameroom
  {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    white-space: nowrap;
       
  } 
  .text-combo
  {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    white-space: nowrap;
    color: #e52822;
  }
  .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    width: 104px;
    height: 104px;
  }
  .card-background-page {

      position: relative;
      text-align: center;
    
    

  .ion-thumbnail{
    line-height: 0.5 !important;
  }
  .badge.badge-ios{
    background-color: #F79221;
    font-size: 12px;
  }
  .label-badge{
    color: #000000;
    font-size: 12px;
    font-weight:400;
    margin-left: 3px;
  }

  .item-block{
    padding: 0;
    text-align: initial;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 4.4rem;
    border: 0;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    width: auto;
    padding: 5px 0;
  }
  /*css cho ios*/
  //Style cho class promotion có rating & location
  .item-ios .transbox { 
    display: block;
    position: absolute;
    //left: 16px;
    width: 104px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(240, 172, 46, 0.8);
    font-size: 10px;
    color: #ffffff;
    white-space: normal;
    bottom: 16px;
    padding: 4px 16px 3px 5px;
}
//Style cho class promotion Không có location
.item-ios .transbox1 { 
    position: absolute;
    //left: 16px;
    width: 104px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(240, 172, 46, 0.8);
    font-size: 10px;
    color: #ffffff;
    white-space: normal;
    bottom:12px;
    padding: 4px 16px 3px 5px;
  }
  //Style cho class promotion Không có rating
  .item-ios .transbox2 { 
    position: absolute;
    //left: 16px;
    width: 104px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(240, 172, 46, 0.8);
    font-size: 10px;
    color: #ffffff;
    white-space: normal;
    bottom:13px;
    padding: 4px 16px 3px 5px;
  }
  .item-ios.item-block .item-inner {
    border-bottom: 0px !important;
  }
 .list-md .item-block .item-inner {
   border-bottom: 0px !important;
  }
  .item-ios {
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    margin:0 11px;
    border-bottom: 0.5px solid #bdbdbd;
  }

  .item-ios ion-thumbnail[item-start] {
    margin: 8px 8px 8px 0;
  }

  .item-ios.item-block .item-inner {
    padding-right: 0px;
  }
  .label-ios {
    margin: 11px 0px 11px 0;
  }
  /*css cho ios*/

  /*css cho android*/
  //Style cho class promotion có rating & location
  .item-md .transbox { 
    display: block;
    position: absolute;
    //left: 16px;
    width: 104px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(240, 172, 46, 0.8);
    font-size: 10px;
    color: #ffffff;
    white-space: normal;
    bottom: 18px;
    padding: 4px 12px 3px 5px;
}
//Style cho class promotion Không có location
.item-md .transbox1 { 
    position: absolute;
    //left: 16px;
    width: 104px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(240, 172, 46, 0.8);
    font-size: 10px;
    color: #ffffff;
    white-space: normal;
    bottom:12px;
    padding: 4px 12px 3px 5px;
  }
  //Style cho class promotion Không có rating
  .item-md .transbox2 { 
    position: absolute;
    //left: 16px;
    width: 104px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(240, 172, 46, 0.8);
    font-size: 10px;
    color: #ffffff;
    white-space: normal;
    bottom:13px;
    padding: 4px 12px 3px 5px;
  }

  .item-md.item-block .item-inner {
    border-bottom: none;
  }

  .item-md {
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    margin:0 11px;
    border-bottom: 0.5px solid #bdbdbd;
  }
  .item-md ion-thumbnail[item-start] {
    margin: 8px 8px 8px 0;
  }
  .item-md .item-inner {
    padding-right: 0px;
  }
  .label-md {
    margin: 11px 0px 11px 0;
  }
  /*css cho android*/
  
  .price.col{
    padding: 5px 0px 5px 5px;
  }
  
}
.btn-clear-filter{
  border:none;
  color: #ffffff;
  background-color: #F79221;
  text-transform: none;
  float: left;
  font-size: 17px;
  width: 90%;
  height: 48px;
}

.btn-filter-again{
  color: #F79221;
  background-color: #ffffff;
  border-color:  #F79221;
  text-transform: none;
  float: right;
  font-size: 17px;
  width: 90%;
  height: 48px;
}
.btn-filter-again-nofilter{
  border:none;
  color: #ffffff;
  background-color: #F79221;
  text-transform: none;
  float: right;
  font-size: 17px;
  width: 100%;
  margin: 0px 40px;
  height: 48px;
}
.text-empty{
  color: #828282;
}
.img-heart{
  position: absolute;
  top: -4px;
  left: -4px;
  width: 50px;
  height: 50px;
}
.cls-img-content{
  margin-left: 13px;
  margin-top: 13px;
  width: 16px;
  height: 16px;
}
.cls-icon-content{
  padding-left: 20px;
  padding-top: 20px;
}
.label-price-login{
  color: #26bed6;
  cursor: pointer;
}
.t-bold{
  font-weight: bold;
}
.text-login{
  font-size: 13px;
}


  .transbox_0 { 
    position: absolute;
    width: 104px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(240, 172, 46, 0.8);
    font-size: 10px;
    color: #ffffff;
    white-space: normal;
    bottom: 0;
    padding: 4px 12px 3px 4px;
  }
  p,h2{
    margin: 0;
  }
  .row-item-hotellist{
    margin: 16px;
  }

  .p-top-dealtype{
    top:9px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
    font-size: 12px;
    white-space: nowrap;
    color: #e52822;
  }
  .p-top-dealtype-6{
    top:5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    white-space: nowrap;
    color: #e52822;
  }
  .label-minprice{
    color: #26bed6;
    font-weight: bold;
    bottom: 0;
    right: 0;
    font-size: 18px;
    letter-spacing: -0.51px;
    line-height: 18px;
  }
  .label-minpriceTA{
    font-size: 12px;
    text-decoration: line-through;
    color: #828282;
    position: absolute;
    right: 5px;
  }
  .label-dealprice{
    color: #e52822;
    font-weight: bold;
    bottom: 0;
    right: 0;
    font-size: 18px;
    letter-spacing: -0.51px;
    line-height: 16px;
  }
  .p-top-minprice{
    bottom: 0;
    font-size: 12px;
    position: absolute;
  }
  .p-top-8{
    top:8px;
  }
  .p-top-10{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: right;
  }
  .p-top-18{
    padding-top: 18px;
  }
  .h-line{
    border-bottom: solid 1px #cdcdcd;
    margin: 0 16px;
    opacity: 0.5;
  }
  .col-img-hotellist{
    height: 104px;
    position: absolute;
  }
  .badge-ios{
    background-color: #26bed6;
    font-size: 12px;
  }
  .btn-header{
    margin-right: 15px;color: #4f4f4f;background-color: #fff;-webkit-box-shadow: none;box-shadow: none;
  }
  .toolbar-title {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: auto !important;
    text-overflow: unset !important;
  }
  .toolbar-title-md {
      text-align: center;
      margin-right: 0;
    }
    img {
      max-width: none !important;
      border: 0;
    }
    @media (min-width:300px) and (max-width: 359px) {
      .col-description-hotelmood{
        max-width: 188px;
        left: 12px;
      }
      .p-top-10{
        position: absolute;
        right: 8px;
        width: 100%;
        bottom: 0;
      }
    }

    :host{
      --ion-color-primary:#26bed6;
    }
    ion-badge{
      border-radius: 6px;
    }
    .label-badge{
      padding-top: 2px;
      padding-left: 6px;
      font-size: 12px;
    }
    
    ::ng-deep{
      .infinite-loading-text{
        display: none;
      }
      //skeleton-style
      ion-skeleton-text{
        width: 100%;
        margin: 0;
      }
      
      .col-img-hotellist-sk{
        padding-top: 0;
        padding-left: 8px;
        line-height: 18px;
      }
      .text-name-sk
      {
        font-weight: bold;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 18px;
      }
      .p-sk{
        height: 16px;
        padding: 8px 0;
        margin: 0;
      }
      .last-row-sk{
        padding-top: 52px;
        height: 17px;
      }
      .row-item-hotellist-sk{
        padding: 8px;
        padding-top:16px;
      }
      .h-line-sk{
        border-bottom: solid 1px #cdcdcd;
        margin: 0 16px !important;
        opacity: 0.5;
      }
    }

    .col-description-hotellist{
      position: relative;
      left: 112px;
      width: 70%;
    }
    .m-top-10{
      margin-top:6px;
      margin-bottom:12px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      line-height: 10px;
    }
    .sp-item-style{
      padding:3px 5px;
      border:solid 0.5px #26bed6;
      font-size: 10px;
      color: #26bed6;
      background: #ffffff;
      margin-right: 8px;
      border-radius: 2px;
    }
    .fix-height-104{
      height: 104px;
    }
    .last-row{
      position: absolute;
      bottom:-1px;
      line-height: 10px;
      width: 100%;
    }
    .cls-lineheight{
      line-height: 14px;
    }
      
        @media (min-width:300px) and (max-width: 360px) {
          .col-description-hotellist{
            width: 65%;
          }
        }

        @media (min-width:361px) and (max-width: 384px) {
          .col-description-hotellist{
            width: 68%;
          }
        }
    
        @media (min-width:414px) and (max-width: 420px) {
          .col-description-hotellist{
            width:73%;
          }
        }
        .ico-gift{
          height: 16px;
          position: absolute;
          right: 90px;
          top: 6px;
          color: #e52822;
        }
        .cls-badge-filter {
          width: 12px;
          height: 12px;
          color: #26bed6;
          padding-top: 2px;
          font-size: 10px;
    
          top: 16px !important;
          left: 68% !important;
      }

      .button-back {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 100%;
        font-size: 16px !important;
        line-height: 1.5;
        letter-spacing: -0.48px;
        margin: 0;
        margin-top: 32px;
      }
      .m-16{
        margin: 0 16px;
      }