.div-tourdeparturecalendar-header {

    .img-back {
        height: 48px;
        padding: 8px;
        margin-left: -3px;
    }
    .text-title{
        font-size: 18px;
        font-weight: bold;
        padding: 0;
        text-align: center;
    }
}

.div-tourdeparturecalendar-content {
    .div-item-departure-date {
        align-items: center;
    }
    .f-18 {
        letter-spacing: -0.46px;
        color: #3f3b3b;
        font-size: 18px;
    }
    .text-center {
        text-align: center;
    }
    .m-top-32 {
        margin-top: 32px;
    }
    .d-flex {
        display: flex;
    }
    .width-60 {
        width: 60%;
    }
    
    .width-40 {
        width: 40%;
    }
    .width-30 {
        width: 30%;
    }
    .width-42 {
        width: 42%;
    }
    .width-25 {
        width: 25%;
    }
    
    .v-align-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-normal {
        font-size: 16px;
        letter-spacing: -0.46px;
        color: #3f3b3b;
    }
    .align-right {
        text-align: right;
    }
    .text-price {
        font-size: 14px;
        text-align: right;
        color: var(--ion-color-waitpayment)
    }
    .text-price-car {
        font-size: 14px;
        color: var(--ion-color-waitpayment)
    }
    .text-sub {
        font-size: 12px;
        color: #828282;
        letter-spacing: -0.46px;
    }
    .div-item-pax {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // width: 146px;
        height: 48px;
        padding: 6px 8px;
        border-radius: 4px;
        border: solid 0.5px #ccc;
        background-color: #fff;
        .f-32 {
            font-size: 32px;
            font-weight: bold;
            margin-top: -4px;
        }

        .f-24 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 4px;
        }
    }
    .div-item-time {
        align-items: center;
        height: 48px;
        padding: 6px 8px;
        border-radius: 4px;
        border: solid 0.5px #ccc;
        background-color: #fff;    
    }
    .div-item-left, .div-item-right {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
    }
   
    .m-r-4 {
        margin-right: 4px;
    }
    .m-top-19 {
        margin-top: 19px;
    }
    .m-top-26 {
        margin-top: 26px;
    }
    .text-total {
        font-size: 24px;
        font-weight: 600;
        text-align: right;
        
    }
    .text-total-price {
        color: var(--ion-color-primary);
    }
    .text-red {
        color: #e52822;
    }
    .text-surcharge {
        font-size: 18px;
        font-weight: 600;
        text-align: right;
    }
    .text-tealish {
        color: var(--ion-color-primary);
    }
    .text-right {
        text-align: right;
    }
    .div-last {
        height: 42px;
        padding: 12px 0px 10px 8px;
        border-radius: 4px;
        background-color: #f2f2f2;
    }
    
    .no-border-bottom{
        border-bottom:none;
    }

    .p-top-20 {
        padding-top: 20px;
    }
    .text-child-age{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.4px;
    }
    .div-age{
        position: relative;

        .p-right-8{
            padding-right: 8px;
        }
        .div-text-age{
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .text-child{
            font-size: 16px;
            font-weight: 300;
            color: #000;
        }
        .selected-age{
            font-size: 18px;
            color: #26bed6;
            letter-spacing: -0.51px;
            font-weight: 600;
        }
    }

    .div-split-panel {
        height: 7px;
        margin: 12px -16px 16px -16px;
        background-color: #f2f2f2;
    }
    .div-point {
        font-size: 14px;
        color: #003c71;
        margin-top: 8px;
    }
}
.days-allotment {
    p{
        color: #9fc43a !important;
    }
}

.text-service-name {
    font-size: 18px;
    text-align: left;
    color: #003c71;
  }
  .text-service-des {
    font-size: 14px;
    text-align: left;
    color: #828282;
  }
  .text-service-detail {
    font-size: 14px;
    text-align: left;
    color: #26bed6;

    display: flex;
  }
  .m-top-16 {
    margin-top: 16px;
  }
  .img-arrow {
    height: 17px;
  }
@media(min-width:300px) and (max-width:360px){
  
  .f-18 {
    font-size: 15px !important;
  }
}
@media(min-width:360px) and (max-width:375px){
    .f-18 {
      font-size: 16px !important;
    }
  }

::ng-deep{
    .action-sheet-group.sc-ion-action-sheet-ios:first-child {
        margin-top: 100px;
    }
    .action-sheet-group.sc-ion-action-sheet-ios {
        overflow-y: auto !important;
      }
    .action-sheets-select-age .action-sheet-container.sc-ion-action-sheet-ios{
        padding: 0;
    }
    .action-sheets-select-age .action-sheet-group.sc-ion-action-sheet-ios:last-child{
        margin: 0;
        border-radius: 0;
        overflow: auto;
    }
    .action-sheets-select-age .action-sheet-title.sc-ion-action-sheet-ios{
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #222222;
    }
    .action-sheets-select-age .action-sheet-button-inner.sc-ion-action-sheet-ios{
        justify-content: center;
    }
    .action-sheets-select-age .action-sheet-button.sc-ion-action-sheet-ios{
        font-size: 17px;
        color: #bdbdbd;
        height: 48px;
    }
    .action-sheets-select-age .no-border-bottom.action-sheet-button.sc-ion-action-sheet-ios{
        border-bottom: none;
        background-position: no;
    }
    .action-sheets-select-age {
        .picker-wrapper.sc-ion-picker-ios{
            height: 332px;
            margin-bottom: calc(env(safe-area-inset-bottom) + 16px);
            position: absolute;
        }
        .picker-toolbar-button.sc-ion-picker-ios{
            text-align: center;
        }
        .picker-button.ion-activatable.picker-header.sc-ion-picker-ios{
            font-weight: 300;
            color: #222222;
            font-size: 14px;
        }

        .button-done{
            color: #ffffff !important;
            font-size: 17px !important;
            background: #ec971f;
            border-radius: 4px;
            height: 48px !important;
            width: 92%;
            margin: 8px 16px;
          }
    }
  }

.div-tourdeparturecalendar-footer {
    margin: 8px 16px;
    display: flex;
  
    .btn-advise {
      margin: 0;
      font-size: 17px !important;
      background-color: #fff;
      border: solid 1px #f79321;
      color: #f79321;
      width: 100%;
    }
    .btn-book {
        margin: 0;
        font-size: 17px !important;
        background-color: #f79321;
        color: #fff;
        width: 100%;
      }
  }
  .width-40 {
    width: 40%;
}
.width-45 {
    width: 45%;
}
.width-35 {
    width: 35%;
}
  .width-50 {
    width: 50%;
    } 
    .width-60 {
        width: 60%;
    }
    .width-62 {
        width: 62%;
    }
    .width-100 {
        width: 100%;
    }
    .m-r-8 {
        margin-right: 8px !important;
    }
    .margin-left--4{
        margin-left: -4px;
    }
    .cls-no-departure {
        opacity: 0.5;
    }
    .bg-white {
        background: #fff;
      }
      .margin-right-8{
        margin-right: 8px;
      }
      .div-option-time{
        padding: 8px 10px;
        max-width: 100px;
        height: 38px;
        margin: 8px 4px;
        padding-top: 10px;
        border-radius: 30px;
        background-color: #f4f5f6;
        text-align: center;
      }
      .div-option-time-action{
        padding: 8px 10px;
        max-width: 100px;
        height: 38px;
        margin: 8px 4px;
        padding-top: 10px;
        border-radius: 30px;
        background-color: var(--ion-color-primary);
        text-align: center;
        color: white;
      }
      .div-option-time-sku{
        margin: 8px 8px 8px 0px;
        padding: 12px 8px;
        border-radius: 4px;
        border: solid 0.5px #ccc;
        background-color: #fff;
        text-align: center;
      }
      .div-option-time-sku-action{
        margin: 8px 8px 8px 0px;
        padding: 12px 8px;
        border-radius: 4px;
        text-align: center;
        color: #26bed6;
        border: solid 2px #26bed6;
        background-color: #fff;
        font-size: 16px;
        font-weight: 500;
      }

      .div-option-time-place{
        height: 44px;
        margin: 8px 8px 8px 0px;
        padding: 12px 8px;
        border-radius: 4px;
        border: solid 0.5px #ccc;
        background-color: #fff;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .div-option-time-place-action{
        height: 44px;
        margin: 8px 8px 8px 0px;
        padding: 12px 8px;
        border-radius: 4px;
        text-align: center;
        color: #26bed6;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: solid 2px #26bed6;
        background-color: #fff;
        font-size: 16px;
        font-weight: 500;
      }
      .margin-top-12{
        margin-top: 12px;
      }
      .margin-top-16{
        margin-top: 16px;
      }
      .margin-left-16{
        margin-left: -16px;
      }
      .div-scroll{
        overflow-x: scroll;
      }
      .div-scroll-place{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .div-notprice{
        opacity: 0.5;
      }
      .color-option{
        color: #26bed6;
      }
      .div-text-date{
        font-size: 16px;
        color: #3f3b3b;
        .text-span{
            font-weight: bold;
        }
      }
      .text-label {
        font-size: 18px;
        font-weight: 500;
        color: #3f3b3b;
      }
      .div-border{
        border: solid 1px #dedfe3;
      }
      .div-item-car {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // width: 146px;
        height: 48px;
        padding: 6px 8px;
        border-radius: 4px;
        background-color: #fff;
        .f-32 {
            font-size: 32px;
            font-weight: bold;
            margin-top: -4px;
        }

        .f-24 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 4px;
        }
    }
    .margin-left-12{
        margin-left: 12px;
    }
    .text-input {
        letter-spacing: -0.46px;
        color: #3f3b3b;
        font-size: 18px;
        font-weight: bold;
    }
    .div-colum{
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .spec-not-found{
        cursor: not-allowed;
        color: #aaa;
    }
    .non-pkg{
        opacity: 0.65;
        cursor: not-allowed;
        pointer-events: none;
        box-shadow: none;
    }
    
   