<ion-header class="div-tourdeparturecalendar-header">
  <ion-toolbar>
    <ion-buttons slot="secondary" style="position: absolute;" (click)="goback()">
      <img class="img-back" src="./assets/imgs/ios-arrow-round-back.svg" >
    </ion-buttons>

    <ion-title class="text-title">
        Chọn ngày & gói dịch vụ
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="div-tourdeparturecalendar-content">
  <div class="p-all-16">
    <!-- <div class="text-center"><img src="./assets/step/tour_step_1.svg"></div> -->
    <div *ngIf="itemTicketService.name" class="text-service-name">{{ticketService.itemTicketService.name}}</div>
    <div class="text-service-detail m-top-8" (click)="showTicketServiceDetail(itemTicketService)">Chi tiết gói <span><img class="img-arrow" src="./assets/ic_ticket/arrow-down.svg" /></span></div>
    <div class="div-split-panel" ></div>
    <div class="text-input" *ngIf="itemTicketService.itemObjRate.specs && itemTicketService.itemObjRate.specs.length>0">
      Vui lòng chọn thông tin bên dưới:
    </div>
    <div [ngClass]="itemTicketService ? 'm-top-16' : 'm-top-16 cls-no-departure' ">
        <div class="div-item-departure-date d-flex">
            <div class="width-62 text-label">
                Chọn ngày:
            </div>
            <div class="width-45 d-flex div-item-time" (click)="openPickupCalendar()">
                <div class="v-align-center m-r-8"><img src="./assets/ic_ticket/ic_calendar.svg"></div>
                <div class="align-right v-align-center f-18 text-normal" *ngIf="itemTicketService && loaddeparturedone else loadingsk">{{dateDisplay}}</div>
                <ng-template #loadingsk>
                  <div class="text-normal align-right v-align-center" >
                    <ion-skeleton-text animated style="width: 100%;height: 24px;border-radius: 4px;"></ion-skeleton-text>
                  </div>
                </ng-template>
            </div>
        </div>
        <div *ngIf="itemTicketService.itemObjRate.times && itemTicketService.itemObjRate.times.length>0" class="div-item-departure-date d-flex m-top-16">
          <div class="width-62 text-label">
            Chọn thời gian:
          </div>
          <div class="width-45 d-flex div-item-time" >
            <ion-select cancelText="Hủy" id="myselectmodal" style="width: 100%;" (ionChange)="timeOption($event)" interface="action-sheet" mode="ios" selectedText={{timeTicket}}>
              <ion-select-option  *ngFor="let item of itemTicketService.itemObjRate.times" value={{item}}>{{item}}</ion-select-option>
          </ion-select>
          </div>
      </div>
      <div *ngIf="arrSkus && arrSkus.length > 0 && itemTicketService.dailyRatePkgs && itemTicketService.dailyRatePkgs.length > 0" class="d-flex margin-left--4 div-scroll">
        <div (click)="funcdate(item)"  *ngFor="let item of itemTicketService.dailyRatePkgs; let idx = index">
          <div class="div-option-time" [ngClass]="item.action ? 'div-option-time-action': 'div-option-time'" *ngIf="idx<4">{{item.dailydisplay}}</div>
        </div>
      </div>
        <div class="m-top-16" *ngIf="arrSkus && arrSkus.length>0 && (!itemTicketService.itemObjRate.specs || itemTicketService.itemObjRate.specs.length == 0)">
          <div *ngIf="arrSkus && arrSkus.length>1" class="text-label">
            Chọn loại vé:
          </div>
          <div *ngIf="arrSkus && arrSkus.length>1" class="d-flex margin-left-16 div-scroll">
           
            <div (click)="funcsku(i)" [ngClass]="item.action ? 'div-option-time-sku-action': 'div-option-time-sku'" *ngFor="let item of arrSkus;let i=index">
              {{item.skuName}}
            </div>
          </div>
          <div *ngIf="itemTicketService && itemTicketService.skus" class="width-62 text-label margin-top-16" >
            Chọn số lượng:
          </div>
          <div class="div-item-departure-date d-flex  margin-top-12" *ngIf="itemTicketService && itemTicketService.skus.allowAdult && ticketService.itemTicketService.itemObjRate.allowAdult">
            <div class="width-35">
               <div>
                Người lớn
               </div> 
               <div class="text-sub">{{itemTicketService.noteAdults}}</div>
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
             <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateAdultRounded">x {{gf.convertNumberToString(itemTicketService.skus.rateAdultRounded)}}</span>
             <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateAdultRounded">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>

            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(1)">-</div>
                <div class="div-item-center">{{adult}}</div>
                <div class="div-item-right f-24" (click)="addPax(1)">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex  margin-top-12 non-pkg" *ngIf="itemTicketService && ticketService.itemTicketService.itemObjRate.allowAdult && !itemTicketService.skus.allowAdult">
            <div class="width-35">
               <div>
                Người lớn
               </div> 
               <div class="text-sub">{{itemTicketService.noteAdults}}</div>
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
             <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateAdultRounded">x {{gf.convertNumberToString(itemTicketService.skus.rateAdultRounded)}}</span>
             <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateAdultRounded">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>

            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(1)">-</div>
                <div class="div-item-center">{{adult}}</div>
                <div class="div-item-right f-24" (click)="addPax(1)">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12" *ngIf="itemTicketService && itemTicketService.skus.allowChild && ticketService.itemTicketService.itemObjRate.allowChild">
            <div class="width-35">
              <div>Trẻ em</div>
              <div class="text-sub">{{itemTicketService.noteChildren}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateChildRounded && child > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateChildRounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateChildRounded && child == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(2)">-</div>
                <div class="div-item-center">{{child}}</div>
                <div class="div-item-right f-24" (click)="addPax(2)">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12 non-pkg" *ngIf="itemTicketService && ticketService.itemTicketService.itemObjRate.allowChild && !itemTicketService.skus.allowChild">
            <div class="width-35">
              <div>Trẻ em</div>
              <div class="text-sub">{{itemTicketService.noteChildren}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateChildRounded && child > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateChildRounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateChildRounded && child == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(2)">-</div>
                <div class="div-item-center">{{child}}</div>
                <div class="div-item-right f-24" (click)="addPax(2)">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12" *ngIf="itemTicketService.skus && itemTicketService.skus.allowCustom1 && ticketService.itemTicketService.itemObjRate.allowCustom1">
            <div class="width-35">
              <div>{{itemTicketService.nameCustom1}}</div>
              <div class="text-sub">{{itemTicketService.noteCustom1}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom1Rounded && Custom1 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom1Rounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom1Rounded && Custom1 == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(4)">-</div>
                <div class="div-item-center">{{Custom1}}</div>
                <div class="div-item-right f-24" (click)="addPax(4)">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12 non-pkg" *ngIf="itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowCustom1 && !itemTicketService.skus.allowCustom1">
            <div class="width-35">
              <div>{{itemTicketService.nameCustom1}}</div>
              <div class="text-sub">{{itemTicketService.noteCustom1}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom1Rounded && Custom1 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom1Rounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom1Rounded && Custom1 == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(4)">-</div>
                <div class="div-item-center">{{Custom1}}</div>
                <div class="div-item-right f-24" (click)="addPax(4)">+</div>
            </div>
          </div>

           <div class="div-item-departure-date d-flex margin-top-12" *ngIf="itemTicketService.skus && itemTicketService.skus.allowCustom2 && ticketService.itemTicketService.itemObjRate.allowCustom2">
            <div class="width-35">
              <div>{{itemTicketService.nameCustom2}}</div>
              <div class="text-sub">{{itemTicketService.noteCustom2}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom2Rounded && Custom2 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom2Rounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom2Rounded && Custom2 == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(5)">-</div>
                <div class="div-item-center">{{Custom2}}</div>
                <div class="div-item-right f-24" (click)="addPax(5)">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12 non-pkg" *ngIf="itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowCustom2 && !itemTicketService.skus.allowCustom2">
            <div class="width-35">
              <div>{{itemTicketService.nameCustom2}}</div>
              <div class="text-sub">{{itemTicketService.noteCustom2}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom2Rounded && Custom2 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom2Rounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom2Rounded && Custom2 == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(5)">-</div>
                <div class="div-item-center">{{Custom2}}</div>
                <div class="div-item-right f-24" (click)="addPax(5)">+</div>
            </div>
          </div>          

          <div class="div-item-departure-date d-flex margin-top-12" *ngIf="itemTicketService.skus && itemTicketService.skus.allowSenior && ticketService.itemTicketService.itemObjRate.allowSenior">
            <div class="width-35">
                <div>Người lớn tuổi</div>
                <div class="text-sub">{{itemTicketService.noteSeniors}}</div>
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateSeniorRounded && elder>0">x {{gf.convertNumberToString(itemTicketService.skus.rateSeniorRounded )}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateSeniorRounded  && elder==0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(3)">-</div>
                <div class="div-item-center">{{elder}}</div>
                <div class="div-item-right f-24" (click)="addPax(3)">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12 non-pkg" *ngIf="itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowSenior && !itemTicketService.skus.allowSenior">
            <div class="width-35">
                <div>Người lớn tuổi</div>
                <div class="text-sub">{{itemTicketService.noteSeniors}}</div>
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateSeniorRounded && elder>0">x {{gf.convertNumberToString(itemTicketService.skus.rateSeniorRounded )}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateSeniorRounded  && elder==0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" (click)="removePax(3)">-</div>
                <div class="div-item-center">{{elder}}</div>
                <div class="div-item-right f-24" (click)="addPax(3)">+</div>
            </div>
          </div>

        </div>

        <div class="m-top-16" *ngIf="itemTicketService.itemObjRate.specs && itemTicketService.itemObjRate.specs.length>0">
          <div *ngFor="let item of itemTicketService.itemObjRate.specs;let idx=index">
           <div *ngIf="item.child.length>1">
            <div class="text-label m-top-16">
              {{item.name}}:
            </div>
            <div class="d-flex div-colum" *ngIf="!(item.name=='Điểm đón khách' || item.name=='Điểm trả khách')">
              <div  *ngFor="let itemC of item.child;let i=index">
                <div *ngIf="isSpecAvailable(itemC.child_id)" (click)="funcspecs(item.child,item,itemC,i)" [ngClass]="itemC.action ? 'div-option-time-sku-action': 'div-option-time-sku'">{{itemC.child_name}}</div> 
                <div *ngIf="!isSpecAvailable(itemC.child_id)" class="div-option-time-sku spec-not-found">
                  {{itemC.child_name}}
                </div>
              </div>
             
            </div>
            <div class="d-flex div-colum" *ngIf="item.name=='Điểm đón khách' || item.name=='Điểm trả khách'">
              <div (click)="funcspecs(item.child,item,itemC,i)" [ngClass]="itemC.action ? 'div-option-time-place-action': 'div-option-time-place'" *ngFor="let itemC of item.child;let i=index">
                {{itemC.child_name}}
              </div>
            </div>
           </div>
          </div>
          <div *ngIf="itemTicketService && itemTicketService.skus" class="width-62 text-label margin-top-16" >
            Chọn số lượng:
          </div>
          <div class="margin-top-16"  *ngIf="itemTicketService.skus && itemTicketService.skus.allowAdult && ticketService.itemTicketService.itemObjRate.allowAdult">
         
            <div class="div-item-departure-date d-flex margin-top-12 div-border">
              <div class="width-30 margin-left-12">
                <div>Người lớn</div>
                <div class="text-sub">{{itemTicketService.noteAdults}}</div>
            </div>
            <div class="text-price-car width-30" >
             <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateAdultRounded">x {{gf.convertNumberToString(itemTicketService.skus.rateAdultRounded)}}</span>
             <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateAdultRounded">0</span> -->
            </div>
      

            <div class="width-40 d-flex div-item-car">
                <div class="div-item-left f-32" (click)="removePax(1)">-</div>
                <div class="div-item-center">{{adult}}</div>
                <div class="div-item-right f-24" (click)="addPax(1)">+</div>
            </div>
            </div>
           
          </div>

          <div class="margin-top-16 non-pkg" *ngIf="itemTicketService && itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowAdult && !itemTicketService.skus.allowAdult">
           
            <div class="div-item-departure-date d-flex margin-top-12 div-border">
              <div class="width-30 margin-left-12">
                <div>Người lớn</div>
                <div class="text-sub">{{itemTicketService.noteAdults}}</div>
            </div>
            <div class="text-price-car width-30" >
             <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateAdultRounded">x {{gf.convertNumberToString(itemTicketService.skus.rateAdultRounded)}}</span>
             <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateAdultRounded">0</span> -->
            </div>
      

            <div class="width-40 d-flex div-item-car">
                <div class="div-item-left f-32" (click)="removePax(1)">-</div>
                <div class="div-item-center">{{adult}}</div>
                <div class="div-item-right f-24" (click)="addPax(1)">+</div>
            </div>
            </div>
           
          </div>

          <div class="m-top-16" *ngIf="itemTicketService.skus && itemTicketService.skus.allowChild  && ticketService.itemTicketService.itemObjRate.allowChild">
            
            <div class="div-item-departure-date d-flex margin-top-12 div-border" >
              <div class="width-30 margin-left-12">
                <div>Trẻ em</div>
                <div class="text-sub">{{itemTicketService.noteChildren}}</div>
                  
              </div>
              <div class="text-price-car width-30" >
                <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateChildRounded && child > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateChildRounded)}}</span>
                <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateChildRounded && child == 0">0</span> -->
              </div>
        
              <div class="width-40 d-flex div-item-car">
                  <div class="div-item-left f-32" (click)="removePax(2)">-</div>
                  <div class="div-item-center">{{child}}</div>
                  <div class="div-item-right f-24" (click)="addPax(2)">+</div>
              </div>
            </div>
            
          </div>

          <div class="m-top-16 non-pkg" *ngIf="itemTicketService && itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowChild && !itemTicketService.skus.allowChild">
        
            <div class="div-item-departure-date d-flex margin-top-12 div-border" >
              <div class="width-30 margin-left-12">
                <div>Trẻ em</div>
                <div class="text-sub">{{itemTicketService.noteChildren}}</div>
                  
              </div>
              <div class="text-price-car width-30" >
                <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateChildRounded && child > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateChildRounded)}}</span>
                <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateChildRounded && child == 0">0</span> -->
              </div>
        
              <div class="width-40 d-flex div-item-car">
                  <div class="div-item-left f-32" (click)="removePax(2)">-</div>
                  <div class="div-item-center">{{child}}</div>
                  <div class="div-item-right f-24" (click)="addPax(2)">+</div>
              </div>
            </div>
            
          </div>

          <div class="m-top-16" *ngIf="itemTicketService.skus && itemTicketService.skus.allowSenior && ticketService.itemTicketService.itemObjRate.allowSenior">
          
            <div class="div-item-departure-date d-flex margin-top-12 div-border" >
              <div class="width-30 margin-left-12">
                <div>Người lớn tuổi</div>
                <div class="text-sub">{{itemTicketService.noteSeniors}}</div>
            </div>
            <div class="text-price-car width-30">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateSeniorRounded && elder>0">x {{gf.convertNumberToString(itemTicketService.skus.rateSeniorRounded )}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateSeniorRounded  && elder==0">0</span> -->
            </div>
      
            <div class="width-40 d-flex div-item-car">
                <div class="div-item-left f-32" (click)="removePax(3)">-</div>
                <div class="div-item-center">{{elder}}</div>
                <div class="div-item-right f-24" (click)="addPax(3)">+</div>
            </div>
            </div>  
        
          </div>

          <div class="m-top-16 non-pkg" *ngIf="itemTicketService && itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowSenior && !itemTicketService.skus.allowSenior">

            <div class="div-item-departure-date d-flex margin-top-12 div-border" >
              <div class="width-30 margin-left-12">
                <div>Người lớn tuổi</div>
                <div class="text-sub">{{itemTicketService.noteSeniors}}</div>
            </div>
            <div class="text-price-car width-30">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateSeniorRounded && elder>0">x {{gf.convertNumberToString(itemTicketService.skus.rateSeniorRounded )}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateSeniorRounded  && elder==0">0</span> -->
            </div>
      
            <div class="width-40 d-flex div-item-car">
                <div class="div-item-left f-32" (click)="removePax(3)">-</div>
                <div class="div-item-center">{{elder}}</div>
                <div class="div-item-right f-24" (click)="addPax(3)">+</div>
            </div>
            </div>  
        
          </div>

          <div class="m-top-16" *ngIf="itemTicketService.skus && itemTicketService.skus.allowCustom1 && ticketService.itemTicketService.itemObjRate.allowCustom1">
         
            <div class="div-item-departure-date d-flex margin-top-12 div-border" >
       
              <div class="width-30 margin-left-12">
                <div>{{itemTicketService.nameCustom1}}</div>
                <!-- <div class="text-sub">{{itemTicketService.noteCustom1}}</div> -->
                  
              </div>
              <div class="text-price-car width-30">
                <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom1Rounded && Custom1 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom1Rounded)}}</span>
                <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom1Rounded && Custom1 == 0">0</span> -->
              </div>
             
              <div class="width-40 d-flex div-item-car">
                  <div class="div-item-left f-32" (click)="removePax(4)">-</div>
                  <div class="div-item-center">{{Custom1}}</div>
                  <div class="div-item-right f-24" (click)="addPax(4)">+</div>
              </div>
            </div>
           
          
          </div>

          <div class="m-top-16 non-pkg" *ngIf="itemTicketService && itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowCustom1 && !itemTicketService.skus.allowCustom1">
         
            <div class="div-item-departure-date d-flex margin-top-12 div-border" >
       
              <div class="width-30 margin-left-12">
                <div>{{itemTicketService.nameCustom1}}</div>
                <!-- <div class="text-sub">{{itemTicketService.noteCustom1}}</div> -->
                  
              </div>
              <div class="text-price-car width-30">
                <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom1Rounded && Custom1 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom1Rounded)}}</span>
                <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom1Rounded && Custom1 == 0">0</span> -->
              </div>
             
              <div class="width-40 d-flex div-item-car">
                  <div class="div-item-left f-32" (click)="removePax(4)">-</div>
                  <div class="div-item-center">{{Custom1}}</div>
                  <div class="div-item-right f-24" (click)="addPax(4)">+</div>
              </div>
            </div>
           
          
          </div>

          <div class="m-top-16" *ngIf="itemTicketService.skus && itemTicketService.skus.allowCustom2 && ticketService.itemTicketService.itemObjRate.allowCustom2">
          
            <div class="div-item-departure-date d-flex margin-top-12 div-border" >
              <div class="width-30 margin-left-12">
                <div>{{itemTicketService.nameCustom2}}</div>
                <!-- <div class="text-sub">{{itemTicketService.noteCustom2}}</div> -->
                  
              </div>
              <div class="text-price-car width-30">
                <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom2Rounded && Custom2 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom2Rounded)}}</span>
                <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom2Rounded && Custom2 == 0">0</span> -->
              </div>
              
              <div class="width-40 d-flex div-item-car">
                  <div class="div-item-left f-32" (click)="removePax(5)">-</div>
                  <div class="div-item-center">{{Custom2}}</div>
                  <div class="div-item-right f-24" (click)="addPax(5)">+</div>
              </div>
            </div>
          </div>
        
          <div class="m-top-16 non-pkg" *ngIf="itemTicketService && itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowCustom2 && !itemTicketService.skus.allowCustom2">
         
            <div class="div-item-departure-date d-flex margin-top-12 div-border" >
              <div class="width-30 margin-left-12">
                <div>{{itemTicketService.nameCustom2}}</div>
                <!-- <div class="text-sub">{{itemTicketService.noteCustom2}}</div> -->
                  
              </div>
              <div class="text-price-car width-30">
                <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom2Rounded && Custom2 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom2Rounded)}}</span>
                <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom2Rounded && Custom2 == 0">0</span> -->
              </div>
              
              <div class="width-40 d-flex div-item-car">
                  <div class="div-item-left f-32" (click)="removePax(5)">-</div>
                  <div class="div-item-center">{{Custom2}}</div>
                  <div class="div-item-right f-24" (click)="addPax(5)">+</div>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="arrSkus && arrSkus.length==0 && itemTicketService.itemObjRate.specs && itemTicketService.itemObjRate.specs.length==0" class="div-notprice">
          
          <!-- <div class="div-item-departure-date d-flex  margin-top-12">
            <div class="width-35">
                Người lớn
            </div>
            <div class="text-price width-25 margin-right-8">
             <span>0</span>
            </div>
      

            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32" >-</div>
                <div class="div-item-center">{{adult}}</div>
                <div class="div-item-right f-24">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12">
            <div class="width-35">
              <div>Trẻ em</div>
            </div>
            <div class="text-price width-25 margin-right-8">
              <span>0</span>
            </div>
        
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32">-</div>
                <div class="div-item-center">{{child}}</div>
                <div class="div-item-right f-24">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12">
            <div class="width-35">
                <div>Người lớn tuổi</div>
            </div>
            <div class="text-price width-25 margin-right-8">
              <span>0</span>
            </div>
    
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32">-</div>
                <div class="div-item-center">{{elder}}</div>
                <div class="div-item-right f-24">+</div>
            </div>
          </div> -->
      

          <div class="div-item-departure-date d-flex  margin-top-12" *ngIf="itemTicketService && ticketService.itemTicketService.itemObjRate.allowAdult">
            <div class="width-35">
               <div>
                Người lớn
               </div> 
               <div class="text-sub">{{itemTicketService.noteAdults}}</div>
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
             <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateAdultRounded">x {{gf.convertNumberToString(itemTicketService.skus.rateAdultRounded)}}</span>
             <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateAdultRounded">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>

            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32">-</div>
                <div class="div-item-center">{{adult}}</div>
                <div class="div-item-right f-24">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12" *ngIf="itemTicketService && ticketService.itemTicketService.itemObjRate.allowChild">
            <div class="width-35">
              <div>Trẻ em</div>
              <div class="text-sub">{{itemTicketService.noteChildren}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateChildRounded && child > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateChildRounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateChildRounded && child == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32">-</div>
                <div class="div-item-center">{{child}}</div>
                <div class="div-item-right f-24">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12" *ngIf="itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowCustom1">
            <div class="width-35">
              <div>{{itemTicketService.nameCustom1}}</div>
              <div class="text-sub">{{itemTicketService.noteCustom1}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom1Rounded && Custom1 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom1Rounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom1Rounded && Custom1 == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32">-</div>
                <div class="div-item-center">{{Custom1}}</div>
                <div class="div-item-right f-24">+</div>
            </div>
          </div>

          <div class="div-item-departure-date d-flex margin-top-12" *ngIf="itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowCustom2">
            <div class="width-35">
              <div>{{itemTicketService.nameCustom2}}</div>
              <div class="text-sub">{{itemTicketService.noteCustom2}}</div>
                
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateCustom2Rounded && Custom2 > 0">x {{gf.convertNumberToString(itemTicketService.skus.rateCustom2Rounded)}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateCustom2Rounded && Custom2 == 0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25 margin-right-8">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32">-</div>
                <div class="div-item-center">{{Custom2}}</div>
                <div class="div-item-right f-24">+</div>
            </div>
          </div>          

          <div class="div-item-departure-date d-flex margin-top-12" *ngIf="itemTicketService.skus && ticketService.itemTicketService.itemObjRate.allowSenior">
            <div class="width-35">
                <div>Người lớn tuổi</div>
                <div class="text-sub">{{itemTicketService.noteSeniors}}</div>
            </div>
            <div class="text-price width-25 margin-right-8" *ngIf="loaddeparturedone else loadingsk">
              <span *ngIf="itemTicketService.skus && itemTicketService.skus.rateSeniorRounded && elder>0">x {{gf.convertNumberToString(itemTicketService.skus.rateSeniorRounded )}}</span>
              <!-- <span *ngIf="itemTicketService.skus && !itemTicketService.skus.rateSeniorRounded  && elder==0">0</span> -->
            </div>
            <ng-template #loadingsk>
              <div class="text-price width-25">
                <ion-skeleton-text animated style="width: 100%;height: 17px;border-radius: 4px;"></ion-skeleton-text>
              </div>
           </ng-template>
            <div class="width-45 d-flex div-item-pax">
                <div class="div-item-left f-32">-</div>
                <div class="div-item-center">{{elder}}</div>
                <div class="div-item-right f-24">+</div>
            </div>
          </div>
        </div>

        <!-- <div class="m-top-12 div-last div-text-date" *ngIf="ischeckDate">
          <div class="div-text-date">
            Ngày dịch vụ: <span class="text-span">{{ticketService.itemTicketService.AllotmentDateDisplay}}</span>
          </div>
          
        </div> -->

        <div *ngIf="arrSkus && arrSkus.length>0">
          <div class="d-flex div-total m-top-26" *ngIf="itemTicketService.Note">
            <div class="width-40 text-normal">{{itemTicketService.Note}}</div>
            <div class="width-60 text-tealish text-right"><span class="text-surcharge" *ngIf="itemTicketService.RateSurchargeAdult">+{{gf.convertNumberToString(itemTicketService.RateSurchargeAdult)}}</span><span>đ</span></div>
          </div>

          <div [ngClass]="itemTicketService.Note ? 'd-flex div-total': 'd-flex div-total m-top-19'">
            <div class="width-40 text-normal m-top-8">Tổng cộng</div>
            <div class="width-60 text-right text-total-price"><span class="text-total" *ngIf="totalPrice">{{gf.convertNumberToString(itemTicketService.skus.totalRateRounded)}}</span><span>đ</span></div>
          </div>

          <!-- <div class="div-point" *ngIf="point || pointbkg">
            <span *ngIf="point">Bạn có {{ gf.convertNumberToString(point) }} điểm. </span>
            <span *ngIf="pointbkg">Tích lũy thêm {{ pointbkg }} điểm iVIVU</span>
          </div> -->

          <!-- <div class="d-flex m-top-12 div-last" *ngIf="hasAllotment">
            <div class="v-align-center m-r-4"><img src="./assets/ic_tour/flash.svg"></div>
            <div class="v-align-center text-normal text-red">Xác nhận ngay & xuất vé điện tử tức thời</div>
          </div>
          <div class="d-flex m-top-12 div-last" *ngIf="!hasAllotment">
            <div class="v-align-center m-r-4"><img src="./assets/ic_tour/info.svg"></div>
            <div class="v-align-center text-normal text-tealish">Liên hệ để xác nhận chỗ</div>
          </div> -->
        </div>
        <div *ngIf="arrSkus && arrSkus.length==0">
          <div class="div-split-panel"></div>
          <div class="d-flex m-top-12 div-last">
            <div class="v-align-center m-r-4"><img src="./assets/ic_tour/non.svg"></div>
            <div class="v-align-center text-normal text-tealish">Ngày không có giá</div>
          </div>
        </div>

        <!-- <div *ngIf="arrSkus && arrSkus.length==0 && itemTicketService.itemObjRate.specs && itemTicketService.itemObjRate.specs.length>0 && objectLength==itemTicketService.itemObjRate.specs.length">
          <div class="div-split-panel"></div>
          <div class="d-flex m-top-12 div-last">
            <div class="v-align-center m-r-4"><img src="./assets/ic_tour/non.svg"></div>
            <div class="v-align-center text-normal text-tealish">Ngày không có giá</div>
          </div>
        </div> -->
    </div>
</div>
</ion-content>
<ion-footer class="bg-white">
  <div class="div-tourdeparturecalendar-footer d-flex">
    <div *ngIf="ischeckbtn" class="width-100"  (click)="book()">
        <button ion-button round outline class="button btn-book">
            Đặt ngay
        </button>
    </div>
    <div  *ngIf="!ischeckbtn" class="width-100 cls-no-departure">
      <button ion-button round outline class="button btn-book">
          Đặt ngay
      </button>
  </div>
 
</div>
</ion-footer>
