<ion-header class="flightselectpax-header">
  <ion-toolbar style="min-height: 56px;text-align: center">
    <ion-buttons start class="div-close">
      <button routerDirection="root" class="btn-close" (click)="closeModal()">
        <img style="max-width: 150%" src="./assets/imgs/ios-arrow-round-back.svg" >
      </button>
    </ion-buttons>
        <ion-title>Thêm hành khách</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="content-occupancy ion-padding-16" >
    <div>
      <div>
        <div class="d-flex border-bottom">
            <div  class="text-left-pax">
              <div>
                
                <label class="text-room">Người lớn</label>
              </div>
              <div class="text-sub">Từ 12 tuổi trở lên</div>
                
            </div>
            <div class="t-center  ic-minus d-flex" (click)="minusadults()">
              <div class="m-width-26">
                <img *ngIf="ischeckadults==true"  src="./assets/ic_facility/ic_minus.svg">
                <img *ngIf="ischeckadults==false" src="./assets/ic_facility/ic_minus_in.svg">
              </div>
              <div class="t-center div-width-100"><label class="number-room">{{adults}}</label></div>
            </div>
            <div class="t-center ic-plus" (click)="plusadults()">
              <img src="./assets/ic_facility/ic_plus.svg">
            </div>
        </div>
       
        <div class="d-flex border-bottom">
            <div class="text-left-pax" >
              <div> 
                <label class="text-room">Trẻ em</label>
              </div>
                <div class="text-sub">Từ 2 tuổi đến 11 tuổi</div>
            </div>
            <div  class="t-center ic-minus d-flex" (click)="minuschild()">
              <div class="m-width-26">
                <img *ngIf="ischeckchild==true" src="./assets/ic_facility/ic_minus.svg">
                <img *ngIf="ischeckchild==false" src="./assets/ic_facility/ic_minus_in.svg">
  
              </div>
              <div class="t-center div-width-100"><label class="number-room">{{child}}</label></div>
            </div>
            <div text-right  class="t-center  ic-plus" (click)="pluschild()">
              <img  src="./assets/ic_facility/ic_plus.svg">
  
            </div>
        </div>
        
        <div class="d-flex no-border-bottom">
          <div class="text-left-pax" >
            <div > 
              <label class="text-room">Em bé</label>
            </div>
            <div class="text-sub">Dưới 2 tuổi</div>
          </div>
          <div  class="t-center  ic-minus d-flex" (click)="minusinfant()">
            <div  class="m-width-26">
              <img *ngIf="ischeckinfant==true" src="./assets/ic_facility/ic_minus.svg">
              <img *ngIf="ischeckinfant==false" src="./assets/ic_facility/ic_minus_in.svg">
            </div>
            <div class="t-center div-width-100"><label class="number-room">{{infant}}</label></div>
          </div>
          <div class="t-center  ic-plus" (click)="plusinfant()">
            <img  src="./assets/ic_facility/ic_plus.svg">

          </div>
      </div>

      </div>
    </div>
  
  </ion-content>
  <ion-footer>
    <div class="div-footer">
      <button (click)="data()" ion-button round outline class="button button-done">Xác nhận</button>
    </div>
  </ion-footer>