<!--
  Generated template for the RoompaymentdonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar style="min-height: 0px;text-align: center">
        <ion-row>
          <ion-col style="text-align: center">
            <div style="align-self: center" >
                <div style="padding-top: 6px;font-size: 20px;font-weight: bold;"><label class="text-title">Hoàn thành</label></div>
            </div>
          </ion-col>
        </ion-row>
        </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding-16">
  <img  src="./assets/step/step_4.svg">
  <!-- <div *ngIf="!ischeckpayment" style="text-align: center">
    <img  src="./assets/step/fc_step_3.svg">
    </div> -->
  <div class="m-top-16" >
    <div class="m-top-8">
      <ion-label class="f-bold">
        Cảm ơn Quý khách sử dụng dịch vụ iVIVU.com
      </ion-label>
    </div>

    <div *ngIf="ischeckshow=='0'">
      <div class="m-top-16" >
        <ion-label>
          Mã {{texttype}} của quý khách là
          <span class="f-bold">{{code}}</span>
        </ion-label>
      </div>
      <div class="m-top-6">
        <ion-label text-wrap>
          Giao dịch thanh toán thành công. Tổng số tiền thanh toán là :
          <span class="f-bold">{{total}} VND</span>
        </ion-label>
      </div>
    </div>
  
    <div *ngIf="ischeckshow=='1'">
      <div class="m-top-16" >
        <ion-label>
          Mã đặt phòng của quý khách là
          <span class="f-bold">{{code}}</span>
        </ion-label>
      </div>
      <div class="m-top-6">
        <ion-label text-wrap>
          Xác nhận {{texttype}} đã được gửi đến email của Quý khách.
        </ion-label>
      </div>
      <div class="m-top-6">
        <ion-label text-wrap>
          Nhân viên iVIVU.COM sẽ liên lạc với Quý Khách trong thời gian sớm nhất.
        </ion-label>
      </div>
    </div>
    
    
    <div class="m-top-16">
      <ion-label text-wrap>
        Nếu cần sự hỗ trợ vui lòng liên hệ tổng đài 1900 1870 hoặc email tc@ivivu.com để được trợ giúp.
      </ion-label>
    </div>
    <div class="m-top-6">
      <ion-label text-wrap>
        Hồ Chí Minh: 1900 1870
      </ion-label>
    </div>
    <div class="m-top-6">
      <ion-label text-wrap>
        Hà Nội: 1900 2045
      </ion-label>
    </div>
    <div class="m-top-6">
      <ion-label text-wrap>
        Cần Thơ: 1900 2087
      </ion-label>
    </div>

  </div>
    
</ion-content>
<ion-footer>
  <div class="div-button-payment-done">
    <button *ngIf="ischeckshow=='0'||payment=='AL'||!payment" (click)="addToCalendar()" ion-button round outline class="button button2">Thêm chuyến đi vào lịch</button>
    <button *ngIf="ischeckshow=='1'" (click)="next(0)" ion-button round outline class="button button2">Hoàn thành</button>
    <button *ngIf="ischeckshow=='0'" (click)="next(1)" ion-button round outline class="button button2">Hoàn thành</button>
  </div>
</ion-footer>