<ion-header class="installment-detail-header">
  <ion-toolbar class="text-center">
    <ion-row>
      <ion-col class="text-center">
        <div  class="align-self-center" >
          <div class="div-goback" (click)="goback()" >
              <img class="img-goback" src="./assets/imgs/ios-arrow-round-back.svg" >
          </div>
          <div class="title-header"><label class="text-title">Chính sách trả góp</label></div>
        </div>
      </ion-col>
    </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="installment-detail-content">
    <div>Chương trình áp dụng dành cho CHỦ THẺ TÍN DỤNG QUỐC TẾ CÁ NHÂN - Credit Card</div>
    <div class="p-top-8">Thẻ tín dụng là tất cả các thẻ có logo Master card/VISA/JCB...và không có chữ Repaid/Debit/ATM/MST/Tên công ty</div>

    <div class="p-top-16">1. QUY ĐỊNH CHUNG</div>
    <div class="text-sub p-top-4">1.1. Giao dịch trả góp chỉ được thực hiện cho chủ thẻ tín dụng Quốc tế được phát hành bởi các Ngân hàng có hỗ trợ trả góp tại iVIVU.com;</div>
    <div class="text-sub p-top-4">1.2. Giá trị thanh toán thẻ từ 3.000.000 VNĐ trở lên sau khi đã trừ các giảm giá (nếu có);</div>
    <div class="text-sub p-top-4">1.3. Thời gian trả góp: dựa theo ngân hàng phát hành thẻ</div>
    <div class="text-sub p-top-4">1.4. Không giới hạn số lần đăng ký trả góp;</div>
    <div class="text-sub p-top-4">1.5. Chủ thẻ không được huỷ giao dịch trả góp sau khi giao dịch đã chuyển sang trả góp;</div>
    <div class="text-sub p-top-4">1.6. Không áp dụng cho Thẻ phụ, Thẻ doanh nghiệp;</div>
    <div class="text-sub p-top-4">1.7. Số tiền giao dịch sẽ được chia thành những khoản trả góp đều nhau dựa theo kì hạn trả góp đã chọn, được liệt kê cùng với các giao dịch bằng thẻ vào bảng sao kê hàng tháng. Khách hàng sẽ thanh toán các khoản này theo phương thức và thời hạn thanh toán thông thường của thẻ tín dụng. Khoản tiền phải trả góp sẽ được hiển thị trên bảng sao kê hàng tháng.</div>

    <div class="p-top-16">2. CÁC TRƯỜNG HỢP KHÔNG ĐƯỢC ĐĂNG KÝ DỊCH VỤ TRẢ GÓP</div>
    <div class="text-sub p-top-4">2.1. Tài khoản thẻ tín dụng của Chủ thẻ đang trong tình trạng chậm thanh toán;</div>
    <div class="text-sub p-top-4">2.2. Hiệu lực còn lại của Thẻ tín dụng ít hơn thời hạn đăng ký trả góp;</div>
    <div class="text-sub p-top-4">2.3. Chủ thẻ vi phạm các Điều khoản & Điều kiện phát hành và sử dụng thẻ tín dụng quốc tế của ngân hàng phát hành;</div>
    <div class="text-sub p-top-4">2.4. Giao dịch đăng ký trả góp được thực hiện tại ĐVCNT không hợp tác triển khai Dịch vụ thanh toán trả góp lãi suất 0% bằng Thẻ Quốc tế với Ngân lượng hoặc Thẻ được phát hành bởi Ngân hàng không có hỗ trợ trả góp;</div>
    <div class="text-sub p-top-4">2.5. Giá trị giao dịch đăng ký trả góp nhỏ hơn số tiền tối thiểu/giao dịch theo quy định của từng ngân hàng có hỗ trợ trả góp;</div>
    <div class="text-sub p-top-4">2.6. Giao dịch trả góp đã lên sao kê.</div>
  </div>
</ion-content>
