::ng-deep {
    .totalPrice
{
    color: #26BED6;
    font-weight: bold;
}
}
.button2
{
    background: #fff;
    color: #ff9500;
    border-color: #ff9500;
    border: solid 1px #ff9500;
    width: 96%;
    font-size: 17px !important;
    //padding: 0;
}

.div-btn
{
    background-color: #ffffff; text-align: center;margin-top: 20px
}
.mt15
{
    margin-top: 15px;
}
.totalPrice {
    font-weight: bold;
    color: #26BED6;
}
.textpayment{
    color:#003C71; 
    font-weight:bold
}
.text{
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 2;
}
.text-payment-info{
    white-space: normal !important;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 28px;
    margin: 0;
}
.text-bold{
    font-size: 14px;
    line-height: 1.5;
    color: #222222;
    font-weight: 600;
    letter-spacing: -0.28px;
}
.mt20
{
    margin-top: 20px;
}
.div-split-panel{
    height: 6px;
    background: #f2f2f2;
    margin-top: 18px;
    margin-bottom: 13px;
    margin-left: -16px;
    margin-right: -16px;
}
.mt12
{
    margin-top: 12px;
}
.text-size-12
{
    font-size: 12px;
    letter-spacing: -0.4px;
    line-height: 2;
}
.div-quick-back {
    font-size: 32px;
    position: absolute;
    right: 16px;
    color: #bdbdbd;
    letter-spacing: -3.5px;
    top: -5px;
}
