.flightpage-header .m-top-5{
    margin-top: 3px !important;
}
.flight-search-filter-content{
    .p-16{
        padding: 16px;
        padding-bottom: 100px;
    }
    
    .d-flex{
        display: flex;
    }

    .m-bottom-8{
        margin-bottom: 8px;
    }

    ion-range{
        padding: 0; height: 24px;
        --bar-background: #ccc !important;
        --ion-color-primary: #26bed6;
        --knob-size: 15px;
        --knob-background: #26bed6;
        left: 8px;
        margin-right: 16px;
    }
    .text-title{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }

    .div-fitler-price{
        

        .div-left, .div-right{
            width: 100%;
        }

        .div-right{
            text-align: right;
        }
    }
    .text-price{
        font-size: 12px;
        color: #828282;
        font-weight: 300;
        line-height: 15px;
    }

    .item-text{
        font-size: 14px;
        font-weight: 300;
        color: #828282;
        line-height: 18px;
        text-align: center;
    }

    .div-flight-time-title{
        margin-top: 24px;
        margin-bottom: 8px;
    }
    
    .div-item-left, .div-item-right{
        width: 100%;
        height: 46px;
        border-radius: 4px;
        border: solid 0.5px #828282;
        padding: 4px 8px;
        text-align: center;

        .item-text{
            font-size: 14px;
            font-weight: 300;
            color: #828282;
            line-height: 18px;
        }
        .item-time{
           
            font-size: 14px;
            font-weight: normal;
            color: #26bed6;
            line-height: 18px;
        }
    }

    .div-item-left.selected, .div-item-right.selected{
        width: 100%;
        height: 46px;
        border-radius: 4px;
        border: solid 0.5px #26bed6;
        background: #26bed6;
        padding: 4px 8px;
        text-align: center;

        .item-text{
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            line-height: 18px;
        }
        .item-time{
           
            font-size: 14px;
            font-weight: normal;
            color: #ffffff;
            line-height: 18px;
        }
    }

    .div-item-left.item-disabled, .div-item-right.item-disabled{
        width: 100%;
        height: 46px;
        border-radius: 4px;
        border: solid 0.5px #f4f4f4;
        background: #f4f4f4;
        padding: 4px 8px;
        text-align: center;
        color: #bdbdbd;
    }
    .item-time-disabled{
        font-size: 14px;
        font-weight: normal;
        color: #bdbdbd;
        line-height: 18px;
    }
    .item-text-disabled{
        font-size: 14px;
        font-weight: 300;
        color: #bdbdbd;
        line-height: 18px;
    }

    .div-item-right{
        margin-left: 9px;
    }

    .div-flight-airline-title, .div-flight-class-title, .div-flight-stop-title, .div-flight-facility-title{
        margin-top: 24px;
        margin-bottom: 8px;
    }
    .div-flight-airline, .div-flight-class, .div-flight-stop, .div-flight-facility{
        .div-airline{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .div-airline-item{
            height: 47px;
            border-radius: 4px;
            border: solid 0.5px #828282;
            color: #828282;
            margin-right: 8px;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px 10px;
        }

        .div-airline-item.selected{
            border: solid 0.5px #26bed6;
            color: #ffffff;
            background: #26bed6;
        }
        
        .div-flight-class-item{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .div-class-item{
            height: 47px;
            border-radius: 4px;
            border: solid 0.5px #828282;
            color: #828282;
            margin-right: 8px;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px 10px;
        }

        .div-class-item.selected{
            border: solid 0.5px #26bed6;
            color: #ffffff;
            background: #26bed6;
        }

        .div-stop-item, .div-facility-item{
            height: 47px;
            border-radius: 4px;
            border: solid 0.5px #828282;
            color: #828282;
            margin-right: 8px;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px 10px;
        }

        .div-stop-item.selected{
            border: solid 0.5px #26bed6;
            color: #ffffff;
            background: #26bed6;
        }

        .div-facility-item.selected{
            border: solid 0.5px #26bed6;
            color: #ffffff;
            background: #26bed6;
        }
    }
    .div-class-item.disabled{
        border: solid 0.5px #f2f2f2 !important;
        color: #bdbdbd !important;
        background: #f2f2f2;
    }
    .div-stop-item.disabled{
        border: solid 0.5px #f2f2f2 !important;
        color: #bdbdbd !important;
        background: #f2f2f2;
    }
    .div-facility-item.disabled{
        border: solid 0.5px #f2f2f2 !important;
        color: #bdbdbd !important;
        background: #f2f2f2;
    }
}

.div-flightfilter-footer{
    background-color: #ffffff; text-align: center; display: flex;
    .div-button-flex{
        display: flex;
        width: 100%;
      }
      .button-filter
      {
          background: #ff9500;
          color: #ffffff;
          border-color: #ff9500;
          width: 100%;
          font-size: 16px !important;
          letter-spacing: -0.6px;
          padding: 0;
          margin: 16px 8px;
      } 
      .button-clear
      {
          background: #ffffff;
          color: #ff9500;
          border: solid 1px #ff9500;
          width: 90%;
          font-size: 16px !important;
          letter-spacing: -0.4px;
          margin: 16px 8px;
      } 

      
  }
