
   .img-hotel-detail{
    width: 100%;
    height: 219px;
}
.div-go-back{
 z-index: 100;
 position: absolute;
   top: 5%;
   left: 10px;
   color: #ffffff;
   width: 48px;
   height: 48px;
 }
 .img-back{
     height: 48px;
     padding: 8px;
     margin-top: calc(env(safe-area-inset-top) - 14px);
     margin-left: -8px;
     z-index: 11;
     position: absolute;
 }
 .div-img-background{
     background-color: #000;
     opacity: 0.3;
     position: absolute;
     border-radius: 24px;
 }
 .div-goback-background{
     margin-left: -8px;
     height: 28px;
     width: 28px;
     top: 10px;
     left: 10px;
 }

.hotel-room-detail-content{
     padding: 0 16px;
     font-size: 14px;
     padding-bottom: 30px;
     margin-top: 24px;
 .room-class-name{
     margin-top:8px;
     color: #26bed6;
 }
 .icon-detail-fix{
     width: 16px;
     //opacity: 0.6;
 }
 
 .p-top-8{
     padding-top: 8px;
 }
 .label-md {
     margin: 0;
 }
 .row-title{
     padding: 10px 0px;
 }
 .room-class-icon{
     text-align: right;
     position: absolute;
 }
 .room-class-info{
     padding-left: 24px;
 }
 .p-left-28{
     padding-left: 28px;
 }

 .div-bedroom-display ion-row:last-child span{
     display: none;
 }
 .text-or{
     padding-top: 8px;
 }
 // .text-hotel-description{
 //     overflow: auto;
 //     text-overflow: inherit;
 //     white-space: normal;
 // }
 .h-line{
     border-bottom: solid 0.5px #bdbdbd;
     margin: 8px 0;
 }
 ///style mealtype
 .mealtype-item .div-mealtype:last-child .div-border-bottom{
     border-bottom: none;
 }
 .mealtype-item div:first-child .div-border-bottom{
     border-bottom: none;
 }
 .div-mealtype{
     text-align: left;
     padding-bottom:16px;
 }
 .div-mealtype .cls-visible{
     display: block;
     animation: showNav 500ms ease-in-out both;
 }
 .cls-firstmealtype-border{
     border: solid 2px #26ced6;
     padding-top:8px;
 }
 .p-left-8{
     padding-left: 8px;
     //padding-top:16px;
 }
 .icon-detail-green-fix{
     width:12px;
     height:12px;
     color:#219653;
 }
 .icon-detail-check-green-fix{
     font-size: 15px;
     width:12px;
     height:12px;
     color:#219653;
 }
 .cls-green{
     color:#219653;
     font-size: 12px;
     font-weight: normal;
     //opacity: 0.85;
 }
 .text-room-description{
     color:#828282;
     padding: 16px 8px 0px 0px;
     text-align: right;
     font-size: 12px;
     letter-spacing: -0.34px;
 }
 .text-room-description-p-top-32{
     color:#828282;
     padding: 32px 8px 0px 0px;
     text-align: right;
     font-size: 12px;
     letter-spacing: -0.34px;
 }
 .text-room-price{
     color:#26bed6;
     padding: 0px 0px 12px 0px;
     font-size: 24px;
     font-weight: bold;
     text-align: right;
     margin: 0px;
     letter-spacing: -0.69px;
 }
 .text-room-price-no-bottom{
     color:#26bed6;
     padding: 0px 0px 0px 0px;
     font-size: 24px;
     font-weight: bold;
     text-align: right;
     margin: 0px;
     letter-spacing: -0.69px;
 }
 .text-hotel-description{
     padding-left: 10px;
     white-space: inherit;
     text-align: left;
     width: 90%;
     letter-spacing: -0.34px;
 }
 .penal-detail{
     align-items: center;padding-top: 4px
 }
 .penal-detail:last-child{
     padding-bottom: 12px;
 }
 .arrow::before {
     content: '';
     position: absolute;
     left: calc(42% - 10px);
     background: #275A87;
     width: 14px;
     height: 8px;
     -moz-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
     margin-top: -10px;
   }
   .penalty-text{
     font-size:12px;
     font-weight:normal;
     //opacity:0.85;
     padding-left: 10px; 
     height: 14px;
   }
   .link-penalty{
     padding-left: 10px;
     text-decoration: none;
     background-color: #ffffff;
     cursor: pointer;
     text-decoration: underline;
     color: #40A6F2;
   }
   .penalty-active-description.none-p-top{
       padding-top:0;
   }

   .penalty-active-description{
     font-size:14px;
     font-weight:normal;
     padding: 16px;
     white-space: normal;
 }
 .penalty-active{
     margin-top: 8px;
     padding: 8px;
     color: #ffffff;
     background: #275A87;
     border-radius: 6px;
 }
 .vcolor-info{
     color: #26bed6;
 }
 .text-promotion-note{
     padding:4px 0px 4px 0px;
     font-size: 14px;
     color:#E52822;
     text-align: right;
 }
 .icon-text-promotion{
     width: 14px;
     padding-right: 4px;
 }
 .div-promotion-note{
     width: 100%;
     border: none !important;
 }
 .text-room-price-ota{
     color:#828282;
     padding: 0px;
     font-size: 14px;
     text-align: right;
     text-decoration: line-through;
     margin: 0px;
 }
 .text-register{
     color:#26bed6;
     padding: 16px 8px 12px 0px;
     text-align: right
 }
 .icon-text-register{
     padding: 2px 6px 0px 0px;
     vertical-align: sub;
 }
 .btn-book-outline{
     border:solid 1px #f59233;
     color: #f59233;
     background: #ffffff;
     width: 100%;
     height: 48px;
     text-transform: none;
     font-size: 17px !important;
     font-weight: normal;
     margin: 0;
 }
 .cls-firstmealtype-border{
     border: solid 2px #26ced6;
     margin: 0 -16px;
     padding: 8px 16px 16px 16px;
 }
}

.btn-cancel{
 width: 90%;
 border:none;
 color: #ffffff;
 background-color: #F79221;
 border-color: #F79221;
 height: 48px;
}
.div-img-caption{
 position: absolute;
 bottom: 9px;
 color: #fff;
 width: 70%;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 letter-spacing: -0.4px;
 font-size: 14px;
 z-index: 11;
}
.text-title-name{
 font-size: 16px;
 font-weight: 600;
 line-height: 1.4;
 color: #3f3b3b;
 margin-top: 16px;
 margin-bottom: 13px;
}
.div-navigation-back{
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 10px;
    color: #ffffff;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
 }
 .div-navigation-forward{
    z-index: 100;
    position: absolute;
    top: 10%;
    right: 8px;
    color: #ffffff;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
     }
 .img-navigation-back{
 margin-left: -8px;
 }
//  .img-navigation-forward{
//      margin-top: env(safe-area-inset-bottom);

//      }
    
     .div-img-caption-grad{
         position: absolute;
         color: #ffffff;
         background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
         z-index: 10;
         bottom: 5px;
         opacity: 0.5;
         height: 26px;
         width: 70%;
         background: rgba(0, 0, 0, 0.5);
         border-radius: 2px;
         padding: 2px 0px;
         background-color: rgba(0, 0, 0, 0.5);
       }
       .div-text-room{
         padding-top: 6px;
         font-size: 18px;
         font-weight: bold;
         width: 70%;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         margin-left: 60px;
     }
    

//style image
a.progressive {
 position: relative;
 display: block;
 overflow: hidden;
 outline: none;
}

a.progressive:not(.replace) {
 cursor: default;
}
a.progressive img {
 display: block;
 width: 100%;
 max-width: none;
 height: auto;
 border: 0 none;
}
a.progressive img.preview {
 filter: blur(2vw);
 transform: scale(1.05);
}

a.progressive img.reveal {
 position: absolute;
 left: 0;
 top: 0;
 will-change: transform, opacity;
 animation: reveal 1s ease-out;
}
img.reveal {
 position: absolute;
 left: 0;
 top: 0;
 will-change: transform, opacity;
 animation: reveal 1s ease-out;
}

@keyframes reveal {
 0% {transform: scale(1.05); opacity: 0;}
 100% {transform: scale(1); opacity: 1;}
}

.div-sk-image {
 width:100%;
 height:197px
}
.text-room-description-custom {
    line-height: 1.6;
    font-size: 14px;
}
::ng-deep {
   
    img-loader > img {
        width: 100% !important;
    }
}