.flighttopdeal-section{

    .title-padding{
        padding: 16px 0px 0px 0px;
        padding-right:16px !important;
      }
  
      .sub-title{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.34px;
        color: #3f3b3b;
      }

    .text-title2
    {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: #3f3b3b;
    }
    .div-seemore{
        margin-top: 5px;
        text-align: right;
        float: right;
        color: #26bed6
    }

    .innerdeals1{
        height: 100%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 16px;

        div{
          display:table-cell;
        }

        .cls-deal{
            padding-left: 16px;
            position: relative;

            .float-info{
                position: absolute;
                bottom: 8px;
                left: 16px;
                z-index: 11;

                p{
                    margin: 0;
                }
              }

              .hotel-name
                {
                    font-size: 16px;
                    margin:0;
                    text-align: left;
                    font-weight: bold;
                    white-space: nowrap;
                    width: 260px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color:#fff;
                }
        }

        .cls-deal:first-child{
            padding-left: 0;
        }

        .grad1 {
            position: absolute; 
            width: 272px;
            height: 80px; /* For browsers that do not support gradients */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
            z-index: 10;
            bottom:4px;
            left: 8px;
            //opacity: 0.5;
            border-radius: 6px;
            opacity:0.5;
          }

          .cls-deal:last-child{
            padding-right: 16px !important;
          }

          .slide2
          {
            min-width: 272px;
            height: 356px;
            }

            .img 
            {
            border-radius: 5px;
            object-fit: cover;
            }

            .slide2-scroll
                {
                height: 356px;
                margin-left: -19px;
                margin-top: -10px;
                // @media (min-width:320px) and (max-width: 360px) {
                //     height: 320px;
                //     width: 100%;
                // }
                // @media (min-width:360px) and (max-width: 375px) {
                //     height: 320px;

                // }
                // @media (min-width: 375px) and (max-width: 384px) {
                //     height: 320px;

                // }
                // @media (min-width: 384px) and (max-width: 412px) {
                //     height: 320px;
                // }
                // @media (min-width: 412px) and (max-width: 480px) {
                //     height: 320px;

                // }
                // @media (min-width: 480px) and (max-width: 600px) {
                //     height: 320px;

                // }
                // @media (min-width: 600px) and (max-width: 720px) {
                //     height: 320px;

                // }
                // @media (min-width: 720px) and (max-width: 768px) {
                //     height: 320px;

                // }
                // @media (min-width: 768px) and (max-width: 800px) {
                //     height: 330px;

                // }
                // @media (min-width: 800px) {
                //     height: 570px;

                // }
                }
      }
}