
   
    .img-show-oldpassword{
        position: absolute;
        right: 0;
        top: 41px;
        padding: 16px 0;
        width: 32px;
        height: 45px;
        margin-right: 20px;
        border-bottom: solid 1px #dedede;
        z-index: 99;
    }

    .img-show-newpassword{
        position: absolute;
        right: 0;
        top: 107px;
        padding: 16px 0;
        width: 32px;
        height: 45px;
        margin-right: 20px;
        border-bottom: solid 1px #dedede;
        z-index: 99;
    }

    .btn-changepass{
        border-color: #f79221 !important;
        color: #ffffff !important;
        background: #f79221 !important;
        width: 91%;
        margin: 16px;
    }

    //userchangepassword {
        ::ng-deep{
            ion-input button{
                display: none;
            }
        }
    //}
    img{
        visibility: initial;
    }
    