<ion-header>
    <ion-row>
        <ion-col style="text-align: center;height: 48px;margin-bottom: 8px;">
            <div style="align-self: center" >
            <div style="position: absolute;height: 48px;width: 48px;align-self: center;" (click)="goback()">
                <img style="height: 48px; padding: 8px;margin-top: 0px;margin-left:-14px; top:2px" src="./assets/imgs/ios-arrow-round-back.svg" >
              </div>
            <div style="padding-top: 10px;font-size: 20px;font-weight: bold;"><label class="text-title">Đổi mật khẩu</label></div>
            </div>
        </ion-col>
        </ion-row>
    </ion-header>
    <ion-content class="content-changepass">
        <form *ngIf='userProfileData' [formGroup]="userProfileData" style="margin-top: 20px" (submit)="saveChange()">
            <ion-item style="background-color: initial;width:81%;margin-left:16px;--padding-start:0;">
                <ion-label  style="font-size:14px;color: #828282"  position="floating">Mật khẩu cũ</ion-label>
                <ion-input  clearInput [type]="inputtype" id="oldpassword" formControlName="oldpassword"></ion-input>
            </ion-item>
            <div class="img-show-oldpassword" (click)="changetype(1)">
                <img src="./assets/imgs/ic_eye.svg" *ngIf="inputtype == 'text'">
                <img src="./assets/imgs/ic_eyeoff.svg" *ngIf="inputtype != 'text'">
            </div>
            <ion-item style="background-color: initial;width:81%;margin-left:16px;--padding-start:0;">
                <ion-label  style="font-size:14px;color: #828282"  position="floating">Mật khẩu mới</ion-label>
                <ion-input  clearInput [type]="inputtypenew" id="newpassword" formControlName="newpassword"></ion-input>
            </ion-item>
            <div class="img-show-newpassword" (click)="changetype(2)">
                    <img src="./assets/imgs/ic_eye.svg" *ngIf="inputtypenew == 'text'">
                    <img src="./assets/imgs/ic_eyeoff.svg" *ngIf="inputtypenew != 'text'">
            </div>
       </form>
       <div><button ion-button round outline class="button btn-changepass" (click)="saveChange()">Đổi mật khẩu</button></div>
    </ion-content>