
	
	
	.login-header {
		.div-goback{
			margin-left: 6px;
			z-index: 1;
		}
		
		.header-img-back {
			margin-top: 4px !important;
			width: 32px;
			margin-left: 4px;
		}
		.div-header-title {
			margin-right: 36px;
      		position: relative !important;
			width: 100%;
			justify-content: center;
			display: flex;
			flex-direction: column;
			font-size: 18px;
			font-weight: 600;
		}
	}
	.d-flex {
		display: flex;
	}

	.login-content {

		.m-top-32 {
			margin-top: 32px;
		}
		.m-bottom-8 {
			margin-bottom: 8px;
		}
		.bg-white {
			background-color: #ffffff;
		}

		.button-md,.button-ios {
			text-transform: none !important;
			font-weight: normal !important;
			height: 48px;
		}
		.hr-register{
			margin-top: 31px;
			z-index: 1;
			background-color: #fff;
			opacity: 0.3;
		}
		.text-line-inlinetext{
			position: absolute;
			color: #fff;
			text-align: center;
			width: 100%;
			margin: 0 auto;
			z-index: 2;
			background-color: (255,255,255, 0.3);
			margin-top: 22px;
			font-size: 14px;
		}

		.row-line{
			position: fixed;
			width: 100%;
			bottom: 90px;
		}
		.row-register{
			position: fixed;
			bottom: 0;
			text-align: center;
			width: 100%;
			padding: 35px  0px;
		}
		.text-button{
			text-align:center;
			width: 90%;
			font-size: 16px !important;
			color: #3f3b3b;
			text-transform: none !important;
    		background: #fff;
		}
		
		.button-outline {
			--border-color:#ffffff;
			--border-width: 1px;
			--border-style: solid;

		}
		.my-custom-alert .alert-wrapper {
			min-width: 380px !important;
		}

		.m-top-logo{
			text-align: center;
			.img-logo {
			  height: 72px;
				}
			}
	
			.img-apple{
			position: absolute;
			height: 16px;
			margin-top: 14px;
			margin-left: 14%;
			}
	
			.btn-apple{
				text-transform: none !important;
			}
	
			.div-forgotpass {
				text-align: right;
				color: #26bed6;
				font-size: 16px;
			}
			.div-button {
				text-align: center;
	
				.btn-login {
					border-radius: 4px !important;
					background-color: #f79321;
					color: #ffffff;
					font-size: 18px !important;
					font-weight: 600 !important;
					width: 100%;
					margin: 0;
				}
			}
			.text-input {
				color:#828282;
				font-size: 16px;
			}
			.no-padding {
				padding: 0 !important;
			}
			.div-other-login {
				justify-content: space-between;
				.cls-border {
					width: 35%;
					border-top: solid 0.5px #9c9eab;
					margin-top: 10px;
				}
				.text-normal {
					margin: 0 18px;
					font-size: 16px;
					text-align: center;
					color: #3f3b3b;
				}
			}
			
			.div-btn-other-login {
				border-radius: 4px;
				border: solid 1px #ccc;
				background-color: #fff;
				align-items: center;
				display: flex;
	
				.div-icon-button {
					width: 24px;
					margin-left: 12px;
				}
			}
	}

	
