

<ion-header class="flightpage-header">
    <ion-row>
      <ion-col class="col-header">
        <div class="d-flex">
          <div class="div-button-close" (click)="close()">
            <div class="div-text-close">
              <img class="header-img-close" src="./assets/imgs/ios-arrow-round-back.svg" >
            </div>
        </div>
          <div class="div-header-title">
                Thông tin hữu ích
          </div>

         
        </div>
      </ion-col>
    </ion-row>
  </ion-header>

  <ion-content class="flight-useful-detail-content">
      <div class="p-all-16 div-bg">
        <div class="text-title">Thông tin hữu ích khi đi máy bay</div>
        <div class="text-sub m-top-4">Có một hành trình hơn cả mong đợi</div>
        <app-flightuseful type="2"></app-flightuseful>
      </div>
  </ion-content>