.text-title{
    font-size: 18px;
    font-weight: bold;
}
.textv{
    font-size: 16px;
    color: #3f3b3b;
}
.btn-save-phone{
    border-color: #f79221;
    color: #ffffff;
    background: #f79221;
    width: 98%;
    height: 48px;
    font-size: 18px !important;
    border-radius: 4p !important;
}
.cls-inputphone {
    --padding-top: 0;
    --padding-bottom: 0;
}
.cls-label {
    font-size: 16px;
    color: #828282;
}