<ion-tabs>

  <ion-tab-bar class="tabbar" slot="bottom">
    <ion-tab-button class="tab-button" tab="tab1" id="tab1">
      <ion-icon class="icon-tab" name="home"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>
    <div class="div-split"></div>
    <ion-tab-button class="tab-button" tab="tab2" id="tab2" *ngIf="valueGlobal.activeTab == 0 || valueGlobal.activeTab == 2">
      <ion-icon class="icon-tab" name="heart"></ion-icon>
      <ion-label>Yêu thích</ion-label>
    </ion-tab-button>
    <div class="div-split"></div>
    <ion-tab-button class="tab-button" tab="tab3" id="tab3">
      <ion-icon class="icon-tab" name="paper-plane"></ion-icon>
      <ion-label>Chuyến đi</ion-label>
      <ion-badge *ngIf="countclaim >0" color="danger">{{countclaim}}</ion-badge>
    </ion-tab-button>
    <div class="div-split"></div>
    <ion-tab-button class="tab-button" tab="tab4" id="tab4">
      <ion-icon class="icon-tab" name="notifications"></ion-icon>
      <ion-label>Thông báo</ion-label>
      <ion-badge *ngIf="valueGlobal.countNotifi && valueGlobal.countNotifi>0" color="danger">{{valueGlobal.countNotifi}}</ion-badge>
    </ion-tab-button>
    <div class="div-split"></div>
    <ion-tab-button class="tab-button" tab="tab5"  id="tab5">
      <ion-icon class="icon-tab" name="person-circle"></ion-icon>
      <ion-label>Tài khoản</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>