<ion-header class="installment-payment-done-header">
  <ion-toolbar class="text-center">
    <ion-row>
      <ion-col class="text-center">
        <div  class="align-self-center" >
          <div class="title-header"><label class="text-title">Hoàn thành</label></div>
        </div>
      </ion-col>
    </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="installment-payment-done-content">
    <img src="./assets/step/step_4.svg">
    <div class="div-label-title">
      <ion-label class="cls-primary f-bold">
        Cảm ơn Quý khách đã sử dụng dịch vụ iVIVU.com
      </ion-label>
    </div>
    <div *ngIf="paymentsuccess">
      <ion-label class="f-bold">
        Mã đặt phòng của quý khách là
        <span class="f-bold cls-code">{{code}}</span>
      </ion-label>
    </div>
    <div *ngIf="paymentsuccess else paymentcancel">
      <div>
        <ion-label text-wrap>
          Quý khách đã thanh toán trả góp thành công. Xác nhận đơn hàng sẽ gửi đến {{email}}
        </ion-label>
      </div>
      <!-- <div>
        <ion-label text-wrap>
          Thanh toán trả góp của Quý khách chưa thành công và đang chờ phản hồi từ Ngân hàng phát hành thẻ.
        </ion-label>
      </div> -->
    </div>
    <ng-template #paymentcancel>
      <div *ngIf="!errorcode else haserrorcode">
        <ion-label text-wrap>
          Rất tiếc, thanh toán trả góp qua thẻ Tín dụng của Quý khách chưa thành công vì lý do <span class="cls-cancel">Khách hàng hủy giao dịch</span>. Vui lòng liên hệ với iVIVU.com để được hỗ trợ.
        </ion-label>
      </div>
      <ng-template #haserrorcode>
        <div >
          <ion-label text-wrap>
            Rất tiếc, thanh toán trả góp qua thẻ Tín dụng của Quý khách chưa thành công vì lý do <span class="cls-cancel">{{errorcode}}</span>. Vui lòng liên hệ với iVIVU.com để được hỗ trợ.
          </ion-label>
        </div>
      </ng-template>
    </ng-template>
    
    <div>
      <ion-label text-wrap>
        Nếu cần sự hỗ trợ vui lòng liên hệ tổng đài 1900 1870 hoặc email tc@ivivu.com để được trợ giúp.
      </ion-label>
    </div>
    <div>
      <ion-label text-wrap>
        Hồ Chí Minh: 1900 1870
      </ion-label>
    </div>
    <div>
      <ion-label text-wrap>
        Hà Nội: 1900 2045
      </ion-label>
    </div>
    <div>
    <ion-label text-wrap>
      Cần Thơ: 1900 2087
    </ion-label>
    </div>
  </div>
  
</ion-content>
<ion-footer>
  <div class="div-button-payment-done">
    <button (click)="addToCalendar()" ion-button round outline class="button button2">Thêm chuyến đi vào lịch</button>
    <button (click)="next()" ion-button round outline class="button button2 m-top-0">Hoàn thành</button>
  </div>
</ion-footer>