

.header-text{
  text-align: center;
  align-self: center;
}
.header-icon{
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 0px;
  margin-left: -6px;
}
.text-title
{
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}
p{
  line-height: 16px;
}
.cls-background {
  background-color: #f2f2f2;
}
.d-flex {
  display: flex;
  align-items: center;
}
.badge-md {
  border-radius: 9px;
  color: #fff;
  background-color: #26bed6;
}
.list-ios {
  background: var(--ion-item-background,var(--ion-background-color,#f2f2f2));
}
.col {
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.text-nameroom
{
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  white-space: nowrap;
     
} 
.text-combo
{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  white-space: nowrap;
  color: #f79321;
}
.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
  width: 104px;
  height: 104px;
}
.card-background-page {

    position: relative;
    text-align: center;
  
  

.ion-thumbnail{
  line-height: 0.5 !important;
}
.badge.badge-ios{
  background-color: #F79221;
  font-size: 12px;
}
.label-badge{
  color: #222222;
  font-size: 12px;
  font-weight:400;
  margin-left: 3px;
}

.item-block{
  padding: 0;
  text-align: initial;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 4.4rem;
  border: 0;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  width: auto;
  padding: 5px 0;
}
/*css cho ios*/
//Style cho class promotion có rating & location
.item-ios .transbox { 
  display: block;
  position: absolute;
  //left: 16px;
  width: 104px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(240, 172, 46, 0.8);
  font-size: 10px;
  color: #ffffff;
  white-space: normal;
  bottom: 16px;
  padding: 4px 16px 3px 5px;
}
//Style cho class promotion Không có location
.item-ios .transbox1 { 
  position: absolute;
  //left: 16px;
  width: 104px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(240, 172, 46, 0.8);
  font-size: 10px;
  color: #ffffff;
  white-space: normal;
  bottom:12px;
  padding: 4px 16px 3px 5px;
}
//Style cho class promotion Không có rating
.item-ios .transbox2 { 
  position: absolute;
  //left: 16px;
  width: 104px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(240, 172, 46, 0.8);
  font-size: 10px;
  color: #ffffff;
  white-space: normal;
  bottom:13px;
  padding: 4px 16px 3px 5px;
}
.item-ios.item-block .item-inner {
  border-bottom: 0px !important;
}
.list-md .item-block .item-inner {
 border-bottom: 0px !important;
}
.item-ios {
  border-radius: 0;
  position: relative;
  font-size: 1.7rem;
  color: #222222;
  background-color: #fff;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  margin:0 11px;
  border-bottom: 0.5px solid #bdbdbd;
}

.item-ios ion-thumbnail[item-start] {
  margin: 8px 8px 8px 0;
}

.item-ios.item-block .item-inner {
  padding-right: 0px;
}
.label-ios {
  margin: 11px 0px 11px 0;
}
/*css cho ios*/

/*css cho android*/
//Style cho class promotion có rating & location
.item-md .transbox { 
  display: block;
  position: absolute;
  //left: 16px;
  width: 104px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(240, 172, 46, 0.8);
  font-size: 10px;
  color: #ffffff;
  white-space: normal;
  bottom: 18px;
  padding: 4px 12px 3px 5px;
}
//Style cho class promotion Không có location
.item-md .transbox1 { 
  position: absolute;
  //left: 16px;
  width: 104px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(240, 172, 46, 0.8);
  font-size: 10px;
  color: #ffffff;
  white-space: normal;
  bottom:12px;
  padding: 4px 12px 3px 5px;
}
//Style cho class promotion Không có rating
.item-md .transbox2 { 
  position: absolute;
  //left: 16px;
  width: 104px;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(240, 172, 46, 0.8);
  font-size: 10px;
  color: #ffffff;
  white-space: normal;
  bottom:13px;
  padding: 4px 12px 3px 5px;
}

.item-md.item-block .item-inner {
  border-bottom: none;
}

.item-md {
  border-radius: 0;
  position: relative;
  font-size: 1.7rem;
  color: #222222;
  background-color: #fff;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  margin:0 11px;
  border-bottom: 0.5px solid #bdbdbd;
}
.item-md ion-thumbnail[item-start] {
  margin: 8px 8px 8px 0;
}
.item-md .item-inner {
  padding-right: 0px;
}
.label-md {
  margin: 11px 0px 11px 0;
}
/*css cho android*/

.price.col{
  padding: 5px 0px 5px 5px;
}

}
.m-left{
margin-left: 11px;
}
.m-right{
margin-right: 11px;
}
.btn-clear-filter{
border:none;
color: #ffffff;
background-color: #F79221;
text-transform: none;
float: left;
font-size: 17px;
width: 94%;
height: 48px;
}

.btn-filter-again{
color: #F79221;
background-color: #ffffff;
border-color:  #F79221;
text-transform: none;
float: right;
font-size: 17px;
width: 100%;
height:48px;
}
.btn-filter-again-nofilter{
border:none;
color: #ffffff;
background-color: #F79221;
text-transform: none;
float: right;
font-size: 17px;
width: 100%;
margin: 0px 16px;
height: 48px;
margin-top: 16px;
}
.text-empty{
color: #828282;
}

.cls-img-content{
width: 18px;
height: 18px;
}
.cls-icon-content{
padding-left: 20px;
padding-top: 20px;
}
.label-price-login{
color: #f79321;
  cursor: pointer;
  font-size: 20px;
}
.t-bold{
font-weight: bold;
}
.text-login{
font-size: 16px;
}

.div-transbox-text{
overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  color: #fff;
}
.transbox_0 { 
  position: absolute;
  background-color: #e52822;
  font-size: 12px;
  color: #ffffff;
  white-space: normal;
  top: 16px;
  padding: 4px 12px 3px 4px;
  max-width: 100%;
  left: -4px;
  
}
.transbox_0::before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 21px;
  border-top: 4px solid #851f1c;
  border-left: 4px solid transparent;
  border-bottom: none;
}
p,h2{
  margin: 0;
}
.row-item-hotellist{
  margin: 16px;
  margin-top: 0;
  margin-bottom: 26px;

  .col-img-hotellist{
    height: 180px;
    width: 100%;
    position: relative;

    .img-radius
    {
      border-radius: 6px 6px 0 0;
      width: 100% !important;
      height: 180px !important;
      --border-radius: 5px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .col-description-hotellist{
    position: relative;
    background: #fff;
    padding: 8px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    .text-name
    {
      font-weight: bold;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1 !important;
      display: -webkit-box !important;
      /* autoprefixer: ignore next */ -webkit-box-orient: vertical !important;
      text-align: left;
      letter-spacing: -0.4px;
      margin-bottom: 6px;
    }

    .text{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #3f3b3b;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .align-center {
      align-items: center;
    }
  }

  .div-heart {
    width: 18px;
    height: 18px;
  }
}
.m-right-12 {
  margin-right: 12px;
}

.p-top-dealtype{
  top:9px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  white-space: nowrap;
  color: #f79321;
  max-width: 200%;
  width: 200%;

  img {
    position: absolute;
  }
}
.p-top-dealtype-6{
  top:5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  white-space: nowrap;
  color: #f79321;
}
.label-minprice{
  color: #26bed6;
  font-weight: bold;
  bottom: 0;
  right: 0;
  letter-spacing: -0.51px;
  font-size:24px;
  line-height: 18px;
}
.sub-minprice {
  color: #26bed6;
  font-size:16px;
}
.sub-dealprice {
  color: #f79321;
  font-size:16px;
}
.label-minpriceTA{
  font-size: 12px;
  text-decoration: line-through;
  color: #828282;
  position: absolute;
  right: 8px;
  top: -16px;
}
.label-dealprice{
  color: #f79321;
  font-weight: bold;
  bottom: 0;
  right: 0;
  letter-spacing: -0.51px;
  font-size:20px;
}
.p-top-minprice{
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #3f3b3b;
  width: 100%;    
  text-align: right;
  margin-right: 6px;
  padding-bottom: 4px;
}
.p-top-8{
  top:8px;
}

.p-top-18{
  padding-top: 18px;
}
.h-line{
  border-bottom: solid 1px #cdcdcd;
  opacity: 0.5;
  margin-top: 12px;
}

.badge-ios{
  background-color: #26bed6;
  font-size: 12px;
}
.btn-header{
  width: 48px;color: #4f4f4f;background-color: #fff;-webkit-box-shadow: none;box-shadow: none;
  height: 48px;
}
img {
  max-width: none !important;
  border: 0;
}

.ico-gift{
height: 16px;
position: absolute;
right: 90px;
top: 6px;
color: #f79321;
}


  
  :host{
    --ion-color-primary:#26bed6;
  }
  ion-badge{
    border-radius: 6px;
  }
  .label-badge{
    padding-top: 2px;
    padding-left: 6px;
    font-size: 12px;
  }
  ::ng-deep{
    .infinite-loading-text{
      display: none;
    }
    //skeleton-style
    ion-skeleton-text{
      width: 100%;
      margin: 0;
    }
    
    .col-img-hotellist-sk{
      padding-top: 0;
      padding-left: 8px;
      line-height: 18px;
    }
    .text-name-sk
    {
      font-weight: bold;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 18px;
    }
    .p-sk{
      height: 16px;
      padding: 8px 0;
      margin: 0;
    }
    .last-row-sk{
      padding-top: 52px;
      height: 17px;
    }
    .row-item-hotellist-sk{
      padding: 8px;
      padding-top:16px;
    }
    .h-line-sk{
      border-bottom: solid 1px #cdcdcd;
      margin: 0 16px !important;
      opacity: 0.5;
    }
  }
  .m-top-5{
    margin-top:5px;
  }
  .m-top-10{
    margin-top:10px;
  }
  // .sp-item-style{
  //   padding:3px 5px;
  //   border:solid 0.5px #26bed6;
  //   color: #26bed6;
  //   background: #ffffff;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   max-height: 17px;
  //   width: 112px;
  // }
  .fix-height-123{
    height: 145px;
  }
  .last-row{
    width: 100%;
    //margin-top: 12px;
    text-align: right;
  }
  .cls-lineheight{
    line-height: 18px;
    margin-left: 20px;
  }

  .div-flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 10px;
  }
  .sp-item-style{
    padding: 8px 4px;
    font-size: 14px;
    color: #828282;
    background: #f5f6f7;
    margin-right: 8px;
    border-radius: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  .sp-item-style-1{
    padding: 8px 4px;
    font-size: 14px;
    color: #828282;
    background: #f5f6f7;
    margin-right: 8px;
    border-radius: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  .m-right-0{
    margin-right: 0;
  }
  .m-width-49{
    max-width: 49%;
  }

  .div-title-header{
    margin-top: env(safe-area-inset-top);
    .img-back{
      height: 48px; padding: 8px;position: absolute;left: 0px;top: -2px;
      z-index: 99;
    }
    .img-filter{
      position: absolute;right: 0;top: -2px;height: 48px;padding: 16px;
      z-index: 99;
    }
  }
  .have-not-dealprice{
    //bottom: 0px;
    bottom: -2px;
    position: absolute;
    right: 8px;
  }
.text-change
{
font-size: 12px;
color: #26bed6;
text-decoration: underline;
}
.text-hr
{
font-size: 11px;
color: #222222;
font-weight: 500;
}

.cls-badge-filter {
width: 12px;
height: 12px;
color: transparent !important;
padding-top: 2px;
font-size: 10px;

top: 8px !important;
right: 4px !important;
}
.text-right {
text-align: right;
}
.div-note {
background-color: #f2f2f2;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #3f3b3b;
padding: 12px 16px 8px 16px;
}

@media (min-width:320px) and (max-width: 350px) {
.sp-item-style-1 {
  max-width: 290px;
}
}

@media (min-width:352px) and (max-width: 375px) {
.sp-item-style-1 {
  max-width: 320px;
}
}

@media (min-width:414px) and (max-width: 420px) {
.sp-item-style-1 {
  max-width: 360px;
}
}
.h-28 {
height: 28px;
}
.m-top-2 {
margin-top: 2px;
}
.m-top-12 {
margin-top: 12px;
}
.cls-badge {
border-radius: 6px;
background-color: #9fc43a;
}
.img-sharehd {
margin-right: 16px;
}