
    .header-title{
        padding-top: 10px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        right: 6%;
    }
    .header-arrow{
        margin: 3px 11px;
    }
    .hotel-exps-notes-content{
        padding: 16px;
    }
    .note-title{
        font-weight: 500;
    }
