<ion-content
  #scrollArea
  [fullscreen]="true"
  class="cls-content-cover"
  style="-background:transparent;overflow: hidden;--offset-bottom: 0px !important;"
  [scrollEvents]="true"
  (ionScroll)="scrollFunction($event)"
>
  <ion-refresher *ngIf="activeTab ==0"
    style="margin-top: 24px;"
    slot="fixed"
    pullMin="100"
    pullMax="200"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content
      pullingIcon="none"
      refreshingSpinner="circles"
      refreshingText=""
    ></ion-refresher-content>
  </ion-refresher>
  
<div class="div-wraper-home">
  <div class="cls-notice" *ngIf="isNotice">
    <div class="div-notice">
      <img class="img-notice" src="./assets/ic_home/info.svg" />
    </div>
    <div class="margin-left-11">
      <div class="text-info">
        Cập Nhật Thông Tin Kiểm Soát Dịch Bệnh Tại Các Địa Phương Trong Nước. <a (click)="openWebpage('https://www.ivivu.com/blog/2021/06/nhung-dieu-quan-trong-can-luu-y-khi-du-lich-trong-mua-dich/')"
          target="_blank">Xem chi tiết</a></div>
    </div>
  </div>
  <div [ngClass]="isNotice ? 'swiper-pagination-notice' : 'swiper-pagination'">
    <div (click)="setActiveTab(0)" [ngClass]="activeTab ==0 ? 'div-hotel' : 'div-hotel home-deactive-tab'">
      <div class="div-icon-home text-center">
          <img src="./assets/ic_home/hotel_enable.svg" />
      </div>
      <div [ngClass]="activeTab ==0 ? 'div-text-home text-center home-active-tab' : 'div-text-home text-center ' ">Khách sạn</div>
    </div>

    <div (click)="setActiveTab(1)" [ngClass]="activeTab ==1 ? 'div-flight' : 'div-flight home-deactive-tab'">
      <div class="div-icon-home text-center">
          <img src="./assets/ic_home/flight_enable.svg" />
      </div>
      <div [ngClass]="activeTab ==1 ? 'div-text-home text-center home-active-tab' : 'div-text-home text-center ' ">Vé máy bay</div>
    </div>

    <div (click)="setActiveTab(2)" [ngClass]="activeTab ==2 ? 'div-food' : 'div-food home-deactive-tab'">
      <div class="div-icon-home text-center">
          <img src="./assets/ic_home/Tour.svg" />
      </div>
      <div [ngClass]="activeTab ==2 ? 'div-text-home text-center home-active-tab' : 'div-text-home text-center ' ">Tour</div>
    </div>

    <div (click)="setActiveTab(3)" [ngClass]="activeTab ==3 ? 'div-ticket' : 'div-ticket home-deactive-tab'">
      <div class="div-icon-home text-center">
          <img src="./assets/ic_ticket/theme_park.svg" />
      </div>
      <div [ngClass]="activeTab ==3 ? 'div-text-home text-center home-active-tab' : 'div-text-home text-center ' ">Vé vui chơi</div>
    </div>

  </div>
  <swiper-container (slidechange)="onSlideChange()" #myHomeSlider class="home-slider" >
    <swiper-slide class="slide-hotel">
       
    </swiper-slide>

    <swiper-slide class="slide-flight">
        
    </swiper-slide>

    <swiper-slide class="slide-combo">
        
    </swiper-slide>

    <swiper-slide class="slide-food">
        
    </swiper-slide>

   
  </swiper-container>
</div>
<div [ngClass]="activeTab ==0 ? 'div-wraper-hotel cls-visible' : 'div-wraper-hotel cls-disabled'">
  <div [ngClass]="isNotice ? 'background-notice' : 'background'">
    <img class="img-background" src="./assets/blue.jpg">
    <div class="div-wrap-background"></div>
    
    <div class="div-wrap-search" style="text-align: center">
      <img class="img-logo" src="./assets/logo/logo.svg" />
    </div>
    <div class="ion-padding-16">
      <div [ngClass]="isNotice ? 'text-home-hotel-notice' : 'text-home-hotel'">
        <label class="label-home-hotel">
          Trải nghiệm kỳ nghỉ tuyệt vời
        </label>
      </div>
      <div class="div-wrap-search-input"></div>
        <ion-row class="row-search-home" (click)="change()">
          <div class="div-width">
            <div class="img-input">
              <img
                class="img-padding img-location"
                src="./assets/iocnsearch/ic_location.svg"
              />
            </div>
  
            <div class="div-input-right text-input-search">
              <div *ngIf="!input" class="text-placeholder text-middle">
                Bạn muốn đi đâu?
              </div>
              <div *ngIf="input" class="text-search text-middle">
                {{ input }}
              </div>
            </div>
          </div>
        </ion-row>
        
        <div *ngIf="ischecksearch == false">
          <ion-row
            style="background: #ffffff;border-radius: 2px;height:48px;margin-top: 8px"
            (click)="openPickupCalendar()"
          >
          <div class="div-width">
            <div class="div-cin">
                <div class="img-cin-cout"><img class="img-padding img-checkin" src="./assets/iocnsearch/ic_checkin.svg"/></div>
  
                <div class="div-input-right text-input-cin">
                  <div *ngIf="searchhotel.cindisplay else loaddingcin">
                    <div class="text-cin">
                      <label class="text-cin-input">{{ searchhotel.cindisplay }}</label>
                    </div>
                    <div class="font-thu" *ngIf="!cofdate">
                      <label class="text-color text-cinthu">{{ searchhotel.cinthu }}</label>
                    </div>
                    <div class="font-thu" *ngIf="cofdate" >
                      <label class="text-color text-cinthu" style="color: #e52822;">{{searchhotel.cinthu}}</label>
                    </div>
                  </div>
                  <ng-template #loaddingcin>
                    <div class="div-loadingcin">
                      <ion-skeleton-text
                        animated
                        style="width:100px;margin: 0;height: 32px"
                      ></ion-skeleton-text>
                    </div>
                  </ng-template>
                </div>
                
            </div>
            <div class="div-cout">
              <div class="img-cin-cout p-top-12 p-l-0">
                <img class="img-padding img-checkout" src="./assets/ic_flight/icon_arrow_gray.svg">
            </div>
  
                <div class="div-input-right text-input-cout m-l-36">
                  <div *ngIf="searchhotel.coutdisplay else loaddingcout">
                    <div class="text-cin">
                      <label class="text-cin-input">{{ searchhotel.coutdisplay }}</label>
                    </div>
                    <div  class="font-thu" >
                      <label  *ngIf="cotdate==0" class="text-color text-cinthu">{{searchhotel.coutthu}}</label>
                      <label style="color: #e52822" *ngIf="cotdate==1" class="text-color text-cinthu" >{{searchhotel.coutthu}}</label>
                    </div>
                  </div>
                   <ng-template #loaddingcout>
                      <div class="div-loadingcin">
                        <ion-skeleton-text
                          animated
                          style="width:100px;margin: 0;height: 32px"
                        ></ion-skeleton-text>
                      </div>
                   </ng-template>
                </div>
            </div>
          </div>
          </ion-row>
  
          <ion-row (click)="openmnu()" style="background: #ffffff;border-radius: 2px;margin-top: 8px;height:48px" >
            <div class="div-width">
                <div class="img-cin-cout"><img class="img-padding img-people" src="./assets/iocnsearch/ic_people.svg"/></div>
  
                <div class="div-input-right">
                    <div class="text-pax">
                        <label class="text-cin-input">{{ adult }} người lớn, {{ child }} trẻ em</label>
                      </div>
                      <div class="font-thu">
                        <label class="text-color text-cinthu">{{ roomnumber }} phòng</label>
                    </div>
                </div>
            </div>
          </ion-row>
          <ion-row>
            <button
              ion-button
              round
              style="margin-top: 16px"
              (click)="search()"
              class="button btn-search"
              clear
            >
              Tìm kiếm
            </button>
          </ion-row>
      </div>
      
      
    </div>
  </div>

  <div *ngIf="topsale>0" class="div-topSale">
    <img class="img-fire" src="./assets/imgs/ic_fire_home.svg" />
    <div class="text-topSale">
      {{topsale}} khách đã đặt phòng trong 24h qua
    </div>
  
  </div>

 <!-- tìm kiếm gần đây -->
 <ion-row *ngIf="arrHistory.length>0" style="margin-left: -5px;padding-top:16px" class="p-left-16">

  <ion-col size="12" style="padding-bottom: 0">
    <ion-label class="text-title2">
      Tìm kiếm gần đây của bạn
    </ion-label>
  </ion-col>

</ion-row>
<div *ngIf="arrHistory.length>0"  class="div-scroll-recent">
  <div  [ngClass]="arrHistory.length==1 ? 'd-flex-only' : 'd-flex-recent'"  id="div-recent">
    <div [ngClass]="arrHistory.length==1 ? 'div-recent-1' : 'div-recent'" (click)="funcRecent(item)" *ngFor="let item of arrHistory.slice().reverse()">
      <div>
        <img [ngClass]="item.imageUrl && item.imageUrl.indexOf('no-image') == -1 ? 'img-recent' : 'img-recent-noimage'" src={{item.imageUrl}}>
      </div>
      <div [ngClass]="arrHistory.length==1 ? 'div-right-recent-1' : 'div-right-recent'">
        <div [ngClass]="item.isType==0 ? 'div-text-info' : 'div-text-info-1'">
          <ion-label >
            <p class="text-hotelname-recent">{{item.name}}</p>
              <p class="text-info-recent">{{item.checkInDate}} - {{item.checkOutDate}}</p>
              <p class="text-info-recent-1">{{item.adult}} người lớn, {{item.child}} trẻ em</p>
          </ion-label>
        </div>
      
      
      </div>
    </div>
</div>

</div>
  <div [ngClass]="isNotice ? 'cls-content-slide-notice' : 'cls-content-slide'"
  >
    <ion-row
      *ngIf="blogtrips.length > 0"
      style="margin-left: -5px;padding-top:16px"
      class="p-left-16"
    >
      <ion-col size="8" style="padding-bottom: 0">
        <ion-label class="text-title2">
          Vi Vu {{ regionnamesuggest }}
        </ion-label>
      </ion-col>
      <ion-col size="4" style="padding: 5px 0 0 0">
        <div style="margin-top: 5px;text-align: right">
          <ion-label (click)="seemoreblog(1)" style="color: #26bed6">
            Xem thêm
          </ion-label>
          <img src="./assets/imgs/vector.svg" />
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf="blogtrips.length > 0" class="sub-title p-left-16">
      <ion-label class="text-subtitle">
        Tự do khám phá. Tận hưởng trọn vẹn
      </ion-label>
    </div>
    <div
      *ngIf="blogtrips.length > 0"
      class="innerdeals1 slideblogtrips-scroll ion-padding-16"
      style="overflow-x: scroll; margin-left:0"
      
      (scroll)="onScrollBlogTrip($event)"
    >
      <div class="cls-deal cls-blogtrip"
        *ngFor="let slide of blogtrips"
      >

        <div class="div-wrap-deal"> 
          <div class="div-wrap-image">
            <img
            (click)="clickitemblogtrips(slide)"
            class="slide2 img"
            *ngIf="slide.avatar"
            [src]="slide.avatar"
          />
          <img
            (click)="clickitemblogtrips(slide)"
            class="slide2 img"
            *ngIf="!slide.avatar"
            src="./assets/empty/no-image-icon.png"
          />
          </div>
          <div (click)="clickitemblogtrips(slide)" class="float-info">
            <h2 class="text-title-blog">
              {{ slide.title }}
            </h2>
          </div>
        </div>
        <!-- <div [ngClass]="idx == 0 ? 'float-infoicon top-12' : 'float-infoicon top-12 left-28'" (click)="share(slide.url)">
          <div class="div-wrap-icon">
            <img class="img-share"
            src="./assets/imgs/ic_share.svg"
          />
          </div>
          
        </div>
         <div class="float-infoiconheart top-12" >
          <div class="div-wrap-icon-heart">
            <img
              *ngIf="!slide.Like"
              class="img-heart"
              (click)="likeItemblogtrips(slide.id)"
              src="./assets/imgs/heart-empty.svg"
            />
            <img
              *ngIf="slide.Like"
              class="img-heart"
              (click)="unlikeItemblogtrips(slide.id)"
              src="./assets/imgs/heart-red.svg"
            />
          </div>
        </div>  -->

      </div>
      <div *ngIf="showloadmoreblogtrip" class="div-loadmore">
        <ion-spinner
          name="bubbles"
          class="spinner-bubbles hydrated"
        ></ion-spinner>
      </div>
    </div>
    <div [ngClass]="blogtrips.length > 0 ? 'title-padding p-left-16 p-top-21' : 'title-padding p-left-16 p-top-30'" *ngIf="slideData1.length >0">
      <ion-label class="text-title2">
        Combo tốt nhất hôm nay
      </ion-label>
      <div style="margin-top: 5px;text-align: right;float: right;">
        <ion-label (click)="seemoredeal()" style="color: #26bed6">
          Xem thêm
        </ion-label>
        <img src="./assets/imgs/vector.svg" />
      </div>
    </div>
    <div class="sub-title p-left-16" *ngIf="slideData1.length >0">
      <ion-label class="text-subtitle">
        Nhanh tay đặt ngay. Để mai sẽ lỡ
      </ion-label>
    </div>
    <div
      class="innerdeals1 slide2-scroll ion-padding-16"
      style="overflow-x: scroll;overflow-y: hidden; margin-left: -4px;"
      (scroll)="onScroll($event)" *ngIf="slideData1.length >0">
    <div
        (click)="itemclickht(slide)"
        class="cls-deal p-l-16 position-relative"
        *ngFor="let slide of slideData1">

        <div class="div-wrap-deal"> 
          <div class="div-wrap-image">
            <img class="slide2 img" [src]="slide.imageUrl" />
            <div class="float-promo">
              <p class="float-promo-description" *ngIf="slide.priceshow">
                {{ slide.description }} | {{ slide.priceshow }} triệu/<span *ngIf="slide.priceFor!=0">khách</span><span *ngIf="slide.priceFor==0">phòng</span></p>
              
    
              <p class="float-promo-description" *ngIf="!slide.priceshow">
                {{ slide.description }}
              </p>
            </div>
          </div>
          <div class="float-info">
            <h2 class="hotel-name" style="margin:0">
              {{ slide.name }}
            </h2>
            <p style="margin: 0">
              <img *ngIf="slide.rating != 0" src="{{ slide.rating }}" />
            </p>
          </div>
        </div>
       
      </div>
      <div *ngIf="showloadmore" class="div-loadmore">
        <ion-spinner
          name="bubbles"
          class="spinner-bubbles hydrated"
        ></ion-spinner>
      </div>
    </div>
    <div *ngIf="isShowSummerMood">
      <div class="title-padding p-left-16 bg-white">
        <ion-label class="text-title2">
          Cuối năm rồi, đi chơi thôi
        </ion-label>
      </div>
      <div class="sub-title p-left-16 bg-white">
        <ion-label class="text-subtitle">
          Thư giãn - nạp năng lượng - khám phá
        </ion-label>
      </div>
    </div>
    <div *ngIf="!isShowSummerMood">
      <div class="title-padding  p-left-16 p-top-24 bg-white ">
        <ion-label class="text-title2">
         Cuối năm rồi, đi chơi thôi
        </ion-label>
      </div>
      <div class="sub-title p-left-16 bg-white">
        <ion-label class="text-subtitle">
          Thư giãn - nạp năng lượng - khám phá
        </ion-label>
      </div>
    </div>
    
    <div
      class="inner2 slide3-scroll bg-white"
      padding
      *ngIf="slideMood && slideMood.length >0"
    >
      <div
        class="cls-mood p-l-16 position-relative"
        *ngFor="let slide of slideMood"
        (click)="itemSelectedmood(slide)"
      >
        <img class="slide3 img" [src]="slide.avatar" />
        <!-- <img-loader class="slide2 img" [src]="slide.bannerUrl" useImg></img-loader> -->
        <div class="float-info">
          <p class="text-titledes f-20 p-bottom-2" [innerHTML]="slide.title"></p>
          <p class="cls-subtitle f-14">
            {{ slide.shortDescription }} <span *ngIf="slide.totalHotel">- {{ slide.totalHotel }} Khách sạn</span>
          </p>
        </div>
        <div class="grad2"></div>
      </div>
    </div>
    <div class="title-padding-1 p-left-16 bg-white">
      <ion-label class="text-title2">
        Điểm đến yêu thích trong nước
      </ion-label>
    </div>
    <div class="sub-title p-left-16 bg-white">
      <ion-label class="text-subtitle">
        Lên rừng xuống biển. Trọn vẹn Việt Nam
      </ion-label>
    </div>
    <!-- <div class="inner2 slide4-scroll" style="overflow-x: auto" padding>
      <div class="cls-destination" style="padding-left: 8px;" *ngFor="let slide of regionsend"
        (click)="itemclickregion(slide)">
        <img class="slide3 img" [src]="slide.imageUrl" />
        <p class="text-titledes" [innerHTML]="slide.name"></p>
        <p style="font-size: 12px;font-weight: 300;text-align: left;margin-top: -10px">
          {{slide.totalHotel}} khách sạn
        </p>
      </div>
    </div> -->
    <div
      class="cls-destination p-left-16 bg-white cls-innerdes"
      style="padding-top:16px;padding-bottom: 16px;"
      *ngIf="regionsend.length > 0"
    >
      <ion-grid style="padding:0">
        <!-- row 1 -->
        <ion-row>
          <ion-col size="8" class="nopadding">
            <!-- item 1 -->
            <ion-row
              style="padding-bottom:8px;padding-right:8px"
              (click)="itemclickregion(regionsend[0])" *ngIf="regionsend[0]"
            >
              <div class=" div-info-cover-auto-width">
                <img class="img-region" [src]="regionsend[0].image" />
                <div class="float-info-region">
                  <p class="text-titledes" [innerHTML]="regionsend[0].name"></p>
                </div>
                <div class="grad3"></div>
              </div>
            </ion-row>

            <ion-row style="padding-right:8px">
              <!-- item 2 -->
              <ion-col
                size="6"
                class="nopadding"
                style="padding-right:8px"
                (click)="itemclickregion(regionsend[2])"  *ngIf="regionsend[2]"
              >
                <div class="div-info-cover-auto-width">
                  <img class="img-region" [src]="regionsend[2].image" />
                  <div class="float-info-region">
                    <p
                      class="text-titledes"
                      [innerHTML]="regionsend[2].name"
                    ></p>
                  </div>
                  <div class="grad3"></div>
                </div>
              </ion-col>
              <!-- item 3 -->
              <ion-col
                size="6"
                class="nopadding"
                (click)="itemclickregion(regionsend[3])"  *ngIf="regionsend[3]"
              >
                <div class="div-info-cover-auto-width">
                  <img class="img-region" [src]="regionsend[3].image" />
                  <div class="float-info-region">
                    <p
                      class="text-titledes"
                      [innerHTML]="regionsend[3].name"
                    ></p>
                  </div>
                  <div class="grad3"></div>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- item 4 -->
          <ion-col
            size="4"
            class="nopadding"
            (click)="itemclickregion(regionsend[1])"  *ngIf="regionsend[1]"
          >
            <div class="div-info-cover-auto-height max-height-216">
              <img class="img-region" [src]="regionsend[1].image" />
              <div class="float-info-region">
                <p class="text-titledes" [innerHTML]="regionsend[1].name"></p>
              </div>
              <div class="grad3"></div>
            </div>
          </ion-col>
        </ion-row>
        <!-- row 2 -->
        <ion-row style="padding-top: 8px;">
          <!-- item 5 -->
          <ion-col
            size="3.59"
            class="nopadding"
            (click)="itemclickregion(regionsend[5])"  *ngIf="regionsend[5]"
          >
            <div class="div-info-cover-auto-height max-height-216">
              <img class="img-region" [src]="regionsend[5].image" />
              <div class="float-info-region">
                <p class="text-titledes" [innerHTML]="regionsend[5].name"></p>
              </div>
              <div class="grad3"></div>
            </div>
          </ion-col>
          <ion-col class="nopadding" style="padding-left:8px">
            <!-- item 6 -->
            <ion-row
              style="padding-bottom:8px;"
              (click)="itemclickregion(regionsend[6])"  *ngIf="regionsend[6]"
            >
              <div class=" div-info-cover-auto-width">
                <img class="img-region" [src]="regionsend[6].image" />
                <div class="float-info-region">
                  <p class="text-titledes" [innerHTML]="regionsend[6].name"></p>
                </div>
                <div class="grad3"></div>
              </div>
            </ion-row>

            <ion-row>
              <!-- item 7 -->
              <ion-col
                size="6"
                class="nopadding"
                style="padding-right:8px"
                (click)="itemclickregion(regionsend[4])"  *ngIf="regionsend[4]"
              >
                <div class="div-info-cover-auto-width">
                  <img class="img-region" [src]="regionsend[4].image" />
                  <div class="float-info-region">
                    <p
                      class="text-titledes"
                      [innerHTML]="regionsend[4].name"
                    ></p>
                  </div>
                  <div class="grad3"></div>
                </div>
              </ion-col>
              <!-- item 8 -->
              <ion-col
                size="6"
                class="nopadding"
                (click)="itemclickregion(regionsend[7])"  *ngIf="regionsend[7]"
              >
                <div class="div-info-cover-auto-width">
                  <img class="img-region" [src]="regionsend[7].image" />
                  <div class="float-info-region">
                    <p
                      class="text-titledes"
                      [innerHTML]="regionsend[7].name"
                    ></p>
                  </div>
                  <div class="grad3"></div>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- Điểm đến nước ngoài -->
    <div class="title-padding-1 p-left-16 bg-white">
      <ion-label class="text-title2">
        Điểm đến yêu thích nước ngoài
      </ion-label>
    </div>
    <div class="sub-title p-left-16 bg-white">
      <ion-label class="text-subtitle">
        Bao la thế giới. Bốn bể là nhà
      </ion-label>
    </div>
    <div
      class="cls-destination p-left-16 bg-white"
      style="padding-top:16px;padding-bottom: 16px;"
      *ngIf="regionintersend.length > 0"
    >
      <ion-grid style="padding:0">
        <!-- row 1 -->
        <ion-row>
          <!-- col 1 -->
          <ion-col
            size="8"
            style="padding-right:8px"
            class="nopadding" *ngIf="regionintersend[0]"
            (click)="itemclickregion(regionintersend[0])"
          >
            <div class=" div-info-cover-auto-width">
              <img class="img-region" [src]="regionintersend[0].image" />
              <div class="float-info-region">
                <p
                  class="text-titledes"
                  [innerHTML]="regionintersend[0].name"
                ></p>
              </div>
              <div class="grad3"></div>
            </div>
          </ion-col>
          <!-- col 2 -->
          <ion-col
            size="4"
            class="nopadding" *ngIf="regionintersend[1]"
            (click)="itemclickregion(regionintersend[1])"
          >
            <div class=" div-info-cover-auto-width">
              <img class="img-region" [src]="regionintersend[1].image" />
              <div class="float-info-region">
                <p
                  class="text-titledes"
                  [innerHTML]="regionintersend[1].name"
                ></p>
              </div>
              <div class="grad3"></div></div
          ></ion-col>
        </ion-row>
        <!-- row 2 -->
        <ion-row style="padding-top:8px">
          <!-- col 1 -->
          <ion-col
            size="4"
            style="padding-right:8px"
            class="nopadding" *ngIf="regionintersend[2]"
            (click)="itemclickregion(regionintersend[2])"
          >
            <div class=" div-info-cover-auto-width">
              <img class="img-region" [src]="regionintersend[2].image" />
              <div class="float-info-region">
                <p
                  class="text-titledes"
                  [innerHTML]="regionintersend[2].name"
                ></p>
              </div>
              <div class="grad3"></div>
            </div>
          </ion-col>
          <!-- col 2 -->
          <ion-col
            size="4"
            style="padding-right:8px"
            class="nopadding" *ngIf="regionintersend[3]"
            (click)="itemclickregion(regionintersend[3])"
          >
            <div class=" div-info-cover-auto-width">
              <img class="img-region" [src]="regionintersend[3].image" />
              <div class="float-info-region">
                <p
                  class="text-titledes"
                  [innerHTML]="regionintersend[3].name"
                ></p>
              </div>
              <div class="grad3"></div>
            </div>
          </ion-col>
          <!-- col 3 -->
          <ion-col
            size="4"
            class="nopadding" *ngIf="regionintersend[4]"
            (click)="itemclickregion(regionintersend[4])"
          >
            <div class=" div-info-cover-auto-width">
              <img class="img-region" [src]="regionintersend[4].image" />
              <div class="float-info-region">
                <p
                  class="text-titledes"
                  [innerHTML]="regionintersend[4].name"
                ></p>
              </div>
              <div class="grad3"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="title-padding-1 p-left-16" style="position: relative;" *ngIf="blog && blog.length >0">
      <ion-label class="text-title2">
        Cẩm nang du lịch
      </ion-label>
      <div style="margin-top: 5px;text-align: right;float: right;">
        <ion-label (click)="seemoreblog(2)" style="color: #26bed6">
          Xem thêm
        </ion-label>
        <img src="./assets/imgs/vector.svg" />
      </div>
    </div>
    <div class="sub-title p-left-16" *ngIf="blog && blog.length >0">
      <ion-label class="text-subtitle">
        Cập nhật thông tin. Chuyến đi tuyệt vời
      </ion-label>
    </div>
    <div *ngIf="blog && blog.length >0"
      class="innerdeals1 slide5-scroll"
      style="overflow-x: scroll"
      padding
      (scroll)="onScrollBlog($event)"
    >
      <div
        class="cls-deal cls-blog position-relative"
        *ngFor="let slide of blog; let idx = index"
      >
      <div class="div-wrap-deal"> 
        <div class="div-wrap-image">
          <img
          (click)="clickitemblog(slide)"
          class="slide2 img"
          *ngIf="slide.Avatar"
          [src]="slide.Avatar"
          />
          <img
            (click)="clickitemblog(slide)"
            class="slide2 img"
            *ngIf="!slide.Avatar"
            src="https://cdn1.ivivu.com/iVivu/2018/02/07/15/noimage.png"
          />
        </div>
        <div (click)="clickitemblog(slide)" class="float-info">
          <h2 class="text-title-blog">
            {{ slide.Title }}
          </h2>
        </div>

        <!-- <div [ngClass]="showloadmoreblog ? 'grad-icon-blog top-4' : 'grad-icon-blog' " (click)="clickitemblog(slide)"></div> -->
      </div>
       
<!--         
        <div [ngClass]="idx == 0 ? 'float-infoicon top-12' : 'float-infoicon top-12 left-28'"(click)="share(slide.Url)">
          <div class="div-wrap-icon">
            <img class="img-share"
            src="./assets/imgs/ic_share.svg"
          />
          </div>
          
        </div>
        <div class="float-infoiconheart top-12" >
          <div class="div-wrap-icon-heart">
          <img
            *ngIf="!slide.Like"
            class="img-heart"
            (click)="likeItemblog(slide.Id)"
            src="./assets/imgs/heart-empty.svg"
          />
          <img
            *ngIf="slide.Like"
            class="img-heart"
            (click)="unlikeItemblog(slide.Id)"
            src="./assets/imgs/heart-red.svg"
          />
        </div>
        </div> -->
        
        <!-- <div class="grad-blog" (click)="clickitemblog(slide)"></div> -->
      </div>
      <div *ngIf="showloadmoreblog" class="div-loadmore">
        <ion-spinner
          name="bubbles"
          class="spinner-bubbles hydrated"
        ></ion-spinner>
      </div>
    </div>
  </div>
  <div
    *ngIf="slideData1.length == 0 && totalItem >0 && isConnected"
    style="background-color:#ffffff"
  >
    <div *ngIf="slideData1.length == 0" class="ion-padding-16">
      <ion-row>
        <ion-skeleton-text
          animated
          style="width:30%;margin: 0;height: 16px;"
        ></ion-skeleton-text>
      </ion-row>

      <ion-row style="margin-top:16px">
        <ion-col style="padding: 0">
          <ion-skeleton-text
            animated
            style="width:100%;height:118px;border-radius: 6px;margin:0"
          ></ion-skeleton-text>
        </ion-col>
        <ion-col style="padding: 0;margin-left:8px">
          <ion-skeleton-text
            animated
            style="width:100%;height:118px;border-radius: 6px;margin:0"
          ></ion-skeleton-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="padding: 0">
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:35%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:85%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:60%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
        </ion-col>
        <ion-col style="padding: 0; margin-left: 8px">
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:35%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:85%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:60%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4" style="padding: 0">
          <ion-skeleton-text
            animated
            style="width:100%;margin: 0;height: 16px; margin-top: 32px"
          ></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:16px">
        <ion-col size="4" style="padding: 0">
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:100%;height:98px;border-radius: 6px;margin:0"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:75%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:30%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
        </ion-col>
        <ion-col size="4" style="padding: 0; margin-left: 8px">
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:100%;height:98px;border-radius: 6px;margin:0"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:75%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:30%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 16px">
        <ion-col size="4" style="padding: 0">
          <ion-skeleton-text
            animated
            style="width:100%;margin: 0;height: 16px"
          ></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:16px">
        <ion-col size="4" style="padding: 0">
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:100%;height:98px;border-radius: 6px;margin:0"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:75%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
        </ion-col>
        <ion-col size="4" style="padding: 0; margin-left: 8px">
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:100%;height:98px;border-radius: 6px;margin:0"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:75%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 32px">
        <ion-skeleton-text
          animated
          style="width:20%;margin: 0;height: 16px"
        ></ion-skeleton-text>
      </ion-row>
      <ion-row style="margin-top:16px">
        <ion-col style="padding: 0">
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:100%;height:118px;border-radius: 6px;margin:0"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:100%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:30%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
        </ion-col>
        <ion-col style="padding: 0; margin-left: 8px">
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:100%;height:118px;border-radius: 6px;margin:0"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:30%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
          <ion-row>
            <ion-skeleton-text
              animated
              style="width:85%;margin: 0;height: 16px;margin-top: 8px"
            ></ion-skeleton-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="div-award">
    <div class="item-award">
      <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/wta-winner-shield.png" /></div>
      <div class="div-text-award m-top-8">Đại lý du lịch Trực tuyến hàng đầu Việt Nam</div>
    </div>

    <div class="item-award">
      <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/HRA.png" /></div>
      <div class="div-text-award m-top-8">Best Companies to Work for in Asia</div>
    </div>

    <div class="item-award">
      <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/APEA.png" /></div>
      <div class="div-text-award m-top-8">APEA Inspirational Brand Award</div>
    </div>
  </div>
</div>

<div [ngClass]="activeTab ==1 ? 'div-wraper-flight cls-visible' : 'div-wraper-flight cls-disabled' " style="height: auto">
  <app-homeflight ></app-homeflight>
</div>

<div [ngClass]="activeTab ==2 ? 'div-wraper-combo cls-visible' :  'div-wraper-combo cls-disabled'" style="height: auto">
  <app-hometour></app-hometour>
</div>

<div [ngClass]="activeTab ==3 ? 'div-wraper-ticket cls-visible' :  'div-wraper-ticket cls-disabled'" style="height: 100%;">
  <app-hometicket></app-hometicket>
</div>


  <div
    *ngIf="!isConnected"
    style="background-color: #ffffff; height: 400px;padding: 16px;"
  >
    <div class="img-lostconnection">
      <img class="img-empty" src="./assets/empty/trip_empty.svg" />
    </div>
    <div class="text-lostconnection">
      <label
        >Vui lòng kết nối mạng để sử dụng các tính năng của ứng dụng.</label
      >
    </div>
  </div>
</ion-content>
