<div class="cls-tab-visible">
    <app-hometicketsearch></app-hometicketsearch>

    <div *ngIff="topsale > 0" class="div-topSale">
      <img class="img-fire" src="./assets/imgs/ic_fire_homeflight.svg"/>
      <div class="text-topSale">
      {{topsale}} khách đã đặt vé trong 24h qua
      </div>
  
    </div>

    <app-hometicketslide></app-hometicketslide>

    <div class="d-flex div-item-ticket">
      <div class="div-text-title">Vì sao nên đặt vé vui chơi iVIVU</div>
        <div class="item-ticket m-top-22">
            <div class="div-logo-ticket"><img class="img-ticket" src="./assets/ic_ticket/amusement_park.svg" /></div>
            <div class=" d-flex v-align-center">
              <div class="div-text-ticket">Đa dạng lựa chọn</div>
              <div class="div-text-sub-ticket">Dịch vụ đặt vé vui chơi tốt nhất. Hoạt động vui chơi trải dài trên toàn quốc.</div>
              
            </div>
        </div>

        <div class="item-ticket m-top-36">
            <div class="div-logo-ticket"><img class="img-ticket" src="./assets/ic_ticket/price.svg" /></div>
            <div class=" d-flex v-align-center">
              <div class="div-text-ticket">Ưu đãi hấp dẫn</div>
              <div class="div-text-sub-ticket">Tiết kiệm hơn so với mua trực tiếp. Đảm bảo giá ưu đãi tốt nhất.</div>
              
            </div>
        </div>

        <div class="item-ticket m-top-36">
            <div class="div-logo-ticket"><img class="img-ticket" src="./assets/ic_ticket/comment.svg" /></div>
            <div class=" d-flex v-align-center">
              <div class="div-text-ticket">Đánh giá tin cậy</div>
              <div class="div-text-sub-ticket">Tham khảo đánh giá chân thực từ khách hàng đã sử dụng dịch vụ iVIVU</div>
              
            </div>
        </div>
    </div>
    
    <div class="div-award p-bottom-72">
      
        <div class="item-award">
          <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/wta-winner-shield.png" /></div>
          <div class="div-text-award m-top-8">Đại lý du lịch Trực tuyến hàng đầu Việt Nam</div>
        </div>
    
        <div class="item-award">
          <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/HRA.png" /></div>
          <div class="div-text-award m-top-8">Best Companies to Work for in Asia</div>
        </div>
    
        <div class="item-award">
          <div class="div-logo-award"><img class="img-award" src="./assets/ic_home/APEA.png" /></div>
          <div class="div-text-award m-top-8">APEA Inspirational Brand Award</div>
        </div>
      </div>
</div>