@import "../tickethome/hometicketslide/hometicketslide.page.scss";
.d-flex {
  display: flex;
}
.div-ticketdetail-content {
  .float-info{
    height: 185px !important;
  }
    .div-flex-end {
      justify-content: flex-end;
      text-align: right;
    }
    .width-50 {
        width: 50%;
    }
    .width-40 {
      display: flex;
      padding: 10px;
      border: solid 1px #ccc;
      width: 40%;
      justify-content: center;
    }
    .width-60 {
      width: 60%;
    }
    .width-100 {
      width: 100%;
    }
    .text-right {
        text-align: right;
    }
    .p-0 {
      padding: 0 !important;
    }
    .text-normal {
        font-size: 14px;
        line-height: 1.31;
        text-align: left;
        color: #3f3b3b;
    }
    .text-tealish {
        color: var(--ion-color-primary);
    }
    .p-right-8 {
        padding-right: 8px;
    }
    .m-top-20 {
      margin-top: 20px;
    }
    .div-split {
        height: 8px;
        margin: 16px -16px 12px;
        background-color: #f2f2f2;
    }
    .text-headservice {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
      color: #003c71;
      margin-bottom: 16px;
    }
    .div-item-service {
      border-radius: 4px;
      border: solid 1px #dedfe3;
      background-color: #fff;
      padding: 16px;
      margin-bottom: 16px;

      .text-service-name {
        font-size: 18px;
        text-align: left;
        color: #003c71;
      }
      .text-service-des {
        font-size: 14px;
        text-align: left;
        color: #828282;
      }
      .text-service-detail {
        display: flex;
        font-size: 14px;
        text-align: left;
        color: #26bed6;
      }
      .img-arrow {
        height: 17px;
      }
      .div-button-service {
      

        .text-price {
          font-size: 24px;
          font-weight: 600;
          color: #3f3b3b;
          width: 50%;
          display: flex;
          align-items: flex-end;
        }
        .price-sub {
          margin-left: 8px;
          font-size: 16px !important;
          margin-bottom: 2px;
        }

        .btn-price {
          margin: 0 0 0 32px;
          padding: 12px;
          border-radius: 4px;
          background-color: #f79321;
          width: 144px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          color: #fff;
        }
      }
    }

    .div-image-slide {
        position: relative;
       
        .swiper-slide img {
          object-fit: cover;
        }
        .div-icon {
            position: absolute;
            top: 24px;
            width: 100%;
            z-index: 1;

            .icon-back {
              background-color: rgba(0, 0, 0, 0.25);
              border-radius: 50%;
              margin-left: 8px;
              width: 48px;
            }

            .div-icon-share, .div-icon-like {
              //background-color: rgba(0, 0, 0, 0.5);
              //border-radius: 50%;
              margin-right: 8px;
            }
        }
        .div-total-slide {
            position: absolute;
            bottom: 6px;
            //background-image: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0) 36%);

            font-size: 14px;
            font-weight: 300;
            letter-spacing: -0.4px;
            text-align: left;
            color: #fff;
            
            z-index: 1;
            right: 8px;
            padding: 4px 10px;
            border-radius: 16px;
            width: 48px;
            text-align: center;
            border: solid 0.5px rgba(255, 255, 255, 0.5);
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    
    .tour-name {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.36px;
        text-align: left;
        color: #333;
        width: 90%;
    }

    .div-badge {
        align-items: center;

        .text-point {
          margin-top: 8px 4px 0 0;
          padding: 2px 0 0 0;
          border-radius: 6px;
          background-color: #9fc43a;
          color: #fff;
          height: 20px;
          font-size: 14px;
          margin-right: 4px;
          width: 36px;
          text-align: center;
        }
        .text-point-des {
          font-size: 14px;
          letter-spacing: -0.4px;
          text-align: left;
          color: #3f3b3b;
          margin-right: 4px;
        }
        .text-comment {
          font-size: 14px;
          letter-spacing: -0.4px;
          text-align: left;
          color: #3f3b3b;
          color: #26bed6;
        }
      }

      .cls-tour-duration {
        font-size: 14px;
        color: #3f3b3b;
      }
      .div-icon-right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
      }
      .div-button-sale {
          align-items: center;
          color: #e52822;

          .btn-topsale {
            padding: 4px 9px;
            border-radius: 4px;
            background-color: #e52822;
            color: #fff;
            margin-right: 8px;
            height: 23px;
            min-width: 120px;
          }
      }
     .div-icon-comment {
      position: absolute;
      right: 10px;
     }
      .icon-comment {
          color: var(--ion-color-primary);
          font-size: 28px;
          margin-top: 3px;
      }
      .div-h-28{
          height: 28px;
          align-items: center;
      }
      .d-flex-end{
        justify-content: flex-end;
        align-items: center;
        text-align: right;
      }

      .text-headline {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.4;
        text-align: left;
        color: #3f3b3b;
        display: flex;
        align-items: center;
      }

      .text-content{
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        color: #3f3b3b;
      }

      .div-specialnote {
        color: var(--ion-color-primary);
        font-size: 16px;
        line-height: 1.5;
      }
      .tour-intenary-content{
        font-size: 16px;
        line-height: 1.5;
        color: #3f3b3b;

        h3 {
          font-weight: 600 !important;
        }
        p > img {
          margin: 16px 0;
        }
      }
      .tour-intenary-content h3 {
        font-weight: 600 !important;
      }
      .cls-event {
        margin: -0 -16px;
        background-color: #ecf0f5 !important;
        padding: 16px !important;
      }
      .div-item-departure-date {
        display: flex;
        padding: 16px 0;
        
        .text-price {
          font-size: 16px;
        }
        .cls-red {
          color: #e52822;
          font-weight: 600;
        }
      }
      .v-align-items {
        align-items: center;
      }
      .img-date {
        margin-right: 4px;
      }

      .div-segment {
        justify-content: flex-start;
        overflow: scroll;

      }
      .icon_boat {
        width: 16px;
      }
      .icon_train {
        width: 16px;
        height: 16px;
        opacity: 0.5;
      }
      .icon_right {
        width: 16px;
        height: 16px;
      }
     .text-sub-headline {
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      color: #3f3b3b;
     }

      .div-avg-point {
        margin: 10px 0 16px 0;
      }
      .div-btn-point {
        border-radius: 4px;
        background-color: #9fc43a;
        color: #fff;
        margin-right: 6px;

        width: 62px;
        
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      .f-20 {
        font-size: 20px;
        font-weight: 600;
      }
      .f-14 {
        font-size: 14px;
      }
      .v-align-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .div-text-point{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .text-comment {
          font-size: 16px;
          font-weight: 600;
          text-align: left;
          color: #26bed6;
        }
        .text-total-comment {
          font-size: 12px;
          text-align: left;
          color: #38383d;
        }

      
      }
      .text-comment-sub {
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        color: #3f3b3b;
      }
      
      .cls-customer {
        font-size: 12px;
        line-height: 1.4;
        text-align: right;
        color: #868998;
        width: 100%;

        justify-content: center;
        display: flex;
        flex-direction: column;
      }

      .text-comment-description {
        margin: 8px 0 16px 0;
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
        color: #3f3b3b;
      }
      .innerreview{
        height: 100%;
        margin-top: 16px;
        margin-left: -5px;
        //margin-right: 16px;
        div{
          display:table-cell;
        }
        .img1 {
          object-fit: cover !important;
          width: 104px;
          height: 104px;
          margin-left: 5px;
          border-radius: 5px;
          max-width: 104px;
      }
      }
     
}
.h-22 {
  height: 22px;
}
.p-top-32 {
  padding-top: 32px;
}
.float-arrow-enabled{
  visibility: visible;
  transition: visibility 0.2s, opacity 0.2s linear;
  opacity: 1;
  height: 48px;
  padding-top: env(safe-area-inset-top);
}
.float-arrow-disabled{
  visibility: hidden;
  height: 0px;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  z-index: 0;
  padding-top: 0;
}

.cls-tourdetail-header {
  padding-top: 0;
  .div-width-48 {
    width: 48px;
  }
  .div-width-100 {
    width: 100%;
  }
  .header-tourname {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #3f3b3b;
    height: 40px;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    /* autoprefixer: ignore next */ -webkit-box-orient: vertical;
    align-self: flex-end;
  }
  .header-tourname-1 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #3f3b3b;
    height: 47px;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    /* autoprefixer: ignore next */ -webkit-box-orient: vertical;
    align-self: flex-end;
    margin-bottom: 8px;
  }
  .img-back {
    height: 48px; 
    padding-left: 8px;
  }

  .div-item {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    background: #fff;
  }

  .div-icon {
    width: 10%;
    background: #fff;
  }

  .item-tour-header {
    min-width: 156px;
    color: #3f3b3b;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
  }
  .item-ticketDDTN-header {
    min-width: 156px;
    color: #3f3b3b;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
  }
  .item-header-actived {
    border-bottom: solid 2px #26bed6;
    color: #26bed6 !important;
  }

  .scroll-horizontal {
    flex-direction: column;
    justify-content: flex-start !important;
    padding-left: 16px !important;
    background: #fff;

    .item-tour-header {
      justify-content: center !important;
      text-align: left !important;
      min-width: 100% !important;
      min-height: 48px !important;
    }
    
  }

  .cls-shadow {
    background: #fff;
  }
  .cls-border-bottom {
    border-bottom: solid 0.5px #bdbdbd;
  }
}
.width-50 {
  width: 50%;
}
.width-55 {
  width: 55%;
}
.width-45 {
  width: 45%;
}
.width-100 {
  width: 100%;
}
.div-tourdetail-footer {
  margin: 8px 16px;
  display: flex;

  .text-normal-footer {
    font-size: 14px;
    text-align: left;
    color: #333;
  }
  .text-price-footer {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: var(--ion-color-primary);
  }
  .text-price-sub {
    font-size: 14px;
    text-align: left;
    color: var(--ion-color-primary);
  }
  .div-footer-left {
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
  }
  .btn-departure-calendar {
    margin: 0;
    font-size: 17px !important;
    background-color: #f79321;
    color: #fff;
    width: 100%;
    padding: 0 20%;
  }
  .btn-advise {
    margin: 0;
    font-size: 17px !important;
    background-color: #fff;
    border: solid 1px #f79321;
    color: #f79321;
    width: 100%;
  }
  
}

::ng-deep {
  .ticket-intenary-content{
    img {
          margin: 16px 0;
        }
        ul{
          list-style-type: none;
          padding: 0!important;
        }
      }
     
  
}
.f-bold {
  font-weight: 600;
}
.div-scroll, .div-recommend, .div-review {
  
  .text-show-more-departure {
    margin-top: 16px;
    font-size: 16px;
    color: #26bed6;
  }
    
  // .div-collapse {
  //   max-height: 258px;
  //   overflow: hidden;
  //   transition: opacity 1s ease-in;
  // }

  // .div-expand {
  //   max-height: none;
  //   transition: opacity 1s ease-out;
  // }

  .div-wrap-departure .div-expand{
    display: block;
    animation: showNav 500ms ease-in-out both;
  }
  .div-collapse {
    transition: opacity 1s ease-out;
    display: none;
    opacity: 0; 
    height: 258px;
    overflow: hidden;
    padding: 0;
    animation: hideNav 500ms ease-in-out both;
  }

  @keyframes showNav {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes hideNav {
    from {opacity: 1;}
    to {opacity: 0;}
  }

  .img-seemoreroom{
    margin-left: 4px;
    height: 9px;
  }
}

.p-right-24 {
  padding-right: 24px;
}
.cls-no-departure {
  opacity: 0.5;
}
@media(min-height:600px) and (max-height:667px){
  .div-price {
      max-width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}


.div-video-name {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.36px;
  text-align: left;
  color: #333;
  
  margin-bottom: 8px;
  margin-top: 8px;
}
.div-address {
  margin-bottom:10px;
  .label-address {
      color: #4f4f4f;
      font-size: 14px;
  }
}
.div-video {
  margin-right: 0;
}
.div-button-ivv {
  background: #ffac23;
  color: #FFFFFF;
  border-radius: 6px;
  font-size: 12px;
  padding: 2px 10px;
  width: 150px;
  height: 22px;
  align-items: center;
  text-align: center;
  display: flex;
}
.div-youtube {
  position: absolute;
  color: #ffffff;
  z-index: 10;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.5);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  display: flex;
  padding: 0 4px;
  border-radius: 4px;
  left: 16px;
}
.text-price-topic{
  font-size: 22px;
  font-weight: bold;
  color: #f79321;
  text-align: right;
}
.text-review{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #9fc43a;
}
.text-service-des {
  font-size: 14px;
  text-align: left;
  color: #828282;
}
.m-right-6{
  margin-right: 6px;
}
.cls-deal-detail {
  min-width: 299px;
  border-radius: 5px;
  overflow-x: hidden !important;
}
.height-65{
  height:65px;
}
.m-top-8{
  margin-top: 8px;
}
.m-top-4{
  margin-top: 4px;
}
.m-top-14{
  margin-top: 14px;
}

.slide2-detail
{
  min-width: 298px;
  height: 184px;
  width: 100%;
}
.text-limit{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  display: -webkit-box;
}
.text-limit-9{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 9;
  display: -webkit-box;
}
.text-seemore-detail{
  text-decoration: underline;
  color: #26bed6;
  font-size: 16px;
  line-height: 1.5;
}
.align-self-start{
  align-self: flex-start;
  position: absolute;
  right: 16px;
}
.location-title{
  width: 130px;
  height: 25px;
  padding: 2px 12px;
  border-radius: 4px;
  background-color: #f4f5f6;
  text-align: center;      
}
.location-text{
  font-size: 16px;
  color: #3f3b3b;
  line-height: 1.4;
}
.location-name{
  font-size: 16px;
  font-weight: 500;
  color: #3f3b3b;
}
.location-time{
  font-size: 14px;
  font-weight: bold;
  color: #3f3b3b;
}
.text-detail{
  font-size: 14px;
  color: #26bed6;
}
.location-text-time{
  font-size: 14px;
  color: #3f3b3b;
  line-height: 1.4;
  margin-top: 8px;
}
.position-absolute{
  position: absolute;
}
.margin-bottom-24{
  margin-bottom: 24px;
}
.margin-bottom-12{
  margin-bottom: 12px;
}
.text-date{
  font-size: 20px;
  margin-bottom: 12px;
}
.skeleton-text{
  height: 44px;
  border-radius: 4px;
  width: 144px;
}
.font-size-14{
  font-size: 14px;
}
.text-service-des-3 {
  max-height: 3.6em; /* Tối đa 3 dòng (3.6em là 3 dòng với font-size thông thường) */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng tối đa */
  /* autoprefixer: ignore next */ 
  -webkit-box-orient: vertical;
}