
    .btn-close{
        position: absolute;
        right: 0px;
        top: -36px;
        width: 48px;
        height: 48px;
        background-color: #fff;
        font-size: 2em;
        color: #828282;
    }
    .button
    {
        background: #F79221;
        color: #ffffff;
        border-color: #F79221;
        width: 90%;
        font-size: 20px;
        height: 48px;
    } 
    .img1 {
        object-fit: cover;
        width: 100%;
        height: 350px;
    }
    ion-content{
        opacity: 0.91;
        --ion-background-color:#000;
        --overflow: hidden;
    }
    ion-header{
        opacity: 0.91;
        background-color:#000;
    }
    swiper-slide{
        justify-content: normal;
    }
    .div-align-center {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    img {
        left: 0;
        bottom: 0;
        object-fit: contain;
        max-width: initial;
        z-index: 9;
    }
    .div-captionImg {
      margin: 16px 32px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      height: 36px;
    }
    .div-hotel-name {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      text-align: center;
      margin-top: 9px;
    }
    .div-tour-name {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      text-align: center;
      margin-top: 9px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .border-bottom {
      border-bottom: solid 0.5px #f2f2f2;
    }
    .center
    {
      @media (min-width:320px) and (max-width: 360px) {
        padding: 115px 0 0 0;

      }
      @media (min-width:360px) and (max-width: 375px) {
        padding: 110px 0 0 0;
      }
      @media (min-width: 375px) and (max-width: 384px) {
        padding: 110px 0 0 0;

      }
      @media (min-width: 384px) and (max-width: 412px) {
        padding: 120px 0 0 0;
      }
      @media (min-width: 412px) and (max-width: 480px) {
        padding: 160px 0 0 0;

      }
      @media (min-width: 480px) and (max-width: 600px) {
        padding: 160px 0 0 0;

      }
      @media (min-width: 600px) and (max-width: 720px) {
        padding: 160px 0 0 0;

      }
      @media (min-width: 720px) and (max-width: 768px) {
        padding: 160px 0 0 0;

      }
      @media (min-width: 768px) and (max-width: 800px) {
        padding: 160px 0 0 0;

      }
      @media (min-width: 800px) {
        padding: 160px 0 0 0;

      }
    }
    .slide
    {
      @media (min-width:320px) and (max-width: 360px) {
        margin-top: 70px;
      }
      @media (min-width:360px) and (max-width: 375px) {
        margin-top: 100px;
      }
      @media (min-width: 375px) and (max-width: 384px) {
        margin-top: 100px;

      }
      @media (min-width: 384px) and (max-width: 412px) {
        margin-top: 120px;
      }
      @media (min-width: 412px) and (max-width: 480px) {
        margin-top: 130px;

      }
      @media (min-width: 480px) and (max-width: 600px) {
        margin-top: 140px;

      }
      @media (min-width: 600px) and (max-width: 720px) {
        margin-top: 150px;

      }
      @media (min-width: 720px) and (max-width: 768px) {
        margin-top: 160px;

      }
      @media (min-width: 768px) and (max-width: 800px) {
        margin-top: 170px;

      }
      @media (min-width: 800px) {
        margin-top: 180px;

      }
    }