.text-title{
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}
.header-text{
  text-align: center;
  align-self: center;
}

.content-carcombo{
    padding: 16px;

    .no-padding{
        padding: 0;
    }
    .align-center{
        text-align: center;
    }
    .text-regular{
        font-size: 14px;
        columns: #000000;
    }
    .text-thin{
        font-size: 14px;
        line-height: 18.9px;
        letter-spacing: -0.4px;
        color:#4f4f4f;
    }
    .text-thin-italic{
        font-size: 12px;
        color: #828282;
        font-style: italic;
        letter-spacing: -0.34px;
    }
    .text-name{
        margin-top:17px;
        margin-bottom: 0;
    }
    .text-tax-include{
        font-size: 12px;
        color: #828282;
        letter-spacing: -0.34px;
        margin-top: 2px;
        margin-bottom: 0;
    }
    .combo-title{
        font-size: 18px;
        font-weight: bold;
    }
    .p-top-16{
        padding-top: 15px;
    }
    .p-top-15{
        padding-top: 15px;
    }
    .p-top-8{
        padding-top: 8px;
    }
    .p-top-6{
        padding-top: 6px;
    }
    .p-top-2{
        padding-top: 2px;
    }
    .f-bold{
        font-weight: bold;
    }
    .col-step{
        line-height: 11px;
        padding-bottom: 16px;
        text-align: center;

        img{
            height: 16px;
        }
    }

    .div-title{
        .combo-title{
            font-size: 18px;
            font-weight: bold;
            color: #000000;
        }
        .combo-sub-title{
            font-size: 18px;
            font-weight: bold;
            color: #f59233;
        }
    }
    
    .carcombo-hotel{
        position: relative;
        height: 104px;
        padding-top: 15px;

        .img-hotel-avatar{
            min-width: 104px;
            width: 104px;
            height: 104px;
            object-fit: cover;
            border-radius: 6px;
            float: left;
            position: absolute;
        }
        .info-hotel{
            position: relative;
            padding-left: 112px;

            .div-address{
                padding-top:13px;

                .div-location{
                    position: absolute;
                    margin-top: -2px;
                }
                .img-location{
                    height: 12px;
                }
                .text-address{
                    position: relative;
                    line-height: 16px;
                    padding-left: 12px;
                }
            }
            
        }
        .name-hotel{
            font-size:14px;
            columns: #000000;
        }
    }
    .div-split{
        border-bottom: solid 1px #dedede;
        opacity: 0.6;
    }
    .sp-info-hotel{
        margin: 16.5px 0px 12px 0px;
        padding-top: 16.5px;
    }
    .sp-ci-co{
        margin: 6.5px 0px 9px 0px;
    }
    .sp-room-info{
        margin: 7.5px 0px 16px 0px;
    }
    .sp-room-penalty{
        margin: 16px 0px 0px 0px;
    }

    .div-date {
        border-right: solid 1px #cdcdcd;
        font-size: 14px;
        color: #000000;
        font-weight: bold;
        margin-top: 4px;
        padding-top: 0;
        letter-spacing: -0.4px;
    }
    .div-label-small{
        font-size: 12px;
        color: #4f4f4f;
        letter-spacing: -0.34px;
    }
    .div-date-cout {
        font-size: 14px;
        color: #000000;
        font-weight: bold;
        margin-top: 8px;
        padding-top: 0;
    }
    .p-right-4{
        padding-right: 4px;
    }
    .div-right-float-price{
        font-size: 14px;
        color: #003c71;
        font-weight: normal;
        float: right;
        padding-right: 4px;
    }
    .div-relative{
        position: relative;
        padding-top: 4px;

        .button-float-right{
            position: absolute;
            top: 4px;
            right: 0;
        }
        
    
    }
    
    .label-price-discount{
        color: #26bed6;
        font-weight: bold;
        font-size: 14px;
        margin-left: 5px
    }

    .room-info{
        padding-top: 8px;
    }
    .btn-change{
        border-radius: 4px !important;
        border: solid 1px #ec971f;
        color: #ec971f;
        font-size: 14px !important;
        background: #ffffff;
        height: 30px !important;
        width: 88px;
        margin: 0;
    }
    .btn-apply
    {
        color: #F79221;
        width: 100%;
        border: 1px solid;
        background-color: white;
        font-size: 14px !important;
        margin: 0;
        height: 30px !important;
    }
    .total-price{
        text-align: right;
        font-size: 24px;
        color: #26bed6;
        font-weight: bold;
        letter-spacing: -0.69px;
        // margin: 10px 0px;
    }
    .div-split-panel{
        height: 7px;
        background: #f2f2f2;
        margin-top: 12px;
        margin-left: -16px;
        margin-right: -16px;
    }
    .div-footer{
        background-color: #ffffff;
        text-align: center
    }
    
}
.div-footer{
    .button-footer
    {
        border-color: #F79221;
        background-color: #F79221;
        color: #ffffff;
        width: 91%;
        height: 44px;
        margin: 12px 16px 9px 16px;
    }
}
.text-location
{
    font-size: 16px;
    font-weight: bold
}
.text-infocar
{
    font-weight: 300;
    color: #4f4f4f;
    font-size: 12px
}
.combo-departure-time{
    font-size: 14px;
      font-weight: 600;
      padding-top: 4px;
  }
  .combo-flight-price-label-down{
    font-size: 14px;
    color: #003c71;
  }
  .flight-price{
    font-size: 13px;
    font-weight: bold;
  }
  .combo-flight-price-label-up{
    font-size: 12px;
    color: #ec971f;
  }
  .text-room-price-ota{
    color:#828282;
    font-size: 14px;
    text-align: right;
    text-decoration: line-through;
    margin: 20px;
    margin-top: -20px;
}
.btnnonesuccess
{
    width: 100%;
    background-color: white;
    font-size: 14px !important;
    margin: 0;
    height: 30px !important;
    border: solid 1px #447a00;
    color: #447a00;
}