
.cusimgreview-header{

    .header-col{
        text-align: center;
        height: 56px;
    }
    .a-center{
        align-self: center;
        //margin-top: env(safe-area-inset-top);
    }
    .div-back{
        position: absolute;
        height: 32px;
        width: 32px;
        left: 6px;
        top: 12px;
    }
    .div-header-title{
        font-size: 20px;
        font-weight: bold;
        line-height: 10px;
    }
    .text-hotelname{
        font-size: 11px;
        font-weight: 300;
    }
}

.cusimgreview-content{
    .p-16{
        padding: 16px;
    }
    .p-top-12{
        padding-top: 12px;
    }
    .img-item{
        width: 100%;
        object-fit: cover;
        height: 186px;
    }
    .text-room{
        font-size: 14px;
        line-height: 1.4;
        text-align: center;
        color: #3f3b3b;
    }
}