<!--
  Generated template for the RoomadddetailsEanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar style="min-height: 0px;text-align: center">
    <ion-row>
      <ion-col style="text-align: center;height: 48px;">
        <div style="align-self: center">
          <div style="position: absolute;height: 48px;width: 48px;top: 8px;" (click)="goback()">
            <!-- <ion-icon (click)="goback()" color="dark-tint" style="font-size: 2em;" name="arrow-back" class="card-title"></ion-icon> -->
            <img style="height: 48px; padding: 8px;margin-top: -9px;margin-left:-14px"
              src="./assets/imgs/ios-arrow-round-back.svg">
          </div>

          <div style="padding-top: 6px;font-size: 20px;font-weight: bold;"><label class="text-title">Thông tin
              khách</label></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-16">
  <img *ngIf="ischeckpayment" src="./assets/step/step_2.svg">
  <div *ngIf="!ischeckpayment" style="text-align: center">
    <img src="./assets/step/fc_step_2.svg">
  </div>

  <div *ngIf="roomnumber==1">
    <div style="margin-top: 10px">
      <ion-label class="text">
        Khách nhận phòng
      </ion-label>
    </div>
    <div >
          <div >
              <ion-item style="--padding-start: 0px">
                  <ion-label class="label-name" position="floating">Họ Tên</ion-label>
                  <ion-input class="label-input" [(ngModel)]="hoten" type="text" (ionInput)="inputFocus(null, $event)" (ionBlur)="inputLostFocus(null)"  (ionFocus)="inputOnFocus(null, 9)" required></ion-input>
              </ion-item>
          </div>
        <div>
          <ion-item style="--padding-start: 0px">
            <ion-label class="label-name" position="floating">Điện thoại</ion-label>
            <ion-input  class="label-input" [(ngModel)]="phone" type="tel" required></ion-input>
          </ion-item>
        </div>
     
      <!-- Thêm email nếu không login -->
      <div *ngIf="!validemail">
        <div >
          <ion-item style="--padding-start: 0px">
            <ion-label class="cls-label" position="floating">Email</ion-label>
            <ion-input class="label-input" [(ngModel)]="_email" type="text" required></ion-input>
    
          </ion-item>
        </div>
      </div>
      <ion-row *ngIf="arrbed.length>1">
        <ion-list style="margin-left: 5px">
          <label  class="label-name">Loại giường</label>
          <ion-radio-group>
            <ion-item class="ion-item" (ionSelect)="itemrd(item.text,0)" *ngFor="let item of arrbed; let itemindex = index">
              <ion-radio color="secondary" value={{item.text.description}} style="width: 12px;height: 12px"
              ></ion-radio>
              <label class="rd-text" style="margin-left: 5px">{{item.text.description}}</label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
       

      </ion-row>
      <ion-row *ngIf="textbed" style="margin-top: 10px;margin-left: 5px">
        <label class="rd-text" class="label-name" style="font-size: 12px" >Loại giường: </label>
        <label class="rd-text" style="font-weight: bold;font-size: 12px">{{textbed}}</label>
      </ion-row>
    </div>
    <div style="margin-top: 32px">
      <ion-label class="text">
        Yêu cầu khác
      </ion-label>
      <!-- <textarea style="margin-top: 5px" [(ngModel)]="note" style="width: 100%;margin-top: 15px;height: 40px"></textarea> -->
      <ion-row>
          <ion-col size="12">
            <ion-item style="--padding-start: 0px" id="ipNote">
              <ion-label  class="label-name" position="stacked">Yêu cầu khác</ion-label>
              <ion-input  class="label-input" [(ngModel)]="note" (ionFocus)="setFocusInput()"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    </div>
  </div>
  <div style="margin-top: 10px" *ngIf="roomnumber>1">

    <div *ngFor="let m of arr;let i=index">
      <div style="margin-top: 15px">
        <ion-label class="text">
          {{m.text}}
        </ion-label>
      </div>
      <ion-row style="margin-left: -5px">
        <!-- <ion-col size="6">
          <ion-item style="--padding-start: 0px">
            <ion-label position="stacked">Họ</ion-label>
            <ion-input [(ngModel)]="m.lastname" type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item style="--padding-start: 0px">
            <ion-label position="stacked">Tên</ion-label>
            <ion-input [(ngModel)]="m.fristname" type="text" required></ion-input>
          </ion-item>
        </ion-col> -->
        <ion-col size="12">
            <ion-item style="--padding-start: 0px">
                <ion-label class="label-name" position="stacked">Họ Tên</ion-label>
                <ion-input class="label-input" [(ngModel)]="m.hoten" type="text" (ionInput)="inputFocus(m, $event)" (ionBlur)="inputLostFocus(m)"  (ionFocus)="inputOnFocus(m, 9)" required></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="i==0" style="margin-left: -5px">
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="label-name" position="stacked">Điện thoại</ion-label>
            <ion-input class="label-input" [(ngModel)]="m.phone" type="tel" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Thêm email nếu không login -->
      <ion-row *ngIf="!validemail && i==0">
          <ion-col size="12">
            <ion-item style="--padding-start: 0px">
              <ion-label class="cls-label" position="stacked">Email</ion-label>
              <ion-input class="label-input" [(ngModel)]="_email" type="text" required></ion-input>
      
            </ion-item>
          </ion-col>
        </ion-row>

      <ion-row *ngIf="m.arrbed.length>1">
          <ion-list >
          <label  class="label-name">Loại giường</label>
          <ion-radio-group>
              <ion-item class="ion-item" (ionSelect)="itemrd(item.text,0)" *ngFor="let item of m.arrbed; let itemindex = index">
                <ion-radio value={{item.text.description}} color="secondary" class="rd-departure" style="width: 12px;height: 12px"
                  (ionSelect)="itemrd(item.text,i)"></ion-radio>
                <label class="rd-text" style="margin-left: 5px">{{item.text.description}}</label>
              </ion-item >
            </ion-radio-group>
        </ion-list>
       

      </ion-row>
      <ion-row *ngIf="textbed" style="margin-top: 10px">
        <label  class="label-name" style="font-size: 12px" class="rd-text">Loại giường: </label>
        <label class="rd-text" style="font-weight: bold;font-size: 12px">{{textbed}}</label>
      </ion-row>
    </div>

    <div class="div-title-other-request">
      <ion-label class="text">
        Thông tin yêu cầu khác
      </ion-label>
    </div>
    <div style="margin-left: -5px">
        <ion-row>
            <ion-col size="12">
              <ion-item style="--padding-start: 0px">
                <ion-label class="label-name" position="stacked">Yêu cầu khác</ion-label>
                <ion-input class="label-input" [(ngModel)]="note"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
    </div>
  </div>
  <ion-row *ngIf="!Roomif.ExcludeVAT" class="v-align-center m-top-20" >
    <ion-checkbox (ionChange)="edit(0)" [(ngModel)]="ischeck" color="secondary"></ion-checkbox>
    <ion-label style="margin: 1px 10px">Xuất hóa đơn điện tử</ion-label>
  </ion-row>
 
    <div *ngIf="ischeck && !Roomif.ExcludeVAT">
      <ion-row >
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="label-input-order" position="stacked">Tên công ty</ion-label>
            <ion-input class="label-input" [(ngModel)]="companyname" type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="label-input-order" position="stacked">Địa chỉ</ion-label>
            <ion-input class="label-input" [(ngModel)]="address" type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="label-input-order" position="stacked">Mã số thuế</ion-label>
            <ion-input class="label-input" [(ngModel)]="tax" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="div-check-namemail" >
        <ion-checkbox (ionChange)="showNameMail($event)" [value]="ishideNameMail" class="ion-checkbox" color="secondary"></ion-checkbox>
        <ion-label class="label-input" >Dùng họ tên & email của người đặt dịch vụ để xuất hoá đơn</ion-label>
      </div>
      <div *ngIf="!ishideNameMail">
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="cls-label" position="stacked">Họ tên</ion-label>
            <ion-input class="label-input" [(ngModel)]="hotenhddt" type="text" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item style="--padding-start: 0px">
            <ion-label class="cls-label" position="stacked">Email nhận HĐ</ion-label>
            <ion-input class="label-input" [(ngModel)]="emailhddt" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </div>
    </div>
</ion-content>
<ion-footer>
  <!-- <div *ngIf="priceshow>0||ischeckbtn==true" style="background-color: #ffffff; text-align: center">
    <button (click)="next()" ion-button round outline class="button button2">Tiếp tục</button>
  </div> -->
  <div class='div-close-paxhint' *ngIf="inputtext && listpaxhint && listpaxhint.length >0" (click)="hidePaxHint()"><img src='./assets/ic_close_b.svg'></div>
  <div class="div-pax-hint" *ngIf="inputtext && listpaxhint && listpaxhint.length >0">
                  
    <div *ngFor="let itempax of listpaxhint" class="d-flex m-bottom-16" (click)="selectPaxHint(itempax)">
        <div class="icon-pax">
                <img src="./assets/ic_flight/icon-pax.svg">
        </div>
        <div class="text-pax-hint">
            {{itempax.fullName}}
        </div>
    </div>
    
  </div>

  <div *ngIf=" (priceshow>0||ischeckbtn==true)" style="background-color: #ffffff; text-align: center">
    <div *ngIf="showInstallmentButton else hideInstallmentButton" class="div-button-flex">
      <button  (click)="next(1)" ion-button round outline class="button button-installment">Trả góp <br><p class="text-sub">chỉ từ {{installmentPriceStr}}</p></button>
      <button (click)="next(0)" ion-button round outline class="button button2">Thanh toán ngay</button>
    </div>
    <ng-template #hideInstallmentButton>
      <button (click)="next(0)" ion-button round outline class="button button2">Tiếp tục</button>
    </ng-template>
  </div>
  <div *ngIf="priceshow==0" style="background-color: #ffffff; text-align: center">
    <button (click)="next1()" ion-button round outline class="button button2">Hoàn thành đặt phòng</button>
  </div>
</ion-footer>