<ion-header>
  <ion-row>
    <ion-col style="text-align: center;height: 48px;">
      <div style="align-self: center" >
        <div style="position: absolute;height: 48px;width: 48px;top: 0px;" (click)="goback()" >
            <img style="height: 48px; padding: 8px;margin-top: 4px;margin-left:-8px" src="./assets/imgs/ios-arrow-round-back.svg" >
        </div>
        <div style="padding-top: 11px;font-size: 20px;font-weight: bold;"><label class="text-title">Thanh toán</label></div>
      </div>
    </ion-col>
  </ion-row>
  </ion-header>


<ion-content >
  <div class="p-all-16">
    <div style="text-align: center">
      <img src="./assets/ic_flight/step_3.svg">
    </div>
  <div style="margin-top: 20px;
    margin-top: 20px;
    line-height: 1.5;
    letter-spacing: -0.34px;
    font-size: 15px;">
  <b>Văn phòng TP. Hồ Chí Minh:</b>
  Lầu 7, Tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3.
  <br>
   
  <br>
  <b>Văn phòng Hà Nội:</b>
  P.308, Tầng 3, Tòa nhà The One, số 2 Chương Dương Độ, Q.Chương Dương, Q.Hoàn Kiếm, Hà Nội
  <br>
  
  <br>
  <b>Văn phòng Cần Thơ:</b>
  Tầng 7 - Tòa nhà STS - 11B Đại Lộ Hòa Bình, P. Tân An, Q. Ninh Kiều.
  <br>
  <br>
  Thời gian làm việc: 08h00 - 20h00
    <br>
    <b>Hotline: (028) 3933 8008</b>


  </div>
</div>
</ion-content>
<ion-footer>
  <div style="background-color: #ffffff; text-align: center">
    <button (click)="next()" ion-button round outline class="button button2 button-footer">Tiếp tục</button>
  </div>
</ion-footer>