

.flight-booking-detail-content{
    .p-16{
        padding: 16px;
    }
    .d-flex{
        display: flex;
    }
    .m-bottom-10{
        margin-bottom: 10px;
    }

    .div-split{
        margin: 16px -16px;
        background-color: #f2f2f2;
        height: 4px;
    }
    .div-split-1{
        border-bottom: solid 0.5px rgba(205,205,205, 0.5);
        margin: 16px 0;
    }
    .div-width-400{
        width: 400%;
    }
    .div-width-100{
        width: 100%;
    }
    .div-width-150{
        width: 150%;
    }

    .div-pax{
        padding-top: 20px;
    }
    .text-name{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.48px;
        color: #222222;
    }

    .text-phone{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        color: #000000;
    }

    .pax-title{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.28px;
        color: #828282;
        margin-bottom: 8px;
    }

    .pax-gender{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        color: #333333;
        width: 50px;
    }

    .pax-name{
        font-size: 16px;
        color: #333333;
    }
    .cls-error{
        color: #e52822 !important;
        font-weight: bold !important;

        .pax-dob{
            color: #e52822 !important;
            font-weight: bold !important;
        }
    }

    .div-flight-inout{
        padding: 0px 18px;
        width: 32px;
        height: 32px;
        position: relative;
  
        .img-flight-inout{
          width: 32px;
          height: 32px;
          position: absolute;
          left: 0;
          top: -2px;
        }
      }
      .div-width-600{
        width: 600%;
      }
      .div-width-60{
        width: 60%;
      }
      .text-right{
        text-align: right;
      }
      .text-flight-datetime{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        color: #000000;
      }

      .text-flight-title{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: -0.51px;
        color: #000000;
      }
      .v-align-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
   
      .img-oneway{
        width: 12px !important;
        margin-left: 12px;
      }

    .text-cin{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.28px;
        color: #4f4f4f;
        margin-bottom: 12px;
    }

    .div-logo{
        margin-right: 8px;
        .img-logo{
            height: 18px;
        }
    }
    .div-icon-flight{
        margin-left: 32px;
        margin-right: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        
    }

    .img-flight{
        width: 14px;
        margin-left: 15%;
        position: absolute;
        margin-top: 4px;
    }

    .div-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 4px;
        margin-top: -2px;
    }

    .text-airlinecode{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.28px;
        color: #333333;
    }

    .div-airlineclass{
        font-size: 12px;
        font-weight: 300;
        line-height: 1.67;
        letter-spacing: -0.34px;
        color: #828282;
    }

    .text-time{
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.48px;
        color: #333333;
    }

    .text-confirm{
        margin-bottom: 8px;
        font-size: 14px;
        text-align: left;
        color: #333333;
    }

    .text-code{
        font-size: 12px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: -0.34px;
        color: #333333;
    }

    .div-flight-condition{
        margin: 0 -16px;
        padding: 10px 16px;
        background: #f2f2f2;
    }

    .img-info{
        width: 14px;
        height: 14px;
    }

    .div-text-refund{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        color: #828282;
    }

    .div-text-changeflight{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.4px;
        color: #9fc43a;
    }

    .div-flight-condition{
        margin-top: 16px;
    }
    .not-allow{
        color: #828282 !important;
    }
    .pax-dob{
        color: #828282;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: -0.4px;
    }

   
}

.button2
{
    background: #fff;
    color: #ff9500;
    border-color: #ff9500;
    border: solid 1px #ff9500;
    width: 100%;
    font-size: 18px !important;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    height: 40px !important;
}
.button1
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px !important;
    height: 40px !important;
}
.div-button-payment-done{
    background-color: #ffffff; 
    text-align: center;

    display: flex;
    flex-direction: column;

    .m-top-0{
        margin-top: 0 !important;
    }
    .m-top-8{
        margin-top: 8 !important;
    }
}
.text-confirm{
    margin-bottom: 8px;
    font-size: 14px;
    text-align: left;
    color: #333333;
}
.text-bold{
    font-weight: bold;
}
::ng-deep{
    .sc-ion-modal-md-h.sc-ion-modal-md-s.modal.modal-md.cls-modal-confirmbookingdetail {
        --width: 90%;
        --height: 92%;
    }
}