
.text-bkg-title{
    font-size: 14px;
  font-weight: 100;
  color: #333;
}
.text-bkg{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.28px;
    color: #333;
}
.text-name{
    font-size: 14px;
    font-weight:600;
    color: #333;
}
.text-code-in{
    font-size: 14px;
    color: #333;
}
.div-cathay{
    background-color: #fff;
    border-radius: 4px;
    margin: 9px 8px 0px 8px;
}
ion-content{
    --ion-background-color: #f2f2f2;
}
.div-bkg{
    padding: 0px 0px 32px 0px
}
.div-big{
    padding: 16px 0px 26px 8px
}
.logo-insurance{
    width: 56px;
    height: 37px;
}
.text-request{
    font-size: 12px;
    letter-spacing: -0.34px;
    color: #868998;
}
.text-green{
    font-size: 14px;
  color: #00c1de;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-9{
    margin-top: 9px;
}
.margin-top-8{
    margin-top: 8px;
}
.text-hotfare{
    color: #828282;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: -0.24px;
    font-style: italic;
  }