.text-normal {
    font-size: 16px;
    text-align: left;
    color: #828282;
}

.div-go-back{
    position: absolute;
    top: 16px;
    color: #ffffff;
    width: 48px;
    height: 48px;
  }

  .btn-save-phone{
    border-color: #f79221;
    color: #ffffff;
    background: #f79221;
    width: 98%;
    height: 48px;
    text-transform: none;
    font-size: 18px !important;
    border-radius: 4px !important;
}
.cls-invalid {
    background: #828282 !important;
    opacity: 0.5;
}
.cls-inputmail {
    --padding-top: 0;
    --padding-bottom: 0;
}
  .text-button{
    text-align:center;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    text-transform: none;font-weight: 400;margin-top: 30px
}
.validate-error{
    color: #f79221;
}
:host(.ion-focused) .item-native {
    background: transparent;
}