<ion-header>
  <ion-toolbar style="min-height: 0px;text-align: center">
    <ion-row>
      <ion-col style="text-align: center;height: 48px;">
        <div style="align-self: center">
          <div style="position: absolute;height: 48px;width: 48px;top: 8px;" (click)="goback()">
            <img style="height: 48px; padding: 8px;margin-top: -7px;margin-left:-14px"
              src="./assets/imgs/ios-arrow-round-back.svg">
          </div>
          <div style="padding-top: 6px;font-size: 20px;font-weight: bold;"><label class="text-title">Thông tin thanh toán</label>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-16">
  <div class="text-center">
    <img class="img-step" src="./assets/ic_flight/step_3.svg">
  </div>
  <div style="margin-top: 15px" class="div-title mt-11">
    <ion-label class="combo-title">{{titlecombo}}</ion-label>
  </div>

  <div  class="div-title mt-5">
    <ion-label class="hotel-name">{{Name}}</ion-label>
  </div>
  <div class="d-flex">
    <div class="text-flight-datetime">{{ cin }} </div>
    <div class="div-flight-inout">
      <img class="img-flight-inout" src="./assets/ic_flight/ic_flight_inout.svg">
  </div> 
  <div class="text-flight-datetime">{{ cout }} </div>
  </div>
  
  <hr >
  <div class="d-flex mt-16">
    <div class="div-width-100">
      <img class="image-card" src="./assets/ic_facility/ic_people.svg"> {{roomnumber}} phòng | {{totalPaxStr}}
    </div>
    <div class="div-width-100 text-right">
      <div class="text-total-price"> {{gf.numberToCurrency(priceshow, '.')}}<span class="text-d">đ</span>
      </div>
      <div class="text-sub">Giá đã bao gồm thuế & phí.</div>
      
    </div>
  </div>
  <div class="div-split-panel"></div>
  <ion-list class="cls-list">
    <ion-item *ngIf="bizTravelService.isCompany" (click)="paymentbiztravel()" class="=cls-minheight h-54">
      <label  class="text-list m-bottom-8">
        Tài khoản công ty
      </label>
      <div class="text-warning-creadit" *ngIf="bizTravelService.bizAccount && (bizTravelService.bizAccount.balanceAvaiable - totalPrice)<=0">Số dư Credit không đủ để thực hiện thanh toán</div>
      <!-- <ion-icon slot="end" name="ios-arrow-round-forward" *ngIf="bizTravelService.bizAccount && (bizTravelService.bizAccount.balanceAvaiable - totalPrice) >0" class='cls-arrow-payment-align-right'></ion-icon> -->
      <img src="./assets/imgs/ic_arrow_grey.svg" *ngIf="bizTravelService.bizAccount && (bizTravelService.bizAccount.balanceAvaiable - totalPrice) >0" class='ic-arrow-right'/>
      
    </ion-item>
    
    <ion-item  (click)="roompaymentatm()" class="h-54">
      <label class="text-list">
        Thẻ ATM nội địa /Internet Banking
      </label>
      <img src="./assets/imgs/ic_arrow_grey.svg" class='ic-arrow-right'/>
    </ion-item>
    <ion-item (click)="roompaymentvisa()" class="ion-item1 h-54">
      <label class="text-list">
        Thẻ tín dụng <img class="img-visa" src="./assets/imgs/ic_visa.png">
      </label>
      <img src="./assets/imgs/ic_arrow_grey.svg" class='ic-arrow-right'/>
    </ion-item>
    <ion-radio-group *ngIf="arrbankrmb.length>0&&ischeckvisa">
      <ion-item class="ion-item h-54" *ngFor="let item of arrbankrmb">
        <ion-radio  mode="md" [checked]="item.checked" (click)="chooseacc(item)"></ion-radio>
        <!-- <img class="imgcard ml8" src={{item.imgbank}}> -->
        <ion-label  class="text-infobank ml8">
          {{item.name_Bank}}
        </ion-label>
        <ion-label class="text-infobank "><span style="vertical-align: middle;"> •••• •••• ••••</span>
          {{item.vpc_CardNum}}</ion-label>
      </ion-item>
      <ion-item class="ion-item h-54">
        <ion-radio mode="md" (click)="nochooseacc()"></ion-radio>
        <ion-label  class="text-infobank ml8">
          Chon tài khoản khác
        </ion-label>
        </ion-item>
    </ion-radio-group>
    <div  style="margin-left: 15px">
      <ion-checkbox [disabled]="isdisable" (click)="rememberCard()" [value]="isremember" class="ion-checkbox"  color="secondary"></ion-checkbox>
      <ion-label class="label-input" >Lưu và bảo mật thẻ để đặt dịch vụ nhanh hơn lần sau</ion-label>
    </div>
    <hr style="margin-left: 15px;margin-bottom: 10px">

    <ion-item  (click)="flightbuynowpaylater()" class="h-54" >
      <label class="text-list m-bottom-16">
        Mua trước trả sau <img class="img-homecredit" src="./assets/ic_ticket/logo-home-credit.jpg">
      </label>
      <img src="./assets/imgs/ic_arrow_grey.svg" class='ic-arrow-right'/>
      <div  class="text-bnpl-discount" >Giảm thêm 300.000đ</div>
    </ion-item>

    <ion-item (click)="roompaymentmomo()" class="h-54">
      <label class="text-list">
        Thanh toán bằng Momo  <img class="img-momo" src="https://res.ivivu.com/payment/img/momo/logo.png">
      </label>
      <img src="./assets/imgs/ic_arrow_grey.svg" class='ic-arrow-right'/>
    </ion-item>
    <ion-item (click)="roompaymentpayooqr()" class="h-54">
      <label class="text-list">
        Thanh toán bằng mã QR <img class="img-payoo" src="https://res.ivivu.com/payment/img/payoo/payoo-logo.png">
      </label>
      <img src="./assets/imgs/ic_arrow_grey.svg" class='ic-arrow-right'/>
    </ion-item>
  </ion-list>
  <div class="div-DK">
    <ion-checkbox mode='md' class="checkbox-DK"  [checked]="ischeckedDK" (ionChange)="checkDk()"></ion-checkbox>
    <div class="text-DK">
      Tôi đồng ý với các <span (click)="openWebpageDK('https://www.ivivu.com/dieu-kien-dieu-khoan')" class="text-link-DK">điều kiện và điều khoản</span> về đặt dịch vụ trên app iVIVU.com
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="isbtn">
  <div style="background-color: #ffffff; text-align: center">
    <button [disabled]="!ischeckedDK" (click)="next()" ion-button round outline  [ngClass]="ischeckedDK?'button2':'btn-disabled'" class="button button2">Thanh toán và hoàn thành</button>
  </div>
</ion-footer>