<ion-header>
  <ion-row>
    <ion-col size="2" class="header-text header-icon" (click)="goback()">
      <img style="height: 48px; padding: 8px;" src="./assets/imgs/ios-arrow-round-back.svg">
    </ion-col>
    <ion-col size="8" class="header-text">
      <ion-title class="text-title">
        Xác nhận
      </ion-title>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div class="content-carcombo">
    <div class="col-step">
      <img class="img-step" src="./assets/step/step_1.svg">
    </div>
    <div class="div-title">
      <ion-label class="combo-title">{{titlecombo}} |</ion-label>
      <ion-label class="combo-sub-title"> {{titlecomboprice}} VND/Khách</ion-label>
    </div>
    <div class="carcombo-hotel">
      <div class="img-hotel">
        <img class="img-hotel-avatar" *ngIf="Avatar" [src]="Avatar" />
        <img class="img-hotel-avatar" *ngIf="!Avatar" src="https://cdn1.ivivu.com/iVivu/2018/02/07/15/noimage.png" />
      </div>
      <div class="info-hotel">
        <!-- Tên -->
        <div class="name-hotel f-bold">
          <ion-label>{{Name}}</ion-label>
        </div>
        <!-- Địa chỉ -->
        <div class="div-address p-top-13">
          <!-- img-local -->
          <div class="div-location">
            <img class="img-location" src="./assets/iocnsearch/ic_location.svg">
          </div>
          <!-- address -->
          <div class="text-address text-thin">
            <ion-label>{{Address}}</ion-label>
          </div>
        </div>
        <div *ngIf="bookCombo.isshuttlebus.length>0" class="div-address p-top-13">
          <div class="div-location">
            <img class="img-location" src="./assets/ic_review/ic_bus.svg">
          </div>
             <div (click)="nextShuttlebus()" class="text-address text-thin color-blue">
              <ion-label>Lịch trình Shuttle Bus</ion-label>
            </div>
        </div>
     
          
       
      </div>
    </div>
    <div class="div-split sp-info-hotel"></div>
    <!-- Checkin, checkout -->
    <div class="div-cin-cout" (click)="changeDateInfo()">
      <ion-row>
        <!-- cin -->
        <ion-col size="3.6" class="no-padding">
          <div class="div-label-small">Nhận phòng</div>
          <div class="div-date">{{cinshow}}</div>
        </ion-col>
        <!-- cout -->
        <ion-col class="no-padding align-center">
          <div class="div-label-small">Trả phòng</div>
          <div class="div-date">{{coutshow}}</div>
        </ion-col>
        <!-- duration -->
        <ion-col size="3.4" class="no-padding align-center">
          <div class="div-label-small">Số đêm</div>
          <div class="div-date-cout">{{duration}} đêm</div>
        </ion-col>
      </ion-row>
      <div class="div-split sp-ci-co" *ngIf="!loadpricedone"></div>
    </div>
    <div class="carcombo-departure" *ngIf="PriceAvgPlusTAStr"  class="divheight" style="position: relative">
      <label class="text-location">
        Đi từ {{fromPlace}}
      </label>
      <div>
        <div class="placepoint">
        </div>
        <div class="placeline">
        </div>
        <div class="placepoint" style="top: 73%">
        </div>
      </div>
      <ion-row style="margin-left: -5px">
        <ion-col size="8">
            <ion-label class="text-infocar" style="font-size: 14px">{{departVehicleStr}}</ion-label>
          <div >
              <ion-label class="text-infocar">{{departDateTimeStr}}</ion-label>
              <div class="placediv" style="min-height: 36px;">
                <span class="combo-departure-time"> {{departTimeStrd}} </span>
                <span (click)="showmsg(pickup_pointsdepartd)" style="font-size: 14px;">{{pickup_pointsdepartd}}</span>
                <div>
                  <ion-label (click)="showmsg(addressdepartd)" class="text-infocar">{{addressdepartd}}</ion-label>
                </div>
              </div>
              <div class="placediv" style="margin-left: 10px;" style="min-height: 36px;">
                <span class="combo-departure-time"> {{departTimeStrt}} </span>
                <span style="font-size: 14px;" (click)="showmsg(pickup_pointsdepartt)">{{pickup_pointsdepartt}}</span>
                <div >
                  <ion-label (click)="showmsg(addressdepartt)" class="text-infocar">{{addressdepartt}}</ion-label>
                </div>
              </div>
              <div *ngIf="pickup_pointsdep.length>1||drop_off_points_at_arrivedep.length>1">
                <ion-label class="text-change text-link" (click)="changeplace(0)">Đổi điểm đón/trả</ion-label>
              </div>
          </div>
        </ion-col>
        <ion-col size="4" *ngIf="departTicketSaleshow!=0" style="align-self: center">
          <div *ngIf="checkdiscountdepart&&departTicketSaleshow!=0" class="combo-flight-price"
            style="margin-bottom: 5px;text-align: right;height: 20px">
            <span class="combo-flight-price-label-down">Giảm <span
                class="flight-price">{{departTicketSaleshow}}</span></span>
          </div>
          <div *ngIf="!checkdiscountdepart" class="combo-flight-price-label-up"
            style="margin-bottom: 5px;text-align: right;height: 20px">
            <span class="combo-flight-price-label-up">Phụ thu <span
                class="flight-price">{{departTicketSaleshow}}</span></span>
          </div>
          <div class="button-float-right" style="text-align: right">
            <button ion-button round outline class="button btn-change" (click)="showListCar(0)">Đổi giờ</button>
          </div>
        </ion-col>
        <ion-col size="4" *ngIf="departTicketSaleshow==0" style="align-self: center">
          <div class="button-float-right" style="text-align: right">
            <button ion-button round outline class="button btn-change" (click)="showListCar(0)">Đổi giờ</button>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="carcombo-departure" *ngIf="PriceAvgPlusTAStr" class="divheight"  style="position: relative">
        <div>
            <div class="placepoint" style="top:33%">
            </div>
            <div class="placeline" style="top: 37%;height: 23%;">
            </div>
            <div class="placepoint" style="top: 60%">
            </div>
          </div>
      <ion-row style="margin-left: -5px;margin-top: 10px">
        <ion-col size="8">
            <ion-label class="text-infocar" style="font-size: 14px">{{returnVehicleStr}}</ion-label>
            <div >
          <ion-label class="text-infocar">{{returnDateTimeStr}}</ion-label>
          <div class="placediv" style="min-height: 36px;">
            <span class="combo-departure-time">{{returnTimeStrd}} </span>
            <span style="font-size: 14px;"  (click)="showmsg(pickup_pointsreturnd)">{{pickup_pointsreturnd}}</span>
            <div>
              <ion-label class="text-infocar" (click)="showmsg(addressreturnd)">{{addressreturnd}}</ion-label>
            </div>
          </div>
          <div class="placediv" style="min-height: 36px;">
            <span class="combo-departure-time">{{returnTimeStrt}} </span>
            <span style="font-size: 14px;" (click)="showmsg(pickup_pointsreturnt)">{{pickup_pointsreturnt}}</span>
            <div>
                <ion-label class="text-infocar" (click)="showmsg(addressreturnt)">{{addressreturnt}}</ion-label>
              </div>
          </div>
          <div  *ngIf="pickup_pointsret.length>1||drop_off_points_at_arriveret.length>1">
            <ion-label class="text-change text-link" (click)="changeplace(1)">Đổi điểm đón/trả</ion-label>
          </div>
        </div>
        </ion-col>
        <ion-col size="4" *ngIf="returnTicketSaleshow!=0" style="align-self: center">
      
          <div *ngIf="checkdiscountreturn" class="combo-flight-price"
            style="margin-bottom: 5px;text-align: right;height: 20px">
            <span class="combo-flight-price-label-down">Giảm <span
                class="flight-price">{{returnTicketSaleshow}}</span></span>
          </div>
          <div *ngIf="!checkdiscountreturn" class="combo-flight-price-label-up"
            style="margin-bottom: 5px;text-align: right;height: 20px;">
            <span class="combo-flight-price-label-up">Phụ thu <span
                class="flight-price">{{returnTicketSaleshow}}</span></span>
          </div>
          <div class="button-float-right" style="text-align: right">
            <button ion-button round outline class="button btn-change" (click)="showListCar(1)">Đổi giờ</button>
          </div>
        </ion-col>
        <ion-col size="4" *ngIf="returnTicketSaleshow==0" style="align-self: center">

          <div class="button-float-right" style="text-align: right">
            <button ion-button round outline class="button btn-change" (click)="showListCar(1)">Đổi giờ</button>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-row *ngIf="!PriceAvgPlusTAStr&&!loadpricedone" style="height: 100px">
      <ion-col style="text-align: center;align-self: center">
        <ion-spinner style="height: 84px" name="bubbles" class="spinner-bubbles hydrated"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!PriceAvgPlusTAStr&&!loadpricedone">
      <ion-col style="text-align: center;align-self: center;color: #828282">
        <label>Đang tìm vé xe tốt nhất. Xin quý khách vui lòng đợi trong giây lát!</label>
      </ion-col>
    </ion-row>
    <div  *ngIf="PriceAvgPlusTAStr" class="div-split sp-ci-co"></div>
    <!-- Thông tin phòng -->
    <div *ngIf="PriceAvgPlusTAStr" class="room-info">
      <div class="div-flex">
        <label class="combo-title text-room">
          {{nameroom}}
        </label>
        <label *ngIf="PriceAvgPlusTAStr" class="text-p line-blue">
          <span (click)="upgradeRoom()" class="margin-right-5 text-link">Đổi</span> <img src="./assets/imgs/vector.svg">
        </label>
      </div>
      <div class="text-regular p-top-8" text-wrap>
        <img class="image-card" src="./assets/ic_facility/ic_people.svg"> {{roomnumber}} phòng | {{adulsdisplay}} người
        lớn |
        {{childrendisplay}} trẻ em {{textage}}
      </div>
      <div class="text-regular p-top-15">
        <img class="image-card" *ngIf="breakfast" src="./assets/ic_facility/ic_food_b.svg"> {{breakfast}}
      </div>

      <div *ngIf="PriceAvgPlusTAStr" class="div-address p-top-13">
        <div class="div-location">
          <img class="img-location" src="./assets/iconaccount/info.svg">
        </div>
           <div class="text-address text-bold ">
            <ion-label  *ngIf="statusRoom=='AL'" >Xác nhận ngay</ion-label>
            <ion-label  *ngIf="statusRoom!='AL'" >Xác nhận trong 60 phút</ion-label>
          </div>
      </div>
      
      <hr class="cls-hr">
    </div>
    
  <div *ngIf="PriceAvgPlusTAStr" (click)="showPenalty()">
    <ion-row>
      <label class="depart-title">
          Chính sách hủy combo
      </label>
    </ion-row>
  </div>
    <hr class="cls-hr" *ngIf="loadcarspricedone">
    <div *ngIf="point>0 && PriceAvgPlusTAStr&& loadcarspricedone" class="div-voucher">
      
      <div class="div-flex">
        <div class="div-icon"><img class="icon-point" src="./assets/ic_voucher/ivvpoint_tealish.svg"/></div>
        <div class="div-text-center">
          <div class="width-150">Sử dụng iVIVU point</div>
          <div class="width-100 text-point text-right">-{{gf.convertNumberToString(point)}}đ</div>
        </div>
        <div class="div-button"><ion-toggle style="margin-top: -4px;" class="toggle-promo" (ionChange)="edit()" [(ngModel)]="ischeck"></ion-toggle></div>
    </div>
    <div class="div-line"></div>
    <div class="div-flex" (click)="showdiscount()" *ngIf="!strPromoCode && statusRoom == 'AL'">
      <div class="div-icon"><img class="icon-point" src="./assets/ic_voucher/ticket_tealish.svg"/></div>
      <div class="div-text-center ">
        <div class="width-100">Nhập mã giảm giá <span class="text-sub">(iVIVU Voucher, MGift..)</span></div>
      </div>
      <div class="div-button width-10"><img src="./assets/ic_ordersupport/next.svg"></div>
    </div>

  <div class="div-voucher-apply" *ngIf="strPromoCode && statusRoom == 'AL'" (click)="showdiscount()">
      <div class="width-250 div-overflow">
        <span class="text-normal">Ưu đãi (<span class="text-code" *ngIf="strPromoCode">{{strPromoCode}}</span><span class="text-normal">)</span> </span>
      </div>
      <div class="width-100 text-normal text-right p-r-5" *ngIf="strPromoCode">{{gf.convertNumberToString(totaldiscountpromo)}}đ</div>
    </div>
    <ion-row> 
      <ion-label *ngIf="ischeckerror==1" style="color: rgb(229, 40, 34);font-size: 12px">{{msg}}</ion-label>
      <ion-label *ngIf="ischeckerror==0" style="color:#828282;font-size: 12px">{{msg}}</ion-label>
    </ion-row>
    <hr class="cls-hr" *ngIf="!_voucherService.hasVoucher && loadcarspricedone">
  <app-voucherslidecarcombo *ngIf="loadcarspricedone && statusRoom == 'AL'"></app-voucherslidecarcombo>

      <div *ngIf="ischeck||ischeckbtnpromo&& loadcarspricedone">
        <ion-row>
          <ion-col size="7" class="no-padding">
            <div>
              <h2 class="text-name" style="font-size: 18px;" position="stacked">{{adulsdisplay}} người lớn
                {{childrendisplay}} trẻ em</h2>
              <p class="text-tax-include" class="text-tax-include">Giá đã bao gồm thuế & phí</p>
            </div>
          </ion-col>
          <ion-col size="5" class="no-padding" (click)="showComboDetail()">
            <p class="total-price" style="text-align: right">
              {{Pricepointshow}}đ
              <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
            </p>
            <p *ngIf="Pricepointshow!=0" class="text-room-price-ota">
              {{PriceAvgPlusTAStr}}đ
              <!-- <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup> -->
            </p>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="!ischeck&&!ischeckbtnpromo">
        <ion-row>
          <ion-col size="7" style="padding: 0;">
            <div>
              <h2 class="text-name" style="font-size: 18px;" position="stacked">{{adulsdisplay}} người lớn
                {{childrendisplay}} trẻ em</h2>
              <p class="text-tax-include">Giá đã bao gồm thuế & phí</p>
            </div>
          </ion-col>
          <ion-col size="5" style="padding: 0;" (click)="showComboDetail()">
            <p class="total-price" style="text-align: right">
              {{PriceAvgPlusTAStr}}đ
              <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
            </p>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngIf="(point<=0||!point)&&PriceAvgPlusTAStr">
      <div class="div-apply-voucher">
        <div class="div-flex align-center" (click)="showdiscount()" *ngIf="!strPromoCode && statusRoom == 'AL'">
          <div class="div-icon"><img class="icon-point" src="./assets/ic_voucher/ticket_tealish.svg"/></div>
          <div class="div-text-center">
            <div class="width-100">Nhập mã giảm giá <span class="text-sub">(iVIVU Voucher, MGift..)</span></div>
          </div>
          <div class="div-button width-10"><img src="./assets/ic_ordersupport/next.svg"></div>
        </div>
        <div class="div-voucher-apply" *ngIf="strPromoCode && statusRoom == 'AL'" (click)="showdiscount()">
          <div class="width-250 div-overflow">
            <span class="text-normal">Ưu đãi (<span class="text-code" *ngIf="strPromoCode">{{strPromoCode}}</span><span class="text-normal">)</span> </span>
          </div>
          <div class="width-100 text-normal text-right p-r-5" *ngIf="totaldiscountpromo">{{gf.convertNumberToString(totaldiscountpromo)}}đ</div>
        </div>
        <ion-row> 
          <ion-label *ngIf="ischeckerror==1" style="color: rgb(229, 40, 34);font-size: 12px">{{msg}}</ion-label>
          <ion-label *ngIf="ischeckerror==0" style="color:#828282;font-size: 12px">{{msg}}</ion-label>
        </ion-row>
    </div>
    <div class="div-split-panel" *ngIf="!_voucherService.hasVoucher && loadcarspricedone"></div>
    <app-voucherslidecarcombo *ngIf="statusRoom == 'AL'"></app-voucherslidecarcombo>
      <div *ngIf="!ischeckbtnpromo && !strPromoCode">
        <ion-row>
          <ion-col size="7" style="padding: 0;">
            <div>
              <h2 class="text-name" style="font-size: 18px;" position="stacked">{{adulsdisplay}} người lớn
                {{childrendisplay}} trẻ em</h2>
              <p class="text-tax-include">Giá đã bao gồm thuế & phí</p>
            </div>
          </ion-col>
          <ion-col size="5" style="padding: 0;" (click)="showComboDetail()">
            <p class="total-price" style="text-align: right">
              {{PriceAvgPlusTAStr}}đ
              <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
            </p>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="ischeckbtnpromo || strPromoCode">
        <ion-row>
          <ion-col size="7" style="padding: 0;">
            <div>
              <h2 class="text-name" style="font-size: 18px;" position="stacked">{{adulsdisplay}} người lớn
                {{childrendisplay}} trẻ em</h2>
              <p class="text-tax-include">Giá đã bao gồm thuế & phí</p>
            </div>
          </ion-col>
          <ion-col size="5" style="padding: 0;" (click)="showComboDetail()">
            <p class="total-price" style="text-align: right">
              {{Pricepointshow}}đ
              <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup>
            </p>
            <p *ngIf="Pricepointshow!=0" class="text-room-price-ota">
              {{PriceAvgPlusTAStr}}đ
              <!-- <sup><img class="img-paymentbreakdown" src="../../assets/ic_hoteldetail/ic_info.svg" /></sup> -->
            </p>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="div-split-panel" *ngIf="!loadpricedone&&PriceAvgPlusTAStr"></div>
    <div *ngIf="PriceAvgPlusTAStr">
      <ion-row *ngIf="PriceAvgPlusTAStr && loadpricedone">
        <ion-col style="padding:5px 0">
          <label class="text-bold">*Hãy hoàn tất các bước đặt phòng để đảm bảo bạn không bỏ lỡ mức giá tuyệt vời này!</label>
        </ion-col>
      </ion-row>
    </div>
    <div class="row-suggest" *ngIf="!PriceAvgPlusTAStr && loadpricedone">
      <div ><span class="text-suggest color-red">Giai đoạn hết giá.</span> <span  (click)="changeDateInfo()" class="text-suggest color-blue text-underline">Quý khách vui lòng chọn ngày khác</span></div> 
     </div>
  </div>
</ion-content>
<ion-footer>
  <div *ngIf="PriceAvgPlusTAStr" class="div-footer" style="background-color: #ffffff; text-align: center">
    <button (click)="next()" ion-button round outline class="button button-footer">Xác nhận</button>
  </div>
  <div *ngIf="!PriceAvgPlusTAStr && loadpricedone" class="div-footer"
    style="background-color: #ffffff; text-align: center">
    <button (click)="sendRequestCombo()" ion-button round outline class="button button-footer">Gửi yêu cầu</button>
  </div>
</ion-footer>
