.text-copy{
    padding-left: 4px;
}
.text-booking{
    color: #e52822;
}
.d-flex{
    display: flex;
}
.d-img{
    width: 60%;
    margin-right: 10px;
    align-self: center;
}
.cls-text{
    font-size: 16px;
    letter-spacing: -0.56px;
}
.cls-textopen
{
    color: #26bed6;
    font-size: 16px;
    letter-spacing: -0.56px;
}
.mt6
{
    margin-top: 6px;
}
.div-split-panel{
    height: 6px;
    background: #f2f2f2;
    margin-top: 18px;
    margin-bottom: 13px;
}
.d-flex-later{
    display: flex;
    margin-top: 20px;
}
.mt20
{
    margin-top: 20px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .text-bold{
    font-size: 16px;
    line-height: 1.5;
    color: #222222;
    font-weight: 600;
    letter-spacing: -0.28px;
}

.text-payment-info{
    white-space: normal !important;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 28px;
    margin: 0;
}
.div-text-payment{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    font-weight: 300;
    padding-top: 4px;
}
.div-quick-back {
    font-size: 32px;
    position: absolute;
    right: 16px;
    color: #bdbdbd;
    letter-spacing: -3.5px;
    top: -5px;
}
.text-title {
    font-size: 18px;
    letter-spacing: -0.4px;
    font-weight: 600;
}
.mt12{
    margin-top: 12px;
}

.button2
    {
        background: #fff;
        color: #ff9500;
        border: solid 1px #ff9500;
        width: 90%;
        font-size: 17px !important;
        margin: 8px 16px !important;
        padding: 0;
    }
  
    .div-button-payment-done{
        background-color: #ffffff; 
        text-align: center;

        display: flex;
        flex-direction: column;

        .m-top-0{
            margin-top: 0 !important;
        }
    }