.checkbox-md-secondary .checkbox-checked {
    border-color: #26bed6;
    background-color: #26bed6;
}
.button2
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 90%;
    font-size: 17px !important;
    font-weight: 500 !important;

}
.button1
{
    color: #ff9500;
    border-color: #ff9500;
    width: 100%;
    font-size: 12px;
}
.div-btn
{
    background-color: #ffffff; text-align: center;margin-top: 20px
}
.toolbar-title-md {
    text-align: center;
    margin-right: 70px;
  }  
  .row-payment-info{
    margin-left: -10px;
    margin-top: -30px
  }
.text-payment-info{
    white-space: normal !important;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 28px;
    margin: 0;
}
.text-info{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.4px;
    margin: 0;
    margin-bottom: 16px;
}
.text-link{
    text-decoration: underline;
    margin-bottom: 23px;
}
.text-bold{
    font-weight: 600;
}
.no-padding{
    padding: 0;
}
.grid-row-1{
    margin: -5px;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 5px;
}
.grid-row-2{
    margin: -5px;
    padding: 0;
}
.m-bottom-23{
    margin-bottom: 23px;
}
.text-copy{
    padding-left: 4px;
}
.img
{
    width: 6px;
    margin-left: 5px;
}
.imgbank{
    max-width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}
.div-quick-back {
    font-size: 32px;
    position: absolute;
    right: 16px;
    color: #bdbdbd;
    letter-spacing: -3.5px;
    top: -5px;
}
.text-title {
    font-size: 18px;
    letter-spacing: -0.4px;
    font-weight: 600;
}