
    .text-title1
    {
        font-size: 12px;
        color: #4f4f4f;
    }
    .range-md.range-has-pin {
         padding-top: 0px; 
    }
    .p-top{
        padding-top: 8px;
    }
    .text-range
    {
        font-size: 12px;
        color: #828282
    }
    .col {
         padding: 0px; 
        position: relative;
        width: 100%;
        margin: 0;
        min-height: 1px;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .button
    {
        border: none;
        color: #ffffff;
        background-color: #F79221;
        width: 45%;
        height: 48px;
        text-transform: none;
        font-size: 17px;
    }
    .text-title
    {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding: 14px 0;
    }
    .cls-title{
        font-size: 18px;
        font-weight: semi-bold;
    }
    .item-md-light, .item-divider-md-light{
        background-color: #ffffff;
        border: none;
    }
    .cls-col-icon-customs{
        position: absolute !important;
        top:13px !important;
        right: 0px !important;
        width: 10% !important;
    }
    .cls-col-item-header{
        width: 90%;
    }
    .item-select{
        padding-left: 8px !important;
    }
    .item-order.select.select-md{
        padding-left: 0px;
    }
    .item-order{
        font-size: 14px;
        max-width: 100%;
        width: 100%;
    }
    .item-text-header{
        color: #26bed6;
    }
    .col-meal-1{
        width: 40% !important;
        border: solid 1px #cdcdcd !important;
        flex: 2;
    }
    .col-meal-2{
        width: 40% !important;
        border: solid 1px #cdcdcd !important;
        flex: 2;
        margin-left: 6px;
    }
    .col-meal-3{
        width: 40% !important;
        border: solid 1px #cdcdcd !important;
        flex: 1;
        margin-left: 6px;
    }
    .meal-check{
        background-color: #26bed6;
        color: #ffffff;
        border: solid 1px #ffffff !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .meal-uncheck{
        background-color: #ffffff;
        color: #828282;
        border: #828282;
        border: solid 1px #cdcdcd !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    
    /*style item local*/
    .cls-col-border{
        border: solid 1px #cdcdcd !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
        margin-right: 6px;
        margin-bottom: 6px;
        color: #828282;
        border: #828282;
    }
    .item-local{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-style{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-hotel-tyle{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-facility{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .item-trademark{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .local-check{
        background-color: #26bed6;
        color: #ffffff;
        border: solid 1px #ffffff !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .local-uncheck{
        background-color: #ffffff;
        color: #828282;
        border: #828282;
        border: solid 1px #cdcdcd !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .style-check{
        background-color: #26bed6;
        color: #ffffff;
        border: solid 1px #ffffff !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .style-uncheck{
        background-color: #ffffff;
        color: #828282;
        border: #828282;
        border: solid 1px #cdcdcd !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .facility-check{
        background-color: #26bed6;
        color: #ffffff;
        border: solid 1px #ffffff !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .facility-uncheck{
        background-color: #ffffff;
        color: #828282;
        border: #828282;
        border: solid 1px #cdcdcd !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .trademark-check{
        background-color: #26bed6;
        color: #ffffff;
        border: solid 1px #ffffff !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .trademark-uncheck{
        background-color: #ffffff;
        color: #828282;
        border: #828282;
        border: solid 1px #cdcdcd !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .hoteltype-check{
        background-color: #26bed6;
        color: #ffffff;
        border: solid 1px #ffffff !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    .hoteltype-uncheck{
        background-color: #ffffff;
        color: #828282;
        border: #828282;
        border: solid 1px #cdcdcd !important;
        padding: 10px 8px;
        text-align: center;
        font-size: 13px;
        border-radius: 5px;
    }
    /******************/
    .select-md .select-placeholder {
        color: #26bed6;
    }
    .range-md-xanh .range-bar-active,
    .range-md-xanh .range-knob,
    .range-md-xanh .range-pin,
    .range-md-xanh .range-pin::before {
        background: #26bed6 !important;
  }
  :host{
    --ion-color-primary:#26bed6;
    --bar-background-active: #26bed6;
    --pin-background: #26bed6;
    
  }
   ion-label {
    padding: 18px 22px 18px 0px;
    min-width: 100px;
  }
  .button.click
  {
      background: #F79221;
      border-color: #F79221;
      color: #ffffff;
      width: 45%;
      height: 48px;

  }
  .button.none
  {
      color: #F79221;
      width: 45%;
      height: 48px;
      border: 1px solid;
      background-color: white;

  }
    .cls-padding-top{
        padding-top: 22px;
    }