
    .btn-close{
        position: absolute;
        right: 0px;
        top: -36px;
        width: 48px;
        height: 48px;
        background-color: #fff;
        font-size: 2em;
        color: #828282;
    }
    .button
    {
        background: #F79221;
        color: #ffffff;
        border-color: #F79221;
        width: 90%;
        font-size: 20px;
        height: 48px;
    } 
    .img1 {
        object-fit: cover;
        width: 100%;
        height: 350px;
    }
    ion-content{
        opacity: 0.91;
        --ion-background-color:#000;
        --overflow: hidden;
    }
    ion-footer{
      opacity: 0.91;
      --ion-background-color:#000;
    } 
    ion-header{
        opacity: 0.91;
        --ion-background-color:#000;
    }
    swiper-slide{
        justify-content: normal;
    }
    img {
        left: 0;
        bottom: 0;
        object-fit: contain;
        max-width: initial;
    }
    .cls-col {
      text-align: center;
      height: 48px;

      .align-center {
        align-self: center;
      }
    }
    .text-left {
      text-align: left;
    }
    .text-review {
      font-size:12px;
      color: whitesmoke;
    }
    .div-goback {
      position: absolute;
      height: 48px;
      width: 48px;
      align-self: center;

      .img-goback {
        height: auto; 
        padding: 14px;
        margin-left:-14px;
      }
    }
    .div-align-center {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    .div-img-caption-grad{
      position: absolute;
      color: #ffffff;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      z-index: 10;
      bottom: 18px;
      opacity: 0.5;
      height: 26px;
      width: 80%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      margin: auto 10%;
      padding: 2px 0px;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .div-img-caption{
      position: absolute;
      text-align: center;
      bottom: 16px;
      height: 24px;
      color: #ffffff;
      width: 80%;
      font-size: 14px;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 11;
      margin: auto 10%;
    }
    .center
    {
      @media (min-width:320px) and (max-width: 360px) {
        padding: 50px 0 0 0;

      }
      @media (min-width:360px) and (max-width: 375px) {
        padding: 50px 0 0 0;
      }
      @media (min-width: 375px) and (max-width: 384px) {
        padding: 75px 0 0 0;

      }
      @media (min-width: 384px) and (max-width: 412px) {
        padding: 80px 0 0 0;
      }
      @media (min-width: 412px) and (max-width: 480px) {
        padding: 50px 0 0 0;

      }
      @media (min-width: 480px) and (max-width: 600px) {
        padding: 50px 0 0 0;

      }
      @media (min-width: 600px) and (max-width: 720px) {
        padding: 50px 0 0 0;

      }
      @media (min-width: 720px) and (max-width: 768px) {
        padding: 50px 0 0 0;

      }
      @media (min-width: 768px) and (max-width: 800px) {
        padding: 50px 0 0 0;

      }
      @media (min-width: 800px) {
        padding: 50px 0 0 0;

      }

      .img-slide {
        height: 350px;
        width: 100%;
        object-fit: cover;
      }
    }
    .slide
    {
      text-align: center;
      .lbl-slide{
        color: whitesmoke;
        padding: 40px;
        font-size: 22px;
      }
      @media (min-width:320px) and (max-width: 360px) {
        margin-top: 20px;
      }
      @media (min-width:360px) and (max-width: 375px) {
        margin-top: 40px;
      }
      @media (min-width: 375px) and (max-width: 384px) {
        margin-top: 60px;

      }
      @media (min-width: 384px) and (max-width: 412px) {
        margin-top: 60px;
      }
      @media (min-width: 412px) and (max-width: 480px) {
        margin-top: 70px;

      }
      @media (min-width: 480px) and (max-width: 600px) {
        margin-top: 80px;

      }
      @media (min-width: 600px) and (max-width: 720px) {
        margin-top: 90px;

      }
      @media (min-width: 720px) and (max-width: 768px) {
        margin-top: 100px;

      }
      @media (min-width: 768px) and (max-width: 800px) {
        margin-top: 110px;

      }
      @media (min-width: 800px) {
        margin-top: 120px;

      }
    }

 .div-loading {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  background-color: #fff;

  .cls-skl {
    width: 100%;
    height: 350px;
    margin: 0 auto;
  }
 }
 .p-0-16 {
  padding: 0 16px;
 }
 .div-captionImg {
  margin: 16px 32px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  height: 36px;
}
.border-bottom {
  border-bottom: solid 0.5px #f2f2f2;
}
.div-hotel-name {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 11px;
}
.div-tour-name {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cls-margin-top-ios {
  margin-top: calc(env(safe-area-inset-top) + 16px);
}