.button2
{
    border-color: #F79221;
    background-color: #F79221;
    color: #ffffff;
    width: 90%;
    height: 48px;
}
.btn-disabled{
    background: #bdbdbd;
    color: #ffffff;
    width: 90%;
    height: 48px;
  }
  .div-DK{
    display: flex;
  }
  .checkbox-DK{
    width: 20px;
    height: 18px;
    margin-top: 4px;
    opacity: 0.3;
  }
  .checkbox-DK-active{
    width: 20px;
    height: 18px;
    margin-top: 4px;
  }
  .text-DK{
    font-size: 16px;
    line-height: 1.4;
    color: #333333;
    margin-left: 10px;
  }
  .text-DK-1{
    font-size: 16px;
    line-height: 1.4;
    color: #333333;
  }
  .m-top-10{
    margin-top: 10px;
  }
  .width-5{
    width: 5%;
  }