<ion-header class="userzalo-header">
    <ion-row>
      <ion-col class="header-text">
          <ion-title class="text-title">
              Zalo iVIVU OA
          </ion-title>
          <div class="div-close">
            <img class="img-header-close" src="./assets/imgs/ios-arrow-round-back.svg" (click)="goback()">
          </div>
          
      </ion-col>
    </ion-row>
</ion-header>
<ion-content>
    <div class="userzalo-content p-all-16">
        <a href="https://zalo.me/3888313238733373810" class="div-flex align-center">
            <div class="div-icon-left">
                <img class="icon-left" src="./assets/ic_flight/logo_zalo.webp">
            </div>
            <div class="div-width-100 d-flex h-22">
                <div class="text-support div-width-100">iVIVU Tickets</div>
                <div class="text-normal div-width-100 text-right  v-align-center m-r-4">
                    Hỗ trợ đặt vé
                </div>
            </div>
           

            <div class="div-icon-arrow">
                <img class="icon-arrow" src="./assets/ic_home/next.svg">
            </div>
        </a>

        <div class="div-line"></div>
        <a href="https://zalo.me/3554656071967537484"  class="div-flex align-center">
            <div class="div-icon-left">
                <img class="icon-left" src="./assets/ic_flight/logo_zalo.webp">
            </div>
            <div class="div-width-100 d-flex h-22">
                <div class="text-support div-width-140">iVIVU Thổ địa du lịch</div>
                <div class="text-normal div-width-100 text-right v-align-center m-r-4">
                    Hỗ trợ khách sạn
                </div>
            </div>
           

            <div class="div-icon-arrow">
                <img class="icon-arrow" src="./assets/ic_home/next.svg">
            </div>
        </a>

        <div class="div-line"></div>
        <a href="https://zalo.me/256406638749412968" class="div-flex align-center">
            <div class="div-icon-left">
                <img class="icon-left" src="./assets/ic_flight/logo_zalo.webp">
            </div>
            <div class="div-width-100 d-flex h-22">
                <div class="text-support div-width-100">iVIVU Tour</div>
                <div class="text-normal div-width-100 text-right v-align-center m-r-4">
                    Hỗ trợ tour
                </div>
            </div>
           

            <div class="div-icon-arrow">
                <img class="icon-arrow" src="./assets/ic_home/next.svg">
            </div>
        </a>

        <div class="div-line"></div>
        <a href="https://zalo.me/1504681132111801106" class="div-flex align-center">
            <div class="div-icon-left">
                <img class="icon-left" src="./assets/ic_flight/logo_zalo.webp">
            </div>
            <div class="div-width-100 d-flex h-22">
                <div class="text-support div-width-100">iVIVU Hồ Chí Minh</div>
                <div class="text-normal div-width-100 text-right v-align-center m-r-4">
                    Văn phòng HCM
                </div>
            </div>
           

            <div class="div-icon-arrow">
                <img class="icon-arrow" src="./assets/ic_home/next.svg">
            </div>
        </a>

        <div class="div-line"></div>
        <a href="https://zalo.me/690776746943141645" class="div-flex align-center">
            <div class="div-icon-left">
                <img class="icon-left" src="./assets/ic_flight/logo_zalo.webp">
            </div>
            <div class="div-width-100 d-flex h-22">
                <div class="text-support div-width-100">iVIVU Hà Nội</div>
                <div class="text-normal div-width-100 text-right v-align-center m-r-4">
                    Văn phòng HN
                </div>
            </div>
           

            <div class="div-icon-arrow">
                <img class="icon-arrow" src="./assets/ic_home/next.svg">
            </div>
        </a>

        <div class="div-line"></div>
        <a href="https://zalo.me/952197464598067259" class="div-flex align-center">
            <div class="div-icon-left">
                <img class="icon-left" src="./assets/ic_flight/logo_zalo.webp">
            </div>
            <div class="div-width-100 d-flex h-22">
                <div class="text-support div-width-100">iVIVU Team X</div>
                <div class="text-normal div-width-140 text-right v-align-center m-r-4">
                    Dịch vụ teambuilding
                </div>
            </div>
           

            <div class="div-icon-arrow">
                <img class="icon-arrow" src="./assets/ic_home/next.svg">
            </div>
        </a>
    </div>
</ion-content>