.text-title{
    font-size: 18px;
    font-weight: bold
}
.textv{
    font-size: 14px;
    color: #333333
}
.btn-save-phone{
    border-color: #f79221;
    color: #ffffff;
    background: #f79221;
    width: 98%;
    height: 48px;
    text-transform: none;
    font-size: 17px;
    font-weight: normal;
    margin-left: 4px;
}

.cls-invalid {
    background-color: #828282 !important;
    opacity: 0.5;
}