
    .checkbox-md-secondary .checkbox-checked {
        border-color: #26bed6;
        background-color: #26bed6;
    }
    .button2
    {
        background: #ff9500;
        color: #ffffff;
        border-color: #ff9500;
        width: 90%;
    }
    .button1
    {
        color: #ff9500;
        border-color: #ff9500;
        width: 100%;
        font-size: 12px;
    }
    .div-btn
    {
        background-color: #ffffff; text-align: center;margin-top: 20px
    }
    .toolbar-title-md {
        text-align: center;
        margin-right: 70px;
    }
    .no-padding{
        padding: 0;
    } 
    .img
    {
        width: 8px;
        margin-left: 10px;
    }

