.button2
{
    background: #ff9500;
    color: #ffffff;
    border-color: #ff9500;
    width: 90%;
    margin: 8px 0 !important;
}
.img
{
    width: 8px;
    margin-left: 10px;
}
.div-desc{
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #000000;
}
.div-sub-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.51px;
    color: #000000;
}
.p-right-4{
    padding-right: 4px;
}
.m-bottom-6{
    margin-bottom: 6px;
}
.margin-left-25{
    margin-left: 25px;
}
.text-desc{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    color: #000000;
}
.text-bold{
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: -0.28px !important;
}
.d-flex{
    display: flex;
}
.div-width-100{
    width: 100%;
}
.div-width-50{
    width: 50%;
}
.text-note{
    font-size:12px;
    color:#828282;
    font-style: italic;
    letter-spacing: -0.34px;
  }