

.flight-payment-error-content{
    padding: 16px;

    .text-center{
        text-align: center;

        .img-payment-err{
            margin: 32px 0 24px 0;
        }

        .text-title{
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #828282;
        }

        .text-err{
            font-size: 14px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #828282;

            margin: 12px 0 16px 0;
        }

        .div-button{

            .btnhome{
                border-color: #F79221;
                background-color: #F79221;
                color: #ffffff;
                width: 90%;
                height: 48px;
                font-size: 17px !important;
            }
        }
    }
}