.row-header{
  height: 56px;
  padding-top:11px;
}
.m-top-0{
  margin-top: 0 !important;
}
    .text-title1
    {
      font-weight: bold;
      font-size: 18px;
    }
    .range-md.range-has-pin {
         padding-top: 0px; 
    }
   
    .text-range
    {
        font-size: 12px;
        color: #828282
    }
    .col {
         padding: 0px; 
        position: relative;
        width: 100%;
        margin: 0;
        min-height: 1px;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .button
    {
        border-color: #F79221;
        background-color: #F79221;
        color: #ffffff;
        width: 45%;
        height: 48px;

    }
    .text-title
    {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      margin-left: 36px;
    }
    .range-md-xanh .range-bar-active,
    .range-md-xanh .range-knob,
    .range-md-xanh .range-pin,
    .range-md-xanh .range-pin::before {
        background: #26bed6 !important;
  }
  .ion-item{
    --inner-border-width: 0 0 0px 0;
      --padding-start: 0px;
  }
