.button2
{
    background: #fff;
    color: #ff9500;
    border-color: #ff9500;
    border: solid 1px #ff9500;
    width: 96%;
    font-size: 17px !important;
}
.button1
{
    color: #26bed6;
    border-color: #ff9500;
    width: 100%;
    font-size: 12px;
}
.div-btn
{
    background-color: #ffffff; text-align: center;margin-top: 20px
}
.button4
{
    background: #ffffff;
    color: #26bed6;
    border-color: #26bed6;
    margin-top: -5px;
    font-size: 12px;
  
}
.image-card1{
    display: initial !important;
    width: 4%
}
.toolbar-title-md {
    margin-right: 0px;
}

//////////////
::ng-deep {
    .cls-alert-showmore {
        align-items: center !important;
        
        .done1-combo-css .sc-ion-alert-ios-h {
            --background: var(--ion-overlay-background-color,var(--ion-color-step-150,#f9f9f9)) !important;
            --max-width: 270px !important;
        
            font-size: 14px !important;
            --min-width: 250px !important;
            --width: auto !important;
            --min-height: auto !important;
            --height: auto !important;
            --max-height: 90% !important;
            -webkit-font-smoothing: antialiased !important;
            left: 0 !important;
            right: 0 !important;
            top: 0 !important;
            bottom: 0 !important;
            display: flex !important;
            position: fixed !important;
            align-items: center !important;
            justify-content: center !important;
            font-family: var(--ion-font-family,inherit) !important;
            touch-action: none !important;
            user-select: none !important;
        }
        
        .done1-combo-css .alert-head.sc-ion-alert-ios{
        padding-top: 12px !important;
        padding-bottom: 7px !important;
        text-align: center !important;
        display: block !important;
        }
        .done1-combo-css .alert-wrapper.sc-ion-alert-ios{
        border-radius: 13px !important;
        box-shadow: none !important;
        overflow: hidden !important;
        display: flex !important;
        flex-direction: column !important;
        width: var(--width) !important;
        min-width: var(--min-width) !important;
        max-width: var(--max-width) !important;
        height: var(--height) !important;
        min-height: var(--min-height) !important;
        max-height: var(--max-height) !important;
        background: var(--background) !important;
        }
        .done1-combo-css .alert-button-inner.sc-ion-alert-ios {
        flex-flow: row nowrap !important;
        flex-shrink: 0 !important;
        align-items: center !important;
        justify-content: center !important;
        height: 100% !important;
        }
        .done1-combo-css .alert-button.sc-ion-alert-ios{
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        border-radius: 0 !important;
        flex: 1 1 auto !important;
        min-width: 50% !important;
        height: 44px !important;
        border-top: .55px solid rgba(var(--ion-text-color-rgb,0,0,0),.2) !important;
        background-color: transparent !important;
        color: var(--ion-color-primary,#3880ff) !important;
        font-size: 15px !important;
        overflow: hidden !important;
        width: auto;
        }
        .done1-combo-css .alert-button-group.sc-ion-alert-ios button:first-child{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        }
        .done1-combo-css .alert-button.sc-ion-alert-ios {
            border-color: none;
            background: none;
            text-transform: none;
            font-size: 15px !important;
        }
        
        .done1-combo-css .alert-button.sc-ion-alert-md{
            text-transform: none;
            font-size: 14px;
            padding: 10px 0;
        }
        }
        .done1-combo-css .alert-button-group.sc-ion-alert-md{
        flex-wrap: nowrap;
        }
        .done1-combo-css .alert-button-inner.sc-ion-alert-md {
        justify-content: center;
        }
        .done1-combo-css .alert-button.sc-ion-alert-md {
        padding-right: 0;
        width: 100%;
        text-transform: none;
        }
}
.text{
    font-size: 14px;
}
.img-trip-empty
{
    text-align: center;
    margin-top: 42px;
    margin-bottom: 25px;
}