<ion-header class="flightpage-header">
    <ion-row>
      <ion-col class="col-header">
        <div class="d-flex">
          <div class="div-goback" (click)="close()">
            <img class="header-img-back" src="./assets/imgs/ios-arrow-round-back.svg" >
          </div>
          <div class="div-header-title">
            <div class="div-title">Lọc</div>
          </div>
  
        </div>
      </ion-col>
    </ion-row>
</ion-header>

<ion-content class="flight-search-filter-content">
  <div class="p-16">
    <!-- <div class="text-title m-top-8">Hạng vé</div>
    <ion-radio-group (ionChange)="checkItemClass($event,-1)" [(ngModel)]="classSelected">
      <div class="d-flex m-top-16">
        <div class="div-check-class">
          <ion-radio value="-1" 
          (ionSelect)="checkItemClass($event,-1)"></ion-radio>
        </div>
        <div>
          <div class="text-normal " >Nhiều hạng</div>
          <div class="text-normal v-align-center-custom div-min-price">
            <div>Tất cả các hạng vé của máy bay</div>
          </div>
        </div>
        
      </div>

      <div class="d-flex m-top-12">
        <div class="div-check-class">
          <ion-radio value="1" 
          (ionSelect)="checkItemClass($event,1)"></ion-radio>
        </div>
        <div>
          <div class="text-normal " >Phổ thông (Economy Class)</div>
          <div class="text-normal v-align-center-custom div-min-price">
            <div>Loại vé máy bay thông thường nhất</div>
          </div>
        </div>
        
      </div>

      <div class="d-flex m-top-12">
        <div class="div-check-class">
          <ion-radio value="2" 
          (ionSelect)="checkItemClass($event,2)"></ion-radio>
        </div>
        <div class="div-width-100">
          <div class="text-normal " >Phổ thông đặc biệt (Premium Economy)</div>
          <div class="text-normal v-align-center-custom div-min-price">
            <div class="d-flex">
              <div class="div-text-item-class">Hạng ghế trung bình nằm giữa hạng ghế thương gia và hạng ghế phổ thông</div>
              <div class="div-icon-arrow" (click)="expandItemClass($event,2)">
                <img *ngIf="!divItemClass2Selected" class="img-expand " src="./assets/ic_flight_international/expand_down.svg" >
                <img *ngIf="divItemClass2Selected" class="img-expand " src="./assets/ic_flight_international/expand_up.svg" >
              </div>
            </div>
            
          </div>
        </div>
        
      </div>

      <div class="d-flex m-top-12">
        <div class="div-check-class">
          <ion-radio value="3" 
          (ionSelect)="checkItemClass($event,3)"></ion-radio>
        </div>
        <div class="div-width-100">
          <div class="text-normal " >Hạng ghế thương gia (Business Class)</div>
          <div class="text-normal v-align-center-custom div-min-price">
            <div class="d-flex">
              <div class="div-text-item-class">Quầy check-in riêng, phòng chờ đẳng cấp. Ghế ngồi khoang riêng và nhiều tiện nghi đặc biệt trên máy bay</div>
              <div class="div-icon-arrow" (click)="expandItemClass($event,3)">
                <img *ngIf="!divItemClass3Selected" class="img-expand " src="./assets/ic_flight_international/expand_down.svg" >
                <img *ngIf="divItemClass3Selected" class="img-expand " src="./assets/ic_flight_international/expand_up.svg" >
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="d-flex m-top-12">
        <div class="div-check-class">
          <ion-radio value="4" 
          (ionSelect)="checkItemClass($event,4)"></ion-radio>
        </div>
        <div class="div-width-100">
          <div class="text-normal " >Hạng nhất (First Class)</div>
          <div class="text-normal v-align-center-custom div-min-price">
            <div class="d-flex">
              <div class="div-text-item-class">Hạng ghế phục vụ cao cấp nhất, cao hơn hạng vé thương gia, không gian riêng tư trên máy bay, ghế nằm thoải mái, đầu bếp 5 sao phục vụ bữa ăn, hệ thống giải trí, minibar...</div>
              <div class="div-icon-arrow" (click)="expandItemClass($event,4)">
                <img *ngIf="!divItemClass4Selected" class="img-expand " src="./assets/ic_flight_international/expand_down.svg" >
                <img *ngIf="divItemClass4Selected" class="img-expand " src="./assets/ic_flight_international/expand_up.svg" >
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="d-flex m-top-12">
        <div class="div-check-class">
          <ion-radio value="5" 
          (ionSelect)="checkItemClass($event,5)"></ion-radio>
        </div>
        <div class="div-width-100">
          <div class="text-normal " >Hạng nhất đặc biệt (Premium First)</div>
          <div class="text-normal v-align-center-custom div-min-price ">
            <div class="d-flex">
              <div class="div-text-item-class">Hạng nhất cao cấp giới hạn đặc biệt không phải chuyến bay nào cũng có, tùy thuộc vào lịch trình, sân bay, khu vực bay...</div>
              <div class="div-icon-arrow" (click)="expandItemClass($event,5)">
                <img *ngIf="!divItemClass5Selected" class="img-expand " src="./assets/ic_flight_international/expand_down.svg" >
                <img *ngIf="divItemClass5Selected" class="img-expand " src="./assets/ic_flight_international/expand_up.svg" >
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </ion-radio-group>

    <div class="div-split-panel"></div> -->

    <div class="text-title">Điểm dừng</div>
    <div class="div-wrap-stop">
      <ion-radio-group (ionChange)="checkItem(1, $event, -1)" [(ngModel)]="stopSelected" mode="md">
        <div class="d-flex m-top-20">
          <div class="div-check-class">
            <ion-radio value="1" mode="md">
            </ion-radio>
          </div>
          <div class="div-width-100">
            <div class="text-normal " >Chỉ bay thẳng <span *ngIf="count0Stops">({{count0Stops}})</span></div>
          </div>
        </div>

        <div class="d-flex m-top-20">
          <div class="div-check-class">
            <ion-radio value="2" mode="md">
            </ion-radio>
          </div>
          <div class="div-width-100">
            <div class="text-normal " >Tối đa 1 điểm dừng <span *ngIf="count1Stops">({{count1Stops}})</span></div>
          </div>
        </div>

        <div class="d-flex m-top-20">
          <div class="div-check-class">
            <ion-radio value="3" mode="md">
            </ion-radio>
          </div>
          <div class="div-width-100">
            <div class="text-normal " >Tối đa 2 điểm dừng <span *ngIf="count2Stops">({{count2Stops}})</span></div>
          </div>
        </div>
      </ion-radio-group>
      <!-- <div [ngClass]="_flightService.objectFilterInternational && _flightService.objectFilterInternational.stopSelected && _flightService.objectFilterInternational.stopSelected ==1 ? 'd-flex m-top-8 item-stop cls-active-text':'d-flex m-top-8 item-stop' ">
        <div class="text-stop-normal v-align-center" (click)="checkItem(1, $event, 1)">Chỉ bay thẳng
        </div>
      </div>

      <div [ngClass]="_flightService.objectFilterInternational && _flightService.objectFilterInternational.stopSelected && _flightService.objectFilterInternational.stopSelected ==2 ? 'd-flex m-top-8 item-stop cls-active-text':'d-flex m-top-8 item-stop' ">
         <div class="text-stop-normal v-align-center"  (click)="checkItem(1, $event, 2)">Tối đa 1 điểm dừng
        </div>
      </div>

      <div [ngClass]="_flightService.objectFilterInternational && _flightService.objectFilterInternational.stopSelected && _flightService.objectFilterInternational.stopSelected ==3 ? 'd-flex m-top-8 item-stop cls-active-text':'d-flex m-top-8 item-stop' ">
        <div class="text-stop-normal v-align-center"  (click)="checkItem(1, $event, 3)">Số điểm dừng bất kỳ
        </div>
      </div> -->
    </div>
    
    <div class="div-split-panel"></div>

    <div class="text-title ">Hãng hàng không</div>
    <div class="d-flex m-top-12">
      <div class="div-check">
        <ion-checkbox id="chkAll" color="primary" (ionChange)="checkAll($event)"></ion-checkbox>
      </div>
      <div class="text-normal v-align-center">Chọn tất cả</div>
    </div>
    <div *ngFor="let itemAirline of listAirlines">
      <div class="d-flex m-top-12" >
        <div class="div-check">
          <ion-checkbox color="primary" class="chkAirline" id="{{itemAirline.namefilter}}" (ionChange)="checkItem(2, itemAirline, $event)"></ion-checkbox>
        </div>
        <div class="d-flex text-normal div-width-100 div-align-center">
          <div class="div-width-300">{{itemAirline.name}}</div>
          <div *ngIf="itemAirline.minPrice" class="div-min-price text-right div-width-145">{{gf.convertNumberToString(itemAirline.minPrice)}} đ</div>
        </div>
      </div>
      
    </div>
    
    <div class="div-split-panel"></div>
    <div class="text-title ">Thời gian quá cảnh</div>
    <div class="div-fitler-price d-flex m-bottom-16">
      <div class="div-left text-price">{{minoverlaydisplay}} - {{maxoverlaydisplay}}</div>
    </div>
    <div><ion-range class="flight-filter-stops" step=1 [pin]="true" [(ngModel)]="pinoverlayvalue" [value]="pinoverlayvalue" (ionChange)="changeoverlay($event)" [min]="minoverlayvalue" [max]="maxoverlayvalue" dualKnobs="false"  ></ion-range></div>

    <div class="text-title ">Giá vé</div>
    <div class="div-fitler-price d-flex m-bottom-16">
      <div class="div-left text-price">{{minpricedisplay}} - {{maxpricedisplay}}</div>
    </div>
    <div>
      <ion-range class="flight-filter-range" step=1 [pin]="true" [(ngModel)]="pinvalue" [value]="pinvalue" (ionChange)="changeprice($event)" [min]="minvalue" [max]="maxvalue" dualKnobs="false" ></ion-range>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col style="padding:0">
      <div class="div-flightfilter-footer">
        <div class="div-button-flex">
          <button  (click)="clearFilter()" ion-button round outline class="button button-clear">Xóa lọc</button>
          <button (click)="filter()" ion-button round outline class="button button-filter">Lọc</button>
        </div>
      </div>
    </ion-col>
  </ion-row>

</ion-footer>