.flightpage-header .m-top-5{
    margin-top: 5px !important;
    .div-close {
        left: -1px !important;
    }
}
ion-footer {
    background-color: #ffffff;
}

// ion-radio {
//     width: 24px;
//     height: 24px;
//    // border: solid 2.5px rgba(var(--ion-text-color-rgb,0,0,0),0.51);
//     //--color-checked: #fff;
//     border-radius: 4px;
  
//   }

//   .radio-checked {
//     background: var(--ion-color-primary);
//     border: solid 2.5px var(--ion-color-primary);
//   }
  
//   ion-radio::part(container) {
//     border-radius: 4px;
//     border: 2px solid #828282;
//   }
  
//   ion-radio::part(mark) {
//     background: none;
//     transition: none;
//     transform: none;
//     border-radius: 0;
//   }
  
//   ion-radio.radio-checked::part(container) {
//     background: var(--ion-color-primary);
//     border-color: transparent;
//   }
  
//   ion-radio.radio-checked::part(mark) {
//     width: 6px;
//     height: 10px;
  
//     border-width: 0px 2px 2px 0px;
//     border-style: solid;
//     border-color: #fff;
  
//     transform: rotate(45deg);
//   }

  ion-checkbox {
    --size: 26px;
    --background-checked: var(--ion-color-primary);
  }
  
  ion-checkbox::part(container) {
    border-radius: 4px;
    border: 2px solid #828282;
    padding: 5px;
  }
.flight-search-filter-content{
    .p-16{
        padding: 16px;
        padding-bottom: 100px;
    }
    
    .d-flex{
        display: flex;
    }

    .m-bottom-8{
        margin-bottom: 8px;
    }
    .m-top-21 {
        margin-top: 21px;
    }
    .m-top-12 {
        margin-top: 12px;
    }
    .v-align-center {
        display: flex;
        //flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ion-range{
        padding: 0; height: 24px;
        --bar-background: #ecf0f5 !important;
        --ion-color-primary: #26bed6;
        --knob-size: 28px;
        --knob-background: #26bed6;
        --bar-height: 10px;
        --bar-border-radius: 6px;
        margin-right: 12px;
    }
    .text-title{
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    .text-normal {
        font-size: 16px;
        text-align: left;
        color: #3f3b3b;
    }

    .div-check {
        width: 36px;
        margin-right: 16px;   

        // ion-checkbox {
        //     zoom:1.5;
        // }
    }
    .div-fitler-price{
        
        .text-price {
            font-size: 16px;
            text-align: left;
            color: #828282;
            margin-top: 6px;
            margin-bottom: 12px;
        }
        .div-left, .div-right{
            width: 100%;
        }

        .div-right{
            text-align: right;
        }
    }

    .cls-disabled-text {
        opacity: 0.5;
    }
    .div-min-price {
        font-size: 14px;
        color: #828282;
    }

    .div-split-panel {
        margin: 24px -16px;
        height: 8px;
        background-color: #f2f2f2;
    }

    .div-wrap-stop {
        display: flex;
        flex-wrap: wrap;
    }
    .cls-active-text {
        border: solid 1px #26bed6 !important;
        background-color: #26bed6 !important;
        color: #ffffff !important;
        border-radius: 4px;
    }
    .item-stop {
        border-radius: 4px;
        border: solid 1px #b2b3bd;
        background-color: #fff;
        padding: 15px 16px;
        margin-right: 12px;
        color: #3f3b3b;
    }
    .text-stop-normal {
        font-size: 14px;
        text-align: left;
        color: inherit;
    }
    .div-check-class {
        width: 24px;
        margin-right: 8px;   
    }
    .div-align-center {
        align-items: center;
    }
    .div-width-100 {
        width: 100%;
    }
    .div-width-300 {
        width: 300%;
    }
    .div-width-145 {
        width: 145%;
    }
    .text-right {
        text-align: right;
    }

    .div-text-item-class {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 80%;
    }
    .div-icon-arrow {
        width: 10%;
        text-align: right;
    }
    .m-width-90 {
        max-width: 89%;
        
        @media (min-width: 350px) and (max-width: 411px) {
            max-width: 89%;
        }
        @media (min-width: 412px) and (max-width: 440px) {
            max-width: 88.2%;
        }
    }
    .m-top-20 {
        margin-top: 20px;
        align-items: center;
      }
}

.div-flightfilter-footer{
    background-color: #ffffff; text-align: center; display: flex;
    .div-button-flex{
        display: flex;
        width: 100%;
      }
      .button-filter
      {
          background: #ff9500;
          color: #ffffff;
          border-color: #ff9500;
          width: 100%;
          font-size: 16px !important;
          letter-spacing: -0.6px;
          padding: 0;
          margin-right: 8px;
      } 
      .button-clear
      {
          background: #ffffff;
          color: #ff9500;
          border: solid 1px #ff9500;
          width: 90%;
          font-size: 16px !important;
          letter-spacing: -0.4px;
          //margin: 16px 8px;
      } 

      
  }
