
<ion-header>
  <ion-toolbar style="min-height: 0px;text-align: center">
      <ion-row>
        <ion-col style="text-align: center">
          <div style="align-self: center" >
              <div style="padding-top: 6px;font-size: 20px;font-weight: bold;"><label class="text-title">Hoàn thành</label></div>
          </div>
        </ion-col>
      </ion-row>
      </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-16">
  <div class="img-trip-empty" >
    <img class="img-empty" src="./assets/empty/imgdone.svg">
</div>
<div style="margin-top: 5px">
  <div>
    <ion-label class="text">
     Gửi yêu cầu thành công
    </ion-label>
   
  </div>
  <div style="margin-top: 5px">
    <ion-label class="text-1">
      iVIVU đã nhận được yêu cầu hỗ trợ của quý khách. Chúng tôi sẽ kiểm tra thông tin và phản hồi quý khách trong vòng 60 phút trong thời gian làm việc (8:00 - 20:00)
    </ion-label>
  </div>
  
  
</div>
</ion-content>
<ion-footer>
<div class="div-button-payment-done">
  <button (click)="next()" ion-button round outline class="button button2 m-top-0">Quay về trang chủ</button>
</div>
</ion-footer>