

.d-flex{
    display: flex;
}

.div-header-title {
    padding-top: 9px !important;
    .div-title{
      margin-top: 4px;
    }
}

.flight-payment-warning-content{
    padding: 16px;

    .text-center{
        text-align: center;

        .img-payment-warning{
            margin: 24px 0 24px 0;
        }

       
    }
    .text-title{
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.28px;
        color: #222222;
        margin-bottom: 16px;
    }

    .text-warning{
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: -0.4px;
        color: #222222;

        
    }

    .div-button{
        position: absolute;
        width: 91%;
        bottom: calc(env(safe-area-inset-bottom) + 16px);

        .btnhome{
             border: solid 0.5px #F79221;
            background-color: #fff;
            color: #F79221;
            width: 100%;
            height: 48px;
            font-size: 17px !important;
        }
    }

    .text-bold{
        font-weight: bold;
    }
}